<template>
    <div>
        <div class="footer text-muted">
            &copy; 2019. Wessdil.com
        </div>
    </div>
</template>

<script>
    export default {
    }
</script>

<style scoped>

</style>