<template>
    <div>
        <!-- Main navbar -->
        <div class="navbar navbar-default bg-white">
            <div class="navbar-header">
                <a class="navbar-brand text-danger" href="#">
                    <img src="http://wessdil.com/img/logo-wessdil.png" alt="" style="width: 35px;height: 35px;">
                </a>

                <ul class="nav navbar-nav pull-right visible-xs-block">
                    <li><a data-toggle="collapse" data-target="#navbar-mobile"><i class="icon-tree5"></i></a></li>
                </ul>
            </div>

            <div class="navbar-collapse collapse" id="navbar-mobile">

                <ul class="nav navbar-nav navbar-right">

                    <!--<li class="dropdown">-->
                        <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown">-->
                            <!--<i class="icon-bell2"></i>-->
                            <!--<span class="visible-xs-inline-block position-right">Pemberitahuan</span>-->
                            <!--<span class="badge bg-warning-400">2</span>-->
                        <!--</a>-->

                        <!--<div class="dropdown-menu dropdown-content width-350">-->
                            <!--<div class="dropdown-content-heading">-->
                                <!--Pemberitahuan-->
                                <!--<ul class="icons-list">-->
                                    <!--<li><a href="#"><i class="icon-compose"></i></a></li>-->
                                <!--</ul>-->
                            <!--</div>-->

                            <!--<ul class="media-list dropdown-content-body">-->
                                <!--<li class="media">-->
                                    <!--<div class="media-left">-->
                                        <!--<img src="/vendor/admin-assets/images/placeholders/placeholder.jpg" class="img-circle img-sm" alt="">-->
                                        <!--<span class="badge bg-danger-400 media-badge">5</span>-->
                                    <!--</div>-->

                                    <!--<div class="media-body">-->
                                        <!--<a href="#" class="media-heading">-->
                                            <!--<span class="text-semibold">James Alexander</span>-->
                                            <!--<span class="media-annotation pull-right">04:58</span>-->
                                        <!--</a>-->

                                        <!--<span class="text-muted">who knows, maybe that would be the best thing for me...</span>-->
                                    <!--</div>-->
                                <!--</li>-->

                                <!--<li class="media">-->
                                    <!--<div class="media-left">-->
                                        <!--<img src="/vendor/admin-assets/images/placeholders/placeholder.jpg" class="img-circle img-sm" alt="">-->
                                        <!--<span class="badge bg-danger-400 media-badge">4</span>-->
                                    <!--</div>-->

                                    <!--<div class="media-body">-->
                                        <!--<a href="#" class="media-heading">-->
                                            <!--<span class="text-semibold">Margo Baker</span>-->
                                            <!--<span class="media-annotation pull-right">12:16</span>-->
                                        <!--</a>-->

                                        <!--<span class="text-muted">That was something he was unable to do because...</span>-->
                                    <!--</div>-->
                                <!--</li>-->

                                <!--<li class="media">-->
                                    <!--<div class="media-left"><img src="/vendor/admin-assets/images/placeholders/placeholder.jpg" class="img-circle img-sm" alt=""></div>-->
                                    <!--<div class="media-body">-->
                                        <!--<a href="#" class="media-heading">-->
                                            <!--<span class="text-semibold">Jeremy Victorino</span>-->
                                            <!--<span class="media-annotation pull-right">22:48</span>-->
                                        <!--</a>-->

                                        <!--<span class="text-muted">But that would be extremely strained and suspicious...</span>-->
                                    <!--</div>-->
                                <!--</li>-->

                                <!--<li class="media">-->
                                    <!--<div class="media-left"><img src="/vendor/admin-assets/images/placeholders/placeholder.jpg" class="img-circle img-sm" alt=""></div>-->
                                    <!--<div class="media-body">-->
                                        <!--<a href="#" class="media-heading">-->
                                            <!--<span class="text-semibold">Beatrix Diaz</span>-->
                                            <!--<span class="media-annotation pull-right">Tue</span>-->
                                        <!--</a>-->

                                        <!--<span class="text-muted">What a strenuous career it is that I've chosen...</span>-->
                                    <!--</div>-->
                                <!--</li>-->

                                <!--<li class="media">-->
                                    <!--<div class="media-left"><img src="/vendor/admin-assets/images/placeholders/placeholder.jpg" class="img-circle img-sm" alt=""></div>-->
                                    <!--<div class="media-body">-->
                                        <!--<a href="#" class="media-heading">-->
                                            <!--<span class="text-semibold">Richard Vango</span>-->
                                            <!--<span class="media-annotation pull-right">Mon</span>-->
                                        <!--</a>-->

                                        <!--<span class="text-muted">Other travelling salesmen live a life of luxury...</span>-->
                                    <!--</div>-->
                                <!--</li>-->
                            <!--</ul>-->

                            <!--<div class="dropdown-content-footer">-->
                                <!--<a href="#" data-popup="tooltip" title="All messages"><i class="icon-menu display-block"></i></a>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</li>-->

                    <li class="dropdown dropdown-user">
                        <a>
                            <img src="http://wessdil.com/img/user.png" alt="">
                            <span>
                                {{$auth.user().name}}
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /main navbar -->


        <!-- Second navbar -->
        <div class="navbar navbar-default" id="navbar-second">
            <ul class="nav navbar-nav no-border visible-xs-block">
                <li><a class="text-center collapsed" data-toggle="collapse" data-target="#navbar-second-toggle">
                    <i class="icon-menu7"></i></a></li>
            </ul>

            <div class="navbar-collapse collapse" id="navbar-second-toggle">
                <ul v-if="$auth.user().user_level_uuid == '254b19ad-2813-490f-adc1-87255a93fb83'" class="nav navbar-nav navbar-nav-material">
                    <li class="text-white"><router-link :to="{name:'dashboard'}"><i class="icon-home position-left"></i> Dashboard</router-link></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="icon-folder-open2 position-left"></i> Users Management <span class="caret"></span>
                        </a>

                        <ul class="dropdown-menu width-200">
                            <li>
                                <router-link :to="{name:'indexUser'}"><i class="icon-user-tie position-left"></i> Users</router-link>
                            </li>
                            <li>
                                <router-link :to="{name:'indexUserLevel'}"><i class="icon-user-lock position-left"></i>Users Level</router-link>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="icon-folder-open2 position-left"></i> Tourism Products <span class="caret"></span>
                        </a>

                        <ul class="dropdown-menu width-200">
                            <li>
                                <a href="#"><i class="icon-bag position-left"></i> One Day Tours</a>
                            </li>
                            <li>
                                <a href="#"><i class="icon-package position-left"></i>Tour Packages/Regular Tours</a>
                            </li>
                            <li>
                                <a href="#"><i class="icon-car2 position-left"></i> Transportation</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="glyphicon-shopping-cart position-left"></i> Bookings <span class="caret"></span>
                        </a>

                        <ul class="dropdown-menu width-200">
                            <li>
                                <a href="#"><i class="icon-checkmark position-left"></i> Active Booking</a>
                            </li>
                            <li>
                                <a href="#"><i class="icon-folder-check position-left"></i>Issued Booking</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="glyphicon-shopping-cart position-left"></i> Shops <span class="caret"></span>
                        </a>

                        <ul class="dropdown-menu width-200">
                            <li>
                                <a href="#"><i class="icon-folder-plus2 position-left"></i> Add Item</a>
                            </li>
                            <li>
                                <a href="#"><i class="icon-package position-left"></i>Items</a>
                            </li>
                            <li>
                                <a href="#"><i class="icon-coin-dollar position-left"></i> Manage Orders</a>
                            </li>
                        </ul>
                    </li>

                    <!--<li class="dropdown">-->
                        <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown">-->
                            <!--<i class="icon-gear position-left"></i> Pengaturan <span class="caret"></span>-->
                        <!--</a>-->
                        <!--<ul class="dropdown-menu width-200">-->
                            <!--<li>-->
                                <!--<a href="#">Hak Akes Pengguna</a>-->
                            <!--</li>-->
                        <!--</ul>-->
                    <!--</li>-->

                    <li><a href="#" @click.prevent="$auth.logout()"><i class="icon-exit position-left"></i> Keluar</a></li>
                </ul>
                <ul v-else class="nav navbar-nav navbar-nav-material">
                    <li><router-link :to="{name:'dashboard'}"><i class="icon-home position-left"></i> Dashboard</router-link></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="icon-briefcase3 position-left"></i> Tours <span class="caret"></span>
                        </a>

                        <ul class="dropdown-menu width-200">
                            <li>
                                <router-link :to="{name:'indexCity'}"><i class="icon-city position-left"></i> City Destination</router-link>
                            </li>
                            <li>
                                <router-link :to="{name:'indexTourPackageCategory'}"><i class="icon-make-group position-left"></i> Tour Package Category</router-link>
                            </li>
                            <li>
                                <router-link :to="{name:'indexTour'}"><i class="icon-package position-left"></i>Tours Package</router-link>
                            </li>
                        </ul>
                    </li>
                    <!--<li class="dropdown">-->
                        <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown">-->
                            <!--<i class="glyphicon-shopping-cart position-left"></i> Bookings <span class="caret"></span>-->
                        <!--</a>-->

                        <!--<ul class="dropdown-menu width-200">-->
                            <!--<li>-->
                                <!--<a href="#"><i class="icon-checkmark position-left"></i> Active Booking</a>-->
                            <!--</li>-->
                            <!--<li>-->
                                <!--<a href="#"><i class="icon-folder-check position-left"></i>Issued Booking</a>-->
                            <!--</li>-->
                        <!--</ul>-->
                    <!--</li>-->
                    <!--<li class="dropdown">-->
                        <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown">-->
                            <!--<i class="glyphicon-shopping-cart position-left"></i> Shops <span class="caret"></span>-->
                        <!--</a>-->

                        <!--<ul class="dropdown-menu width-200">-->
                            <!--<li>-->
                                <!--<a href="#"><i class="icon-folder-plus2 position-left"></i> Add Item</a>-->
                            <!--</li>-->
                            <!--<li>-->
                                <!--<a href="#"><i class="icon-package position-left"></i>Items</a>-->
                            <!--</li>-->
                            <!--<li>-->
                                <!--<a href="#"><i class="icon-coin-dollar position-left"></i> Manage Orders</a>-->
                            <!--</li>-->
                        <!--</ul>-->
                    <!--</li>-->
                    <li><router-link :to="{name:'changePassword'}"><i class="icon-lock2 position-left"></i> Ubah Kata Sandi</router-link></li>
                    <li><a href="#" @click.prevent="$auth.logout()"><i class="icon-exit2 position-left"></i> Keluar</a></li>
                </ul>
            </div>
        </div>
        <!-- /second navbar -->
    </div>
</template>

<script>
    import {mapGetters} from 'vuex'
    export default {
        mounted(){

        }
    }
</script>

<style scoped>
    .active{
        border-bottom: solid 2px #00162b;
    }

</style>