<template>
    <div>
        <page-header :page-section="'Add New'" :page-title="'Tour Package Category'" :active-section="'Add New'"
                     :breadcrumb-items="breadcrumbItems" :heading-items="headingItems"></page-header>
        <div class="page-container">
            <div class="page-content">
                <div class="content-wrapper">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-flat">
                                <div class="panel-body">
                                    <form class="form-horizontal" @submit.prevent="validateForm()">
                                        <fieldset class="content-group">
                                            <legend class="text-bold">Add New Tour Package Category</legend>

                                            <div class="form-group">
                                                <label class="control-label col-md-4">Package Category Name</label>
                                                <div class="col-md-5">
                                                    <input type="text" class="form-control" v-model="tourPackageCategory.package_category"
                                                           placeholder="Enter package category ex = Educational Tour, Religion Tour,etc" v-validate="'required'"
                                                           name="packageCategory">
                                                    <label class="validation-error-label">{{ errors.first('packageCategory') }}</label>
                                                </div>
                                            </div>

                                        </fieldset>
                                        <div class="text-right">
                                            <button type="submit" class="btn btn-primary btn-icon">
                                                <i class="icon-floppy-disk position-left"></i> Simpan
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <loading
                :show="isLoadingShow"
                :label="labelLoading">
        </loading>
    </div>
</template>

<script>
    import {mapActions} from 'vuex'
    export default {
        data(){
            return {
                breadcrumbItems:[{url:'dashboard',title:'Dashboard'},{url:'indexTourPackageCategory',title:'Tour Package Category'}],
                headingItems:[{url:'indexTourPackageCategory',title:'Back',icon:'icon-backward2'}],
                tourPackageCategory:{package_category:''},
                dict:{
                    custom:{
                        packageCategory:{
                            required:'Package category name cannot be blank'
                        }
                    }
                }
            }
        },
        mounted(){
            var elems = Array.prototype.slice.call(document.querySelectorAll('.switchery'));
            elems.forEach(function(html) {
                var switchery = new Switchery(html);
            });
        },
        methods:{
            ...mapActions('TourPackageCategoriesStore',{createTourPackageCategory:'add'}),
            validateForm(){
                let validator = this.$validator
                validator.localize('en',this.dict)

                validator.validateAll().then((result)=>{
                    if(result){
                        this.createTourPackageCategory({input:this.tourPackageCategory}).then((result)=>{
                            this.$toasted.success(result)
                            this.$router.push({name:'indexTourPackageCategory'})
                        }).catch((error)=>{
                            console.log(error.response)
                        })
                    }
                })
            }
        }
    }
</script>

<style scoped>

</style>