<template>
    <div>
        <page-header :page-section="'List'" :page-title="'Tour Package Category'" :active-section="'List'"
                     :breadcrumb-items="breadcrumbItems" :heading-items="headingItems"></page-header>
        <div class="page-container">
            <div class="page-content">
                <div class="content-wrapper">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-flat">
                                <div class="panel-body">
                                    <v-client-table v-if="tourPackageCategories" :data="tourPackageCategories" :name="stateName" :columns="columns"
                                                    :options="options">
                                        <div slot="actions" class="btn-group" slot-scope="props">
                                            <router-link :to="{name:'editTourPackageCategory',params:{uuid:props.row.uuid}}" type="button"
                                                         class="btn btn-warning btn-icon legitRipple">
                                                <i class="icon-pencil3"></i>
                                            </router-link>
                                            <button type="button" class="btn btn-icon btn-danger legitRipple"
                                                    @click="deleteTourPackageCategory(props.row.uuid,props.row.package_category)">
                                                <i class="icon-trash"></i>
                                            </button>
                                        </div>
                                    </v-client-table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <loading
                :show="isLoadingShow"
                :label="labelLoading">
        </loading>
    </div>
</template>

<script>
    import {mapActions,mapGetters} from 'vuex'
    export default {
        data(){
            return {
                breadcrumbItems:[{url:'dashboard',title:'Dashboard'}],
                headingItems:[{url:'createTourPackageCategory',title:'Add New',icon:'icon-plus-circle2'}],
                headersData:['No','Package Category','Actions'],
                columns:['no','package_category','actions'],
                options: {
                    headings: {
                        no: 'No',
                        package_category: 'Package Category',
                        actions:'Actions'
                    },
                    templates:{
                        no:function (h,row,index) {
                            return index
                        },
                    },
                    useVuex:true,
                    theme:'bootstrap3',
                    sortable: ['package_category'],
                    filterable: ['package_category']
                },
                stateName:'TourPackageCategoriesStore'
            }
        },
        mounted(){
            this.$store.dispatch('TourPackageCategoriesStore/browse',{url:'tour-package-category'})
        },
        computed:{
            ...mapGetters('TourPackageCategoriesStore',{tourPackageCategories:'getTourPackageCategories'})
        },
        methods:{
            ...mapActions('TourPackageCategoriesStore',{del:'del'}),
            deleteTourPackageCategory(id,tourPackage){
                let index = this.tourPackageCategories.findIndex(data => data.uuid === id)

                this.$swal({
                    title: "Cofirmation",
                    text: "Are you sure want to delete "+tourPackage,
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Ya!'
                }).then((result) => {
                    if(result.value){
                        this.del({id:id,index:index}).then((result)=>{
                            this.$toasted.success(result)
                        }).catch((error)=>{
                            error.response.data.errorMessage.forEach((message)=>{
                                this.$toasted.error(message)
                            })
                        })
                    }
                })
            }
        }
    }
</script>

<style scoped>

</style>