body{
    background-color: #f5f5f5!important;
}

/*Konten*/

.konten{
    margin-top: 40px;
    margin-bottom: 40px;
}

.konten h4.text-head{
    font-weight: bold;
    font-size: 20px;
    padding-left: 20px;
}

.konten .panel{
    height: auto;
    border-radius: 6px;
    box-shadow: none;
}

.konten .panel .cart-header{
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: none;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    color: #804e9a;
}

.konten .panel .cart-body{
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    margin-top: 20px;
}

.konten .panel .cart-body .image{
    width: 180px;
    height: 120px;
    background-color: #f5f5f5;
    border-radius: 6px;
}

.konten .panel .cart-body .image img{
    width: 100%;
    min-width: 50%;
    border-radius: 8px;
}

.konten .panel .cart-body h5{
    text-align: left;
    font-weight: bold;
    font-size: 14px;
    padding-left: 10px;
}

.konten .panel .cart-body .type{
    padding-top: 10px;
}

.konten .panel .cart-body .price{
    padding-top: 10px;
}

.konten .panel .cart-footer{
    margin-top: 30px;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: none;
    font-weight: bold;
    font-size: 14px;
}

.konten .panel .cart-footer .btn{
    background: #804e9a;
    color: white;
    font-weight: bold;
    font-size: 13px;
    width: 120px;
    height: 28px;
    padding: 2px;
    border-radius: 6px;
}