body{
    background-color: #f5f5f5!important;
}

/*Navigation*/
.konten .navigation{
    background-color: white;
    margin-top: 20px;
    border-radius: 6px;
}


.konten .navigation li.actived a{
    color: #804e9a;
}

.konten .navigation li:hover{
    background-color: #f1f1f1!important;
}

.konten .navigation li a{
    color: #636b6f;
    font-weight: bold;
    padding-left: 50px;
}

.konten .navigation li a:hover{
    color: #804e9a;
}

/*Profile*/
.konten .profile .panel{
    box-shadow: none;
    margin-top: 20px;
    border-radius: 6px;
}

.konten .profile .panel h5{
    font-weight: bold;
    margin-top: -5px;
    margin-bottom: -5px;
}

.konten .profile .profile-header .panel-body{
    padding: 15px;
    font-weight: bold;
    color: #a7a7a7;
}

.konten .profile .profile-header .panel-body .setting{
    margin-top: 6px;
}

.konten .profile .profile-header .panel-body a{
    text-decoration: none;
    color: #804e9a;
    font-size: 15px;
}

.konten .profile .panel.profile-header{
    background-color: #f5f5f5;
}

.konten .profile .profile-header label{
    font-weight: bold;
    color: #656464;
}

.konten .profile .profile-header input{
    background-color: white;
    border-radius: 6px;
    border-bottom: 0;
    padding-left: 5px;
    padding-right: 5px;
}

.konten .profile .profile-header .btn{
    background-color: #804e9a;
    font-weight: bold;
    color: white;
    border-radius: 6px;
}