body{
    background-color: white;
}

/*Konten Head*/
.konten-head .jumbotron{
    height: 220px;
    padding-top: 0;
    padding-bottom: 0;

}
.konten-head .jumbotron img{
    position: relative;
    bottom: 140px;
    width: 100%;
    overflow: hidden;
}

.konten-head .jumbotron .overlay{
    background: rgba(0, 0, 0, .5);
    text-align: center;
    opacity: 1;
    width: 100%;
    height: 15%;
    margin-top: 104px;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
}

.konten-head .jumbotron .overlay .nama{
    font-weight: bold;
    font-family: Poppins-SemiBold;
    color: white;
    font-size: 28px;
    position: relative;
    top: 280px;
    left: -480px;
}

/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
    .konten-head .jumbotron {
        background-color: #dedddd;
        height: 400px;
        overflow: hidden;
        padding-top: 0;
        padding-bottom: 0;
    }
}

/*About*/

.about h4{
    font-family: Poppins-SemiBold;
    color: #585757;
}

.about p{
    font-weight: bold;
    padding-top: 20px;
    color: #9d9d9d;
}

.about h6{
    font-weight: bold;
    padding-top: 10px;
    color: #804e9a;
}

.about .panel{
    border-radius: 8px;
    border: 0;
    box-shadow: 1px 4px 12px rgba(0, 0, 0, 0.2);
    margin-top: 10px;
}

.about .panel .panel-head{
    background-color: #eaeaea;
    margin-top: 0;
    height: 180px;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
}

.about .panel .panel-head img{
    width: 100%;
    height: 100%;
    min-width: 80%;
    min-height: 80%;
    border-radius: 8px;
    cursor: pointer;
}

/*Favorit*/
.favorit h4{
    font-weight: bold;
    font-size: 20px;
    text-align: left;
    padding-left: 20px;
}
.favorit .panel{
    border-radius: 8px;
    border: 0;
    box-shadow: 1px 4px 12px rgba(0, 0, 0, 0.2);
    margin-top: 10px;
}
.favorit .panel .panel-head{
    background-color: #eaeaea;
    margin-top: 0;
    height: 150px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    overflow: hidden;
}

.favorit .panel .panel-head img{
    width: 100%;
    height: 100%;
    min-width: 80%;
    min-height: 80%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    cursor: pointer;
}

.favorit .panel .panel-body{
    height: 140px;
    padding-bottom: 8px;
    padding-top: 10px;
    padding-left: 1px;
    padding-right: 1px;
}
.favorit .panel .panel-body .judul h6{
    font-weight: bold;
    font-size: 16px;
    margin-top: -12px;
    margin-left: -10px;
    padding-left: 10px;
    padding-top: 8px;
    cursor: default;
}
.favorit .panel .panel-body .judul p{
    font-weight: bold;
    font-size: 11px;
    margin-top: -12px;
    margin-left: -10px;
    color: #9d9d9d;
    padding-left: 10px;
    cursor: default;
}

.favorit .panel .panel-body .rating{
    text-align: right;
}
.favorit .panel .panel-body .rating h6{
    color: goldenrod;
    font-size: 16px;
    margin-top: -6px;
    margin-bottom: 1px;
    cursor: default;
}
.favorit .panel .panel-body .rating .diskon{
    font-size: 10px;
    background-color: #ab0606;
    color: white;
    font-weight: bold;
    width: 53px;
    border-radius: 4px;
    margin-left: 20px;
    cursor: default;
}
.favorit .panel .panel-body .rating .diskon p{
    font-weight: bold;
    text-align: center;
    padding-top: 1px;
}

.favorit .panel .panel-body .btn-book{
    margin-top: 45px;
    background: #804e9a;
    color: white;
    font-weight: bold;
    font-size: 13px;
    width: 65px;
    height: 28px;
    padding: 4px;
    border-radius: 4px;
    transition: 0.3s;
}
.favorit .panel .panel-body .btn-book:hover{
    background: #b3b1b1;
}
.favorit .panel .panel-body .btn-view{
    margin-top: 45px;
    background: #b3b1b1;
    color: white;
    font-weight: bold;
    font-size: 12px;
    width: 70px;
    height: 28px;
    padding: 4px;
    border-radius: 4px;
    transition: 0.3s;
}
.favorit .panel .panel-body .btn-view:hover{
    background: #804e9a;
}

.favorit .panel .panel-body .harga p{
    font-size: 11px;
    margin-top: 35px;
    color: #9d9d9d;
    font-weight: bold;
    cursor: default;
}
.favorit .panel .panel-body .harga h5{
    font-size: 16px;
    color: #804e9a;
    font-weight: bold;
    margin-top: -10px;
    cursor: default;
}

/*Range*/
.range{
    margin-top: 20px;
    margin-bottom: 50px;
}
.range h4{
    font-weight: bold;
    font-size: 20px;
    text-align: left;
    padding-left: 20px;
}
.range .konten{
    margin-top: 10px;
    background-color: #dcdcdc;
    height: 100px;
    border-radius: 8px;
    padding: 20px;
}

.range .konten h6{
    font-weight: bold;
    font-size: 10px;
    padding-top: 12px;
}

.range .konten .btn{
    background: #804e9a;
    color: white;
    font-weight: bold;
    font-size: 13px;
    width: 100%;
    height: 28px;
    padding: 2px;
    margin-top: 12px;
    border-radius: 20px;
}
