body{
    background-color: #f5f5f5!important;
}

/*Konten*/
.konten .panel.faq{
    margin-top: 20px;
    box-shadow: none;
    border-radius: 6px;
}
.konten .panel.faq h5{
    font-weight: bold;
    color: #636b6f;

}
.konten .panel.faq h5 span{
    font-weight: normal;
    font-size: 14px;
}

.konten .panel #accordion-control-right .panel{
    box-shadow: none;
}
.konten .panel #accordion-control-right .panel .panel-body{
    border-top: 0;
}

.konten .panel #accordion-control-right .panel .panel-title{
    font-weight: bold;
    color: #636b6f;
}

.konten .panel #accordion-control-right .panel .panel-title a:before{
    content: '\e9c2';
}

.konten .panel #accordion-control-right .panel .panel-title a.collapsed:before{
    content: '\e9c1';
}

/*Navigation*/
.konten .navigation{
    background-color: white;
    margin-top: 20px;
    border-radius: 6px;
}

.konten .navigation li.actived{
    background-color: #f1f1f1;
}

.konten .navigation li.actived a{
    color: #804e9a;
}

.konten .navigation li:hover{
    background-color: #f1f1f1!important;
}

.konten .navigation li a{
    color: #636b6f;
    font-weight: bold;
}

.konten .navigation li a:hover{
    color: #804e9a;
}