/*Konten*/

.konten .panel{
    border: 0;
    padding: 10px;
}

.konten .panel h5{
    padding-left: 20px;
    font-weight: bold;
    color: #4a4a4a;
}

.konten .detail-pembeli{
    margin-top: 40px;
}

.konten .detail-pembeli label{
    font-weight: bold;
    color: #676767;
}

.konten .ringkasan-belanja{
    margin-top: 40px;
}

.konten .ringkasan-belanja p{
    font-weight: bold;
    color: #676767;
}

.konten .ringkasan-belanja button{
    background: #804e9a;
    color: white;
    font-weight: bold;
    font-size: 13px;
    width: 100%;
    height: 28px;
    border-radius: 20px;
    padding: 2px;
}

.konten .detail-belanja .image{
    background-color: #9d9d9d;
    margin-top: 8px;
    margin-left: 8px;
    height: 80px;
    margin-bottom: 20px;
}

.konten .detail-belanja h5.nama-barang{
    margin-bottom: 0;
    margin-left: -20px;
}
.konten .detail-belanja span{
    font-weight: bold;
}

.konten .detail-belanja p{
    font-weight: bold;
    font-size: 14px;
    text-align: right;
    margin-top: 15px;
}
.konten .detail-belanja label{
    font-weight: bold;
    margin-bottom: 0;
}

.konten .detail-belanja button{
    background: transparent;
    font-weight: bold;
    font-size: 13px;
    text-align: left;
    width: 100%;
    height: 28px;
    border: 2px solid;
    border-radius: 5px;
    padding: 2px;
    cursor: default;
}
