/*Konten Head*/
.konten-head .jumbotron{
    background-color: #dedddd;
    height: 220px;
    padding-top: 0px;
}

.konten-head .jumbotron .carousel-inner img{
    position: relative;
    top: 0px;
    height: 220px;
}

.konten-head .jumbotron .carousel{
    height: 210px;
}

/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
    .konten-head .jumbotron{
        background-color: #dedddd;
        height: 400px;
        padding-top: 0px;
        overflow: hidden;
    }
    .konten-head .jumbotron .carousel-inner img{
        top: 0px;
        height: 100%;
    }

    .konten-head .jumbotron .carousel{
        height: 500px!important;
    }
}


.konten-head .jumbotron .carousel .carousel-indicators{
    margin-bottom: 110px;
}


/*tab-home*/
.tab-home .panel{
    margin-top: -80px;
    border: 0;
    border-radius: 8px;
    box-shadow: 2px 6px 16px rgba(0, 0, 0, 0.2);
}
.tab-home .panel .panel-body{
    background-color: white;
    border-radius: 8px;
    padding: 0px;
    padding-bottom: 0;
}
.tab-home .panel .panel-body h4{
    font-family: Lobster;
    font-size: 24px;
    padding-left: 10px;
    margin-bottom: -2px;
    color: #797777;
}
.tab-home .nav-tabs-left>.nav-tabs {
    background-color: #ddd;
    /* border-right: 1px solid #ddd; */
    border-radius: 8px 0px 0px 8px;
    overflow-x: hidden;
    overflow-y: scroll;
}
.tab-home .nav-tabs-left>.nav-tabs-highlight>li.active>a{
    border-left-color: #804e9a;
    border-left-width: medium;
}
.tab-home .panel .panel-body p{
    margin-left: 10px;
    font-size: 14px;
    color: #656363;
}
.tab-home .panel .panel-body input{
    background-color: #eaeaea;
    border: 0px;
}



/*Favorit*/
.favorit h4{
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}
.favorit .panel{
    border-radius: 8px;
    border: 0;
    box-shadow: 1px 4px 12px rgba(0, 0, 0, 0.2);
    margin-top: 10px;
}
.favorit .panel .panel-head{
    background-color: #eaeaea;
    margin-top: 0;
    height: 150px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    overflow: hidden;
}

.favorit .panel .panel-head img{
    width: 100%;
    height: 100%;
    min-width: 80%;
    min-height: 80%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    cursor: pointer;
}

.favorit .panel .panel-body{
    height: 140px;
    padding-bottom: 8px;
    padding-top: 10px;
    padding-left: 1px;
    padding-right: 1px;
}
.favorit .panel .panel-body .judul h6{
    font-weight: bold;
    font-size: 16px;
    margin-top: -12px;
    margin-left: -10px;
    padding-left: 10px;
    padding-top: 8px;
    cursor: default;
}
.favorit .panel .panel-body .judul p{
    font-weight: bold;
    font-size: 11px;
    margin-top: -12px;
    margin-left: -10px;
    color: #9d9d9d;
    padding-left: 10px;
    cursor: default;
}

.favorit .panel .panel-body .rating{
    text-align: right;
}
.favorit .panel .panel-body .rating h6{
    color: goldenrod;
    font-size: 16px;
    margin-top: -6px;
    margin-bottom: 1px;
    cursor: default;
}
.favorit .panel .panel-body .rating .diskon{
    font-size: 10px;
    background-color: #ab0606;
    color: white;
    font-weight: bold;
    width: 53px;
    border-radius: 4px;
    margin-left: 20px;
    cursor: default;
}
.favorit .panel .panel-body .rating .diskon p{
    font-weight: bold;
    text-align: center;
    padding-top: 1px;
}

.favorit .panel .panel-body .btn-book{
    margin-top: 45px;
    background: #804e9a;
    color: white;
    font-weight: bold;
    font-size: 13px;
    width: 65px;
    height: 28px;
    padding: 4px;
    border-radius: 4px;
    transition: 0.3s;
}
.favorit .panel .panel-body .btn-book:hover{
    background: #b3b1b1;
}
.favorit .panel .panel-body .btn-view{
    margin-top: 45px;
    background: #b3b1b1;
    color: white;
    font-weight: bold;
    font-size: 12px;
    width: 70px;
    height: 28px;
    padding: 4px;
    border-radius: 4px;
    transition: 0.3s;
}
.favorit .panel .panel-body .btn-view:hover{
    background: #804e9a;
}

.favorit .panel .panel-body .harga p{
    font-size: 11px;
    margin-top: 35px;
    color: #9d9d9d;
    font-weight: bold;
    cursor: default;
}
.favorit .panel .panel-body .harga h5{
    font-size: 16px;
    color: #804e9a;
    font-weight: bold;
    margin-top: -10px;
    cursor: default;
}

/*Destination*/
.destination h4{
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.destination .text h6{
    font-weight: bold;
    font-size: 18px;
    padding-top: 10px;
    padding-left: 5px;
    color: #313131;
}
.destination .text p{
    font-weight: bold;
    font-size: 12px;
    padding-left: 5px;
    color: #5a5555;
}

.destination .panel{
    border-radius: 8px;
    border: 0;
    box-shadow: 1px 4px 12px rgba(0, 0, 0, 0.2);
    margin-top: 10px;
}
.destination .panel .panel-head{
    background-color: #eaeaea;
    margin-top: 0;
    height: 180px;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
}
.destination .panel .panel-head .overlay{
    background: rgba(0, 0, 0, .5);
    text-align: center;
    opacity: 1;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
}
.destination .panel .panel-head .overlay .nama{
    position: relative;
    top: 80px;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.destination .panel .panel-head img{
    width: 100%;
    height: 100%;
    min-width: 80%;
    min-height: 80%;
    border-radius: 8px;
    cursor: pointer;
}
