
body {
    background-color: white;
}
/*!*Konten Head*!*/
/*.konten-head .jumbotron{*/
    /*background-color: #dedddd;*/
    /*height: 220px;*/
    /*padding-top: 0px;*/
/*}*/

/*.konten-head .jumbotron .carousel-inner img{*/
    /*position: relative;*/
    /*top: 0px;*/
    /*height: 220px;*/
/*}*/

/*.konten-head .jumbotron .carousel{*/
    /*height: 210px;*/
/*}*/

/*// Small devices (landscape phones, 576px and up)*!*!*/
/*@media (min-width: 576px) {*/
    /*.konten-head .jumbotron{*/
        /*background-color: #dedddd;*/
        /*height: 450px;*/
        /*padding-top: 0px;*/
        /*overflow: hidden;*/
    /*}*/
    /*.konten-head .jumbotron .carousel-inner img{*/
        /*top: -250px;*/
        /*height: 100%;*/
    /*}*/

    /*.konten-head .jumbotron .carousel{*/
        /*height: 450px;*/
    /*}*/
/*}*/


/*.konten-head .jumbotron .carousel .carousel-indicators{*/
    /*margin-bottom: 20px;*/
/*}*/


/*Booking Hotel*/
.booking-hotel .container .row .panel{
    margin-top: -70px !important;
    box-shadow: 2px 4px 8px rgba(0,0,0,0.2);
}

.booking-hotel .panel .nav-tabs{
    border: none;
}

/*// Small devices (landscape phones, 576px)*/
@media (max-width: 576px) {
    .booking-hotel .panel .nav-tabs:before{
        display: none;
    }

}
.booking-hotel .form-group .form-control{
    background: #f1f1f1;
    border: 1px solid #f1f1f1;
}
.booking-hotel .form-group button.form-control{
    background: #804e9a;
    color: white;
    font-weight: bold;
}
.booking-hotel .form-group label{
    font-weight: bold;
    font-size: 15px;
    color: #949090;
}

.booking-hotel .nav-tabs li{
    border: 0px;
}

.booking-hotel .nav-tabs li a{
    font-size: 15px;
    font-weight: bold;
    color: #804e9a;
    border-radius: 0;
}

.booking-hotel .nav-tabs li{
    background-color: #f1f1f1;
}

.booking-hotel .panel-body{
    padding: 0px;
}

.booking-hotel .panel-body .tabbable .nav-tabs{
    margin-bottom: 0px;
}

.booking-hotel .tab-content{
    padding: 50px;
}

/*// Small devices (landscape phones, 576px)*/
@media (max-width: 576px) {
    .booking-hotel .tab-content{
        padding: 20px;
    }
}


/*Rekomendasi Hotel*/
.project {
    width: 270px;
    border-radius: 10px;
    margin-top: 20px;
}
.project__image {
    width: 270px;
    height: 180px;
    border-radius: 10px;
    display: block;
    position: relative;
}
.rekomendasi-hotel .project{
    perspective: 1000px;
    transform-style: preserve-3d;
}

.rekomendasi-hotel .project .project__card{
    perspective: 1000px;
    transform-style: preserve-3d;
    transform: rotateX(0deg) rotateY(0deg);
}


/*Hotel Terpopuler*/

.hotel-populer h5 a{
    font-weight: bold;
    color: #7b7a7a;
}
.hotel-populer h5 a:hover{
    color: #804e9a;
}

.hotel-populer span{
    color: #b3adad;
}


/*Hotel partner*/

.hotel-partner img{
    width: 60%;
    cursor: pointer;
}

.hotel-partner h5{
    color: #949090;
}

/*Berlangganan*/
.berlangganan .jumbotron{
    margin-top: 50px;
    background-color: #dedddd;
    padding-top: 0px;
    padding-bottom: 0px;
    padding: 10px;
}

.berlangganan .jumbotron h5{
    margin-top: 16px;
}

.berlangganan .jumbotron .form-group .form-control{
    border-radius: 100px;
    margin-top: 12px;
}

.berlangganan .jumbotron button.btn-berlangganan{
    margin-top: 12px;
    background: #804e9a;
    color: white;
    font-weight: bold;
    font-size: 13px;
    width: 120px;
    height: 35px;
    padding: 2px;
}
