
/*Detail Hotel*/
.detail-hotel .detail{
    margin-top: 20px;
    width: 900px;
    height: 650px;
    background-color: white;
    border-radius: 10px;
    padding: 30px;
    padding-top: 0px;
    margin-bottom: 20px;
}

.detail-hotel .detail h2{
    font-weight: bold;
    color: #5d5c5c;
}

.detail-hotel .detail span{
    font-weight: bold;
    font-size: 14px;
    color: #9d9d9d;
}

.detail-hotel .detail .detail-image{
    background-color: #ddd;
    height: 400px;
    margin-top: 35px;
}

.detail-hotel .detail .recomended-image{
    background-color: #ddd;
    height: 100px;
    margin-top: 10px;
}

.detail-hotel .detail .recomended-image2{
    background-color: #ddd;
    height: 100px;
    margin-top: 10px;
    margin-left: 20px;
}

.detail-hotel .detail button{
    margin-top: 72px;
    margin-left: 22px;
    font-weight: bold;
    width: 100%;
    background-color: #804e9a;
    border: 0px;
    border-radius: 4px;
}



/*book kamar*/
.book-kamar .kamar{
    margin-top: 30px;
    width: 900px;
    height: 480px;
    padding: 40px;
    padding-top: 30px;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 40px;
}

.book-kamar .kamar .kamar-image{
    width: 150px;
    height: 120px;
    margin-top: 8px;
    background-color: #ddd;
}

.book-kamar .kamar h4{
    font-weight: bold;
    font-size: 15px;
    color: #5d5b5b;
    margin-top: 8px;
    margin-bottom: 0px;
}

.book-kamar .kamar span.fasilitas-atas{
    color: #9d9d9d;
    font-weight: bold;
}

.book-kamar .kamar span.fasilitas-bawah{
    color: #0F9E5E;
    font-weight: bold;
    padding-top: 40px;
}

.book-kamar .kamar span.room{
    color: #804e9a;
    font-weight: bold;
}

.book-kamar .kamar button{
    width: 100%;
    margin-top: 35px;
    font-weight: bold;
    background-color: #804e9a;
    border: 0px;
    border-radius: 20px;
}

.book-kamar .kamar .semua-kamar h6{
    font-weight: bold;
    font-size: 12px;
    color: #804e9a;
    text-transform: uppercase;
    margin-bottom: 0px;
    text-align: center;
}
.book-kamar .kamar .semua-kamar p{
    font-weight: bold;
    color: #9d9d9d;
    text-align: center;
}

/*Deskripsi*/
.deskripsi .isi-deskripsi{
    background-color: white;
    width: 100%;
    height: 400px;
}

.deskripsi .isi-deskripsi .nav-tabs a{
    font-weight: bold;
}

.deskripsi .isi-deskripsi .nav-tabs li.active a{
    border: none;
}

.deskripsi .isi-deskripsi .nav-tabs.nav.nav-justified li a{
    border-bottom: none;
}