/*Konten*/

.konten h4{
    font-weight: bold;
    font-size: 16px;
    color: #696969;
    margin-bottom: -10px;
}

.konten .panel{
    border: 0px;
}

.konten .data-pemesan{
    margin-top: 40px;
}
.konten .data-pemesan h4{
    margin-bottom: 0px;
}
.konten .data-pemesan label{
    font-weight: bold;
    color: #696969;
    margin-bottom: 0px;
}
.konten .data-pemesan input{
    border: 0;
    border-radius: 0;
    background-color: #f3f3f3;
}

.konten .rincian-pesanan{
    margin-top: 40px;
}
.konten .rincian-pesanan .panel h5{
    font-weight: bold;
    font-size: 14px;
    color: #696969;
    padding-left: 15px;
    padding-top: 5px;
}
.konten .rincian-pesanan .panel img{
    width: 100%;
    min-width: 50%;
    margin-top: -20px;
    margin-bottom: 10px;
}
.konten .rincian-pesanan .panel h5.nama-hotel{
    margin-top: -30px;
    margin-bottom: 0;
    margin-left: -20px;
}
.konten .rincian-pesanan .panel i{
    margin-left: -2px;
    color: goldenrod;
}
.konten .rincian-pesanan .panel i:hover{
    color: gold;
}
.konten .rincian-pesanan .panel hr{
    margin-top: 5px;
    margin-bottom: 10px;
}
.konten .rincian-pesanan .panel p{
    font-weight: bold;
    color: #696969;
    margin-bottom: 0;
}

.konten .rincian-harga{
    margin-top: -40px;
}
.konten .rincian-harga .panel h5{
    font-weight: bold;
    font-size: 15px;
    color: #696969;
    padding-left: 20px;
    padding-top: 20px;
}
.konten .rincian-harga .panel p{
    font-weight: bold;
    color: #696969;
    margin-top: -25px;
}
.konten .rincian-harga .panel button{
    background-color: #804e9a;
    color: white;
    font-weight: bold;
    width: 100%;
    margin-top: 30px;
}