.project {
    width: 370px;
    border-radius: 10px;
    margin-top: 20px;
}
.project-list:after {
    content: " ";
    display: block;
    clear: both; }
.project__image {
    width: 370px;
    height: 220px;
    border-radius: 10px;
    display: block;
    position: relative;
}
.project__image img {
    width: 100%;
    border-radius: 10px;
    /*max-width: 100%;*/
    height: 100%;
    max-height: 100%;
    display: block;
}
.project__image:after {
    content: " ";
    border-radius: 10px;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.4));
    transition: opacity .3s ease;
    opacity: 1;
}
.project__card {
    border-radius: 10px;
    position: relative;
    transition: box-shadow .3s ease;
    box-shadow: 0 10px 30px transparent;
}
.project:hover .project__card {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}
.project:hover .project__image:after {
    opacity: 1;
}
.project .project__title {
    font-weight: bold;
    position: relative;
    font-size: 18px;
    margin-bottom: 0;
    line-height: 1;
}
.project__detail {
    position: absolute;
    bottom: 10px;
    left: 15px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-transform: translateZ(30px);
    transform: translateZ(30px);
    border: 0 solid #fff;
}

.project__title a {
    color: white;
}
.project__category a {
    color: rgba(255, 255, 255, 1);
    font-size: 1.3em; }
