body{
    background-color: #f5f5f5!important;
}

/*Navigation*/
.konten .navigation{
    background-color: white;
    margin-top: 20px;
    border-radius: 6px;
}


.konten .navigation li.actived a{
    color: #804e9a;
}

.konten .navigation li:hover{
    background-color: #f1f1f1!important;
}

.konten .navigation li a{
    color: #636b6f;
    font-weight: bold;
    padding-left: 50px;
}

.konten .navigation li a:hover{
    color: #804e9a;
}

/*Order*/
.konten .order .panel{
    box-shadow: none;
    margin-top: 20px;
    border-radius: 6px;
}

.konten .order .panel h5{
    font-weight: bold;
    margin-top: -5px;
    margin-bottom: -5px;
}

.konten .order .panel .khusus{
    padding-right: 0;
    padding-left: 0;
}

.konten .order .panel .image{
    background-color: #f5f5f5;
    width: 100%;
    height: 100px;
    border-radius: 4px;
}

.konten .order .panel .produk h6{
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 2px;
}

.konten .order .panel .produk span{
    font-weight: bold;
    color: #804e9a;
    font-size: 14px;
}

.konten .order .panel .detail h6{
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 1px;
    text-align: right;
    font-size: 12px;
}

.konten .order .panel .detail span{
    font-weight: bold;
    font-size: 12px;
    float: right;
}

.konten .order .panel .detail .btn{
    background: #804e9a;
    color: white;
    font-weight: bold;
    font-size: 13px;
    width: 90px;
    height: 28px;
    padding: 2px;
    margin-top: 5px;
}