body{
    background-color: #f5f5f5!important;
}

/*Konten*/
.konten .pembayaran{
    margin-top: 60px;
}

.konten .pembayaran .panel{
    height: 500px;
}

.konten .pembayaran .panel .panel-body{
    padding: 1px;
    padding-right: 10px;
    border-radius: 8px;
    height: 500px;
}

.konten .pembayaran .panel-body .tab-content h5{
    font-weight: bold;
    color: #636b6f;
    margin-top: 10px;
}

.konten .pembayaran .panel-body .tab-content img{
    width: 80px;
    margin-top: 6px;
}

.konten .pembayaran .panel-body .tab-content img.mastercard{
    width: 40px;
}

.konten .pembayaran .panel-body .tab-content img.visa{
    width: 40px;
    margin-left: 10px;
}

.konten .pembayaran .panel-body .tab-content img.alfamart{
    width: 50px;
}

.konten .pembayaran .panel-body .tab-content img.alfamidi{
    width: 50px;
    margin-left: 10px;
}

.konten .pembayaran .panel-body .tab-content .transfer .radio{
    border: 1px solid #636b6f;
    padding: 10px;
    border-radius: 8px;
}

.konten .pembayaran .panel-body .tab-content .transfer .radio label{
    padding-left: 8px;
    font-weight: bold;
}

.konten .pembayaran .panel-body .tab-content .transfer .radio .choice{
    position: relative;
    top: 0;
    margin-right: 6px;
}

.konten .pembayaran .panel-body .tab-content .btn{
    background: #804e9a;
    color: white;
    font-weight: bold;
    font-size: 13px;
    width: 160px;
    height: 28px;
    padding: 2px;
}


.konten .pembayaran .nav-tabs-left .nav-tabs{
    border-right: 0;
    background-color: #804e9a;
}

.konten .pembayaran .nav-tabs-vertical{
    height: 100%;
}

.konten .pembayaran .nav-tabs-vertical .nav-tabs{
    width: 250px;
}

.konten .pembayaran .nav-tabs-left .nav-tabs li a{
    border-top: 0;
    border-bottom: 0;
    font-weight: bold;
    color: white;
}

.konten .pembayaran .nav-tabs-left .nav-tabs li.judul a{
    cursor: default;
}

.konten .pembayaran .nav-tabs-left .nav-tabs li.active a{
    color: #333;
}

.konten .detail-booking{
    margin-top: 60px;
}

.konten .detail-booking .panel{
    border: 0;
    border-radius: 8px;
}

.konten .detail-booking .panel .judul p{
    font-weight: bold;
    font-family: Poppins-SemiBold;
    color: #9d9d9d;
    text-transform: uppercase;
}

.konten .detail-booking .panel p{
    font-weight: bold;
    color: #585858;
}

.konten .detail-booking .panel .btn{
    background: #804e9a;
    color: white;
    font-weight: bold;
    font-size: 13px;
    width: 160px;
    height: 28px;
    padding: 2px;
}

.konten .detail-booking .panel hr{
    margin-top: 0;
}