body{
    background-color: #f5f5f5!important;
}

/*Konten*/
.konten .jumbotron{
    background-image: url("../img/best/bali.png");
    background-size: cover;
    height: 180px;
}

.konten .jumbotron h5{
    color: white;
    font-size: 22px;
}


/*contract-detail*/

.konten .contract-detail{
    margin-top: 10px;
}

.konten .contract-detail .panel{
    box-shadow: none;
    border-radius: 6px;
}

.konten .contract-detail h4{
    margin-bottom: 0px;
}
.konten .contract-detail label{
    font-weight: bold;
    color: #696969;
    margin-bottom: 0px;
}
.konten .contract-detail input{
    border: 0;
    border-radius: 0;
    background-color: #f3f3f3;
}

/*Detal*/
.konten .detail .panel{
    box-shadow: none;
}
.konten .detail .panel .panel-head{
    background-color: #eaeaea;
    margin-top: 0;
    height: 150px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    overflow: hidden;
}

.konten .detail .panel .panel-head img{
    width: 100%;
    height: 100%;
    min-width: 80%;
    min-height: 80%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    cursor: pointer;
}

.konten .detail .panel .panel-body{
    height: 140px;
    padding-bottom: 8px;
    padding-top: 10px;
    padding-left: 1px;
    padding-right: 1px;
}
.konten .detail .panel .panel-body .judul h6{
    font-weight: bold;
    font-size: 16px;
    margin-top: -12px;
    margin-left: -10px;
    padding-left: 10px;
    padding-top: 8px;
    cursor: default;
}
.konten .detail .panel .panel-body .judul p{
    font-weight: bold;
    font-size: 11px;
    margin-top: -12px;
    margin-left: -10px;
    color: #9d9d9d;
    padding-left: 10px;
    cursor: default;
}

.konten .detail .panel .panel-body .rating{
    text-align: right;
}
.konten .detail .panel .panel-body .rating h6{
    color: goldenrod;
    font-size: 16px;
    margin-top: -6px;
    margin-bottom: 1px;
    cursor: default;
}
.konten .detail .panel .panel-body .rating .diskon{
    font-size: 10px;
    background-color: #ab0606;
    color: white;
    font-weight: bold;
    width: 53px;
    border-radius: 4px;
    margin-left: 20px;
    cursor: default;
}
.konten .detail .panel .panel-body .rating .diskon p{
    font-weight: bold;
    text-align: center;
    padding-top: 1px;
}



/*Traveller detail*/

.konten .traveller-detail{
    margin-top: 10px;
}

.konten .traveller-detail .panel{
    box-shadow: none;
    border-radius: 6px;
}

.konten .traveller-detail h5{
    color: #804e9a;
    margin-top: 0;
}
.konten .traveller-detail label{
    font-weight: bold;
    color: #696969;
    margin-bottom: 0px;
}
.konten .traveller-detail input{
    border: 0;
    border-radius: 0;
    background-color: #f3f3f3;
}

/*Price detail*/

.konten .price-detail{
    margin-top: 10px;
}

.konten .price-detail .panel{
    box-shadow: none;
    border-radius: 6px;
}

.konten .price-detail .panel p{
    font-weight: bold;
    font-size: 16px;
}

.konten .price-detail .panel h5{
    font-weight: bold;
    font-size: 20px;
    color: #804e9a;
    margin-top: 0;
    padding-top: 0;
}

.konten .price-detail .panel .btn{
    background: #804e9a;
    color: white;
    font-weight: bold;
    font-size: 13px;
    width: 140px;
    height: 32px;
    padding: 2px;
    border-radius: 20px;
    margin-top: 15px;
}