/*form*/
.booking-form .content{
    padding: 50px;
}
.populer .container h4{
    text-align: center;
}
.project__image {
    width: 370px;
    height: 220px;
    border-radius: 10px;
    display: block;
    position: relative;
}
.project__image img {
    border-radius: 10px;
    height: 100%;
    max-height: 100%;
    display: block;
}
.project {
    width: 370px;
    border-radius: 10px;
    margin-top: 20px;
}
.populer .container h5{
    margin-bottom: 1px;
}
h5 a{
    margin-bottom: 1px;
    font-weight: bold;
    color: black;
}
h5 a:hover{
    font-weight: bold;
    color: black;
}
small a{
    color: #32bf38;
}
small a:hover{
    color: #32bf38;
}
/*daftar mobil*/
.daftar-mobil{
    padding-top: 20px;
}
.daftar-mobil .container h4{
    text-align: center;
}
/*partner*/
.partner .container h4{
    text-align: center;
}