/*Konten*/

.konten .judul h4{
    font-weight: bold;
    margin-left: 10px;
    color: #505050;
}

.konten .panel{
    border: 0;
}

.konten .panel .panel-body{
    background-color: #e0dddd;
    height: 200px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}
.konten .panel .panel-footer{
    background-color: #f3f3f3d4;
    height: 100px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding-right: 20px;
    padding-left: 20px;
}
.konten .panel .panel-footer h5{
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 0;
    color: #505050;
}
.konten .panel .panel-footer p{
    font-weight: bold;
    font-size: 15px;
    color: #00b162;
}
.konten .panel .panel-footer a .icon-star-full2{
    text-decoration: none;
    color: goldenrod;
    font-size: 18px;
}
.konten .panel .panel-footer a .icon-star-full2:hover{
    color: gold;
}

.konten .tombol button{
    background-color: #804e9a;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    font-size: 12px;
    width: 100%;
    height: 28px;
    padding: 2px;
    margin-top: 20px;
    margin-bottom: 20px;
}