body{
    background-color: white;
}

/*Konten Head*/
.konten-head .jumbotron{
    background-image: url("../img/bg-carousel.png");
    background-repeat:no-repeat;
    background-size:cover;
    height: 500px!important;
}
.konten-head .jumbotron{
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}
.konten-head .jumbotron .carousel .carousel-indicators{
    margin-bottom: 145px !important;
}
.carousel .item{
    height: 355px !important;
}
.carousel-inner .item img{
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    min-height: 355px !important;
}
.btn{
    text-transform: none !important;
}
/*Navbar Utama*/

.navbar-utama{
    min-height: 60px;
    position: absolute;
    z-index: 1;
}

.navbar-header .navbar-brand img{
    margin-top: -5px;
    width: 110px;
    height: 45px;
}

.navbar-nav li.dropdown{
    margin-top: 7px;
    margin-right: 5px;
}

.navbar-nav li.dropdown img{
    width: 25px;
}

.navbar-utama .nav li{
    font-weight: bold;
}
.navbar-utama .nav li a{
    color: white;
}

.nav-tabs>li>a{
    text-transform: none !important;
}
.logo{
    width: 60px !important;
    height: 25px !important;
}
/*carousel*/
.carousel-item img{
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    min-height: 355px !important;
}
/*Booking Form*/
.booking-form{
    background-color: white;
}
.booking-form .panel{
    margin-top: -70px;
}
.booking-form .form-group .form-control{
    background: #f1f1f1;
    border: 1px solid #f1f1f1;
}
.booking-form .form-group button.form-control{
    background: #804e9a;
    color: white;
    font-weight: bold;
}
.booking-form .form-group label{
    font-weight: bold;
    font-size: 15px;
    color: #949090;
}

.booking-form .nav-tabs li{
    border: 0px;
}

.booking-form .nav-tabs li a{
    font-size: 15px;
    font-weight: bold;
    color: #804e9a;
    border-radius: 0;
}

.booking-form .nav-tabs li{
    background-color: #f1f1f1;
}

.booking-form .panel-body{
    padding: 0px;
}

.booking-form .panel-body .tabbable .nav-tabs{
    margin-bottom: 0px;
}

.booking-form .tab-content{
    padding: 50px;
}
/*Konten Footer*/
.konten-footer{
    background-color: white;
}

.konten-footer h5{
    font-weight: bold;
    font-family: Poppins-SemiBold;
    color: #5e5e5e;
}

.konten-footer .container a{
    color: #9d9d9d;
}
.konten-footer span a{
    text-decoration: none;
    color: #979393;
    font-weight: bold;
}

.konten-footer span a:hover{
    color: #804e9a;
}
/*Berlangganan*/
.berlangganan{
    background-color: #dedddd;

}

.berlangganan h5{
    margin-top: 20px;
    color: #636b6f;
}

.berlangganan .form-group .form-control{
    border-radius: 100px;
    margin-top: 16px;
}

.berlangganan .btn-berlangganan{
    margin-top: 16px;
    background: #804e9a;
    color: white;
    font-weight: bold;
    font-size: 13px;
    width: 120px;
    height: 35px;
    padding: 2px;
}
/*Footer*/
footer .footer-akhir{
    padding: 1px;
    background-color: #804e9a;
    margin-top: 50px;
}
footer .footer-akhir h6{
    color: white;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
}
footer {

}

