/*form*/
.booking-form .content{
    padding: 50px;
}
/*paket tour*/
.paket-tour .project {
    width: 270px;
    border-radius: 6px;
    margin-top: 0px !important;
}
.paket-tour .project__image {
    width: 270px;
    height: 300px;
    border-radius: 10px;
    display: block;
    position: relative;
    overflow: hidden;
}
.project__image img {
    width: auto;
    border-radius: 10px;
    height: 100%;
    max-height: 100%;
    display: block;
}
.paket-tour .project{
    perspective: 1000px;
    transform-style: preserve-3d;
}

.paket-tour .project .project__card{
    perspective: 1000px;
    transform-style: preserve-3d;
    transform: rotateX(0deg) rotateY(0deg);
}
.paket-tour .container .row .project .btn{
    background: #804e9a;
    margin-top: 5px;
    color: white;
    font-weight: bold;
}
/*pilih hotel*/
.pilih-hotel{
    padding-top: 10px;
}
.pilih-hotel .project {
    width: 270px;
    border-radius: 6px;
    margin-top: 0px !important;
}
.pilih-hotel .project__image {
    width: 270px;
    height: 180px;
    border-radius: 10px;
    display: block;
    position: relative;
    overflow: hidden;
}
.pilih-hotel .project{
    perspective: 1000px;
    transform-style: preserve-3d;
}

.pilih-hotel .project .project__card{
    perspective: 1000px;
    transform-style: preserve-3d;
    transform: rotateX(0deg) rotateY(0deg);
}
.pilih-hotel .container .row .project h5{
    font-weight: bold;
    margin-bottom: 1px;
}
.pilih-hotel .star{
    color: #ffbe00;
    margin-bottom: 2px;
}
.pilih-hotel .container .row .project .btn{
    background: #804e9a;
    font-weight: bold;
    color: white;
    width: 100px;
    height: 30px;
    line-height: 1 !important;
}
.pilih-hotel .container .btn-sm{
    background-color: white;
    border: 1px solid #804e9a;
    font-weight: bold;
    color: #804e9a;
    width: 100px;
    height: 30px;
    margin-bottom: 20px;
    line-height: 1 !important;
    float: right;
}