.jumbotron{
    background-image: url("../img/best/bali.png");
    margin-bottom: 0 !important;
    height: 400px;
}
/*judul*/
.judul-tour .container .breadcrumb{
    padding-top: 7px;
    padding-bottom: 7px;
}
.judul-tour .container .row h2{
    margin-top: 1px;
    margin-bottom: 1px;
    font-weight: bold;
}
.judul-tour .container .row h4{
    margin-top: 1px;
    margin-bottom: 1px;
    color: #804e9a;
}
.judul-tour .container .row hr{
    margin-top: 0;
    margin-bottom: 1px;
}
.judul-tour .container .row .btn{
    background-color: #804e9a;
    color: white;
    height: 30px;
    line-height: 1px;
    width: 120px;
}
.icon-star-full2{
    text-decoration: none;
    color: goldenrod;
    font-size: 15px;
}
.judul-tour .container a .icon-star-full2:hover{
    color: gold;
}
.judul-tour .container .nav-tabs{
    margin-bottom: 5px;
}
.judul-tour .container .nav-tabs.nav-tabs-bottom>li.active>a:after {
    background-color: #804e9a;
}
/*konten*/
.konten{
    background-color: #eaeaea;
}
.konten hr{
    margin-top: 0;
}
.konten .img-md{
    width: 70px !important;
    height: 70px !important;
}
.konten .media{
    padding-right: 60px;
    padding-left: 50px;
}
.konten .panel-konten{
    margin-top: 20px;
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
}
.konten .card-best{
    border-radius: 8px;
    border: 0;
    margin-top: 1px;
}
.konten .best-img{
    height: 130px;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
}
.konten .best-img img{
    width: 100%;
    height: 100%;
    min-height: 80%;
    border: 8px;
}
.konten .card-best .best-img .overlay{
    background: rgba(0, 0, 0, 0.4);
    opacity: 1;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
}
/*hotel*/
.konten .card-best .best-img .overlay .nama{
    position: relative;
    left: 5%;
    top: 70%;
    bottom: 0;
    color: white;
    font-weight: bold;
}
.konten .card-best .best-img .overlay .rating-hotel{
    position: relative;
    left: -28%;
    top: 80%;
    bottom: 0;
    color: gold;
}
.konten .card-best .best-img .overlay .harga{
    position: relative;
    top: 75%;
    bottom: 0;
    color: white;
    font-weight: bold;
    float: right;
    padding-right: 5px;
}
/*restaurant*/
.konten .card-best .best-img .overlay .nama-restaurant{
    position: relative;
    left: 5%;
    top: 60%;
    bottom: 0;
    color: white;
    font-weight: bold;
}
.konten .card-best .best-img .overlay .nama-menu{
    position: relative;
    left: -39%;
    top: 70%;
    bottom: 0;
    color: white;
    font-weight: bold;
}
.konten .card-best .best-img .overlay .rating-restaurant{
    position: relative;
    left: -70%;
    top: 80%;
    bottom: 0;
    color: gold;
}
.konten .card-best .best-img .overlay .harga-restaurant{
    position: relative;
    top: 65%;
    bottom: 0;
    color: white;
    font-weight: bold;
    float: right;
    padding-right: 5px;
}