<template>
    <div>
        <form @submit.prevent="auth()">
            <div class="panel panel-body login-form">
                <div class="text-center">
                    <img src="http://wessdil.com/img/logo-wessdil.png" style="height: 250px;width: 250px;">
                </div>
                <div class="text-center">
                    <h5 class="content-group">Login to your account <small class="display-block">Enter your credentials below</small></h5>
                </div>

                <div class="form-group has-feedback has-feedback-left">
                    <input type="email" class="form-control" placeholder="Enter your email address" id="email" name="email" v-model="user.email">
                    <div class="form-control-feedback">
                        <i class="icon-mail5 text-muted"></i>
                    </div>
                </div>

                <div class="form-group has-feedback has-feedback-left">
                    <input type="password" class="form-control" placeholder="Kata sandi..." id="password" name="password" v-model="user.password">
                    <div class="form-control-feedback">
                        <i class="icon-lock2 text-muted"></i>
                    </div>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn bg-danger btn-block">Login <i class="icon-enter2 position-right"></i></button>
                </div>
            </div>
        </form>
        <loading
                :show="isLoadingShow"
                :label="labelLoading">
        </loading>
    </div>
</template>

<script>
    import {mapActions} from 'vuex'
    export default {
        data(){
            return {
                user:{email:'',password:''}
            }
        },
        methods:{
            ...mapActions('BaseStore',{
                changeLoadingState:'changeLoadingState'
            }),
            auth(){
                let app = this;
                this.changeLoadingState({isLoading:true,labelLoading:'Sedang mengecek autentikasi, tunggu...'});
                this.$auth.login({
                    url:'/auth/login',
                    method:'POST',
                    data:{
                        email:this.user.email,
                        password:this.user.password
                    },
                    error:function (error) {
                        this.changeLoadingState({isLoading:false,labelLoading:''})
                        error.response.data.message.forEach((message)=>[
                            app.$toasted.error(message)
                        ])
                    },
                    success:function (r) {
                        this.changeLoadingState({isLoading:false,labelLoading:''})
                    },
                    redirect: '/back-office',
                    fetchUser: true,
                })
            }
        }
    }
</script>

<style scoped>

</style>