<template>
    <div>
        <page-header :page-section="'Add New'" :page-title="'City'" :active-section="'Add New'"
                     :breadcrumb-items="breadcrumbItems" :heading-items="headingItems"></page-header>
        <div class="page-container">
            <div class="page-content">
                <div class="content-wrapper">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-flat">
                                <div class="panel-body">
                                    <form class="form-horizontal" @submit.prevent="validateForm()">
                                        <fieldset class="content-group">
                                            <legend class="text-bold">Add New City</legend>

                                            <div class="row">
                                                <div class="col-md-9">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-4">City Name</label>
                                                        <div class="col-md-5">
                                                            <input type="text" class="form-control" v-model="city.city"
                                                                   placeholder="Enter package category ex = Educational Tour, Religion Tour,etc" v-validate="'required'"
                                                                   name="city">
                                                            <label class="validation-error-label">{{ errors.first('city') }}</label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label col-md-4">Country</label>
                                                        <div class="col-md-5">
                                                            <!--<autocomplete-->
                                                                    <!--:source="options"-->
                                                                    <!--:request-headers="authHeaders"-->
                                                                    <!--results-property="data"-->
                                                                    <!--results-value="name"-->
                                                                    <!--results-display="name" ref="countryAutcomplete" name="country"-->
                                                                    <!--input-class="form-control" v-model="city.country" v-validate="'required'">-->
                                                            <!--</autocomplete>-->
                                                            <!--<select2 :options="options" v-model="city.country" class="form-control"></select2>-->
                                                            <select class="select-search form-control" v-model="city.country">
                                                                <optgroup label="Mountain Time Zone">
                                                                    <option value="AZ">Arizona</option>
                                                                    <option value="CO">Colorado</option>
                                                                    <option value="ID">Idaho</option>
                                                                    <option value="WY">Wyoming</option>
                                                                </optgroup>
                                                                <optgroup label="Central Time Zone">
                                                                    <option value="AL">Alabama</option>
                                                                    <option value="IA">Iowa</option>
                                                                    <option value="KS">Kansas</option>
                                                                    <option value="KY">Kentucky</option>
                                                                </optgroup>
                                                                <optgroup label="Eastern Time Zone">
                                                                    <option value="CT">Connecticut</option>
                                                                    <option value="FL">Florida</option>
                                                                    <option value="MA">Massachusetts</option>
                                                                    <option value="WV">West Virginia</option>
                                                                </optgroup>
                                                            </select>
                                                            <label class="validation-error-label">{{ errors.first('country') }}</label>
                                                        </div>
                                                    </div>
                                                    <fieldset class="content-group">
                                                        <legend class="text-bold">About</legend>
                                                        <editor api-key="ylbajoqaxen6zb21iuagarlrbbbs81668h53wccti9okccc9"
                                                                v-model="city.about"
                                                                :init="tinyMceInit" name="about"></editor>
                                                    </fieldset>
                                                </div>
                                                <div class="col-md-3">
                                                    <fieldset class="content-group">
                                                        <legend class="text-bold">Upload Cover Image</legend>
                                                        <vue-dropzone ref="dropzoneCoverImage" id="dropzone"
                                                                      :headers="headersDrop" :options="dropzoneCoverImage"
                                                                      v-on:vdropzone-sending="dropzoneSendEvent"
                                                                      v-on:vdropzone-success="dropzoneSuccessSend"></vue-dropzone>
                                                    </fieldset>
                                                </div>
                                            </div>
                                        </fieldset>
                                        <div class="text-right">
                                            <button type="submit" class="btn btn-primary btn-icon">
                                                <i class="icon-floppy-disk position-left"></i> Simpan
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <loading
                :show="isLoadingShow"
                :label="labelLoading">
        </loading>
    </div>
</template>

<script>
    import {mapActions} from 'vuex'
    import Autocomplete from 'vuejs-auto-complete'
    import Editor from '@tinymce/tinymce-vue';
    export default {
        components: {
            Autocomplete,
            'editor':Editor
        },
        data(){
            return {
                breadcrumbItems:[{url:'dashboard',title:'Dashboard'},{url:'indexCity',title:'City'}],
                headingItems:[{url:'indexCity',title:'Back',icon:'icon-backward2'}],
                city:{city:'',country:'',city_type:'',about:'',cover_image:''},
                options:[],
                dict:{
                    custom:{
                        city:{
                            required:'City name cannot be blank'
                        },
                        country:{
                            required:'Country name cannot be blank'
                        },
                        city_type:{
                            required:'City type cannot be blank'
                        }
                    }
                },
                tinyMceInit:{
                    plugins:'a11ychecker advcode casechange formatpainter linkchecker lists checklist media mediaembed pageembed permanentpen powerpaste tinymcespellchecker',
                    toolbar:'a11ycheck casechange checklist code formatpainter insertfile pageembed permanentpen numlist bullist align',
                    height:300,
                    max_height:300,
                    images_upload_handler: this.uploadImageTinyMceHandler,
                    tinydrive_token_provider: 'auth/refresh'
                },
                dropzoneCoverImage: {
                    url: 'http://wessdil.com/api/upload-image',
                    thumbnailWidth: 150,
                    paramName: "file",
                    maxFilesize: 1,
                    addRemoveLinks:true,
                    maxFiles: 1,
                    acceptedFiles: ".jpeg,.jpg,.png,.gif",
                    dictDefaultMessage: 'Click here to upload',
                    headers:{
                        'Authorization':'Bearer '+this.$auth.token()
                    },
                    renameFile(file){
                        let fileType = file.type
                        let extension = fileType.toString().split('/')
                        let uniqe = new Date()
                        return 'cover-image'+uniqe.getTime()+'.'+extension[1]
                    }
                },
            }
        },
        created(){
            this.$http.get('/country').then((response)=>{
                this.options = response.data.data;
            }).catch((error)=>{
                console.log(error)
            })
        },
        mounted(){
            var elems = Array.prototype.slice.call(document.querySelectorAll('.switchery'));
            elems.forEach(function(html) {
                var switchery = new Switchery(html);
            });
            $('.select-search').select2();
        },
        computed:{
            authHeaders () {
                return {
                    'Authorization': 'Bearer '+this.$auth.token()
                }
            },
            headersDrop(){
                return {
                    'Authorization':'Bearer '+this.$auth.token()
                }
            }
        },
        methods:{
            ...mapActions('CitiesStore',{createCity:'add'}),
            validateForm(){
                let validator = this.$validator
                validator.localize('en',this.dict)

                if(this.city.country == 'Indonesia'){
                    this.city.city_type = 'domestic'
                }else{
                    this.city.city_type = 'international'
                }

                validator.validateAll().then((result)=>{
                    if(result){
                        this.createCity({input:this.city}).then((result)=>{
                            this.$toasted.success(result)
                            this.$router.push({name:'indexCity'})
                        }).catch((error)=>{
                            console.log(error.response)
                        })
                    }
                })

            },
            countrySelected(group){
                console.log(group)
            },
            dropzoneSendEvent(file,xhr,formData){
                formData.append('directory','public/city/cover')
                formData.append('thumbDirectory','public/city/cover/thumb')
            },
            dropzoneSuccessSend(file,response){
                this.city.cover_image = response.data
            },
            uploadImageTinyMceHandler(blobInfo,success,failure){
                let formData;

                formData = new FormData();
                formData.append('file', blobInfo.blob(), blobInfo.filename());
                formData.append('directory','public/city')
                formData.append('thumbDirectory','public/city/thumb')

                this.$http.post('/upload-image',formData).then((result)=>{

                }).catch((error)=>{
                    console.log(error.response)
                })
            }
        }
    }
</script>

<style scoped>

</style>