<template>
    <div>
        <page-header :page-section="'Edit'" :page-title="'City'" :active-section="'Edit'"
                     :breadcrumb-items="breadcrumbItems" :heading-items="headingItems"></page-header>
        <div class="page-container">
            <div class="page-content">
                <div class="content-wrapper">
                    <div class="row">
                        <div class="col-md-12" v-if="city">
                            <div class="panel panel-flat">
                                <div class="panel-body">
                                    <form class="form-horizontal" @submit.prevent="validateForm()">
                                        <fieldset class="content-group">
                                            <legend class="text-bold">Add New City</legend>

                                            <div class="row">
                                                <div class="col-md-9">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-4">City Name</label>
                                                        <div class="col-md-5">
                                                            <input type="text" class="form-control" v-model="city.city"
                                                                   placeholder="Enter package category ex = Educational Tour, Religion Tour,etc" v-validate="'required'"
                                                                   name="city">
                                                            <label class="validation-error-label">{{ errors.first('city') }}</label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label col-md-4">Country</label>
                                                        <div class="col-md-5">
                                                            <!--<autocomplete-->
                                                                    <!--:source="options"-->
                                                                    <!--:request-headers="authHeaders"-->
                                                                    <!--:initial-value="city.country"-->
                                                                    <!--:inital-display="city.country"-->
                                                                    <!--results-property="data"-->
                                                                    <!--results-value="name"-->
                                                                    <!--results-display="name" ref="countryAutcomplete" name="country"-->
                                                                    <!--input-class="form-control" v-model="city.country" v-validate="'required'">-->
                                                            <!--</autocomplete>-->
                                                            <select2 :options="options" v-model="city.country"></select2>
                                                            <label class="validation-error-label">{{ errors.first('country') }}</label>
                                                        </div>
                                                    </div>
                                                    <fieldset class="content-group">
                                                        <legend class="text-bold">About</legend>
                                                        <editor api-key="ylbajoqaxen6zb21iuagarlrbbbs81668h53wccti9okccc9"
                                                                v-model="city.about"
                                                                :init="tinyMceInit" name="about"></editor>
                                                    </fieldset>
                                                </div>
                                                <div class="col-md-3">
                                                    <fieldset class="content-group">
                                                        <legend class="text-bold">Upload Cover Image</legend>
                                                        <vue-dropzone ref="dropzoneCoverImage" id="dropzone"
                                                                      :headers="headersDrop" :options="dropzoneCoverImage"
                                                                      v-on:vdropzone-mounted="dropzoneCoverImageMounted"
                                                                      v-on:vdropzone-sending="dropzoneSendEvent"
                                                                      v-on:vdropzone-success="dropzoneSuccessSend"></vue-dropzone>
                                                    </fieldset>
                                                </div>
                                            </div>
                                        </fieldset>
                                        <div class="text-right">
                                            <button type="submit" class="btn btn-primary btn-icon">
                                                <i class="icon-floppy-disk position-left"></i> Simpan
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <loading
                :show="isLoadingShow"
                :label="labelLoading">
        </loading>
    </div>
</template>

<script>
    import {mapActions,mapGetters} from 'vuex'
    import Autocomplete from 'vuejs-auto-complete'
    import Editor from '@tinymce/tinymce-vue';
    export default {
        components: {
            Autocomplete,
            'editor':Editor
        },
        data(){
            return {
                breadcrumbItems:[{url:'dashboard',title:'Dashboard'},{url:'indexCity',title:'City'}],
                headingItems:[{url:'indexCity',title:'Back',icon:'icon-backward2'}],
                dataIndex:[],
                options:[],
                dict:{
                    custom:{
                        city:{
                            required:'City name cannot be blank'
                        },
                        country:{
                            required:'Country name cannot be blank'
                        },
                        city_type:{
                            required:'City type cannot be blank'
                        }
                    }
                },
                tinyMceInit:{
                    plugins:'a11ychecker advcode casechange formatpainter linkchecker lists checklist media mediaembed pageembed permanentpen powerpaste tinymcespellchecker',
                    toolbar:'a11ycheck casechange checklist code formatpainter insertfile pageembed permanentpen numlist bullist align',
                    height:300,
                    max_height:300,
                    images_upload_handler: this.uploadImageTinyMceHandler,
                    tinydrive_token_provider: 'auth/refresh'
                },
                dropzoneCoverImage: {
                    url: 'http://wessdil.com/api/tour/upload-cover-image',
                    thumbnailWidth: 150,
                    paramName: "file",
                    maxFilesize: 1,
                    addRemoveLinks:true,
                    maxFiles: 1,
                    acceptedFiles: ".jpeg,.jpg,.png,.gif",
                    dictDefaultMessage: 'Click here to upload',
                    headers:{
                        'Authorization':'Bearer '+this.$auth.token()
                    },
                    renameFile(file){
                        let fileType = file.type
                        let extension = fileType.toString().split('/')
                        let uniqe = new Date()
                        return 'cover-image'+uniqe.getTime()+'.'+extension[1]
                    }
                },
            }
        },
        created(){
            this.$http.get('/country').then((response)=>{
                this.options = response.data.data;
            }).catch((error)=>{
                console.log(error)
            })
        },
        mounted(){
            var elems = Array.prototype.slice.call(document.querySelectorAll('.switchery'));
            elems.forEach(function(html) {
                var switchery = new Switchery(html);
            });

            if(this.cities == null){
                this.$store.dispatch('CitiesStore/read',{id:this.$route.params.uuid,index:null,url:'city/'+this.$route.params.uuid})
            }else{
                this.dataIndex = this.cities.findIndex(data => data.uuid === this.$route.params.uuid)
                this.$store.dispatch('CitiesStore/read',{id:this.$route.params.id,index:this.dataIndex,url:'city/'+this.$route.params.uuid})
            }
        },
        computed:{
            ...mapGetters('CitiesStore',{cities:'getCities',city:'getCity'}),
            authHeaders () {
                return {
                    'Authorization': 'Bearer '+this.$auth.token()
                }
            },
            headersDrop(){
                return {
                    'Authorization':'Bearer '+this.$auth.token()
                }
            }
        },
        methods:{
            ...mapActions('CitiesStore',{updateCity:'edit'}),
            validateForm(){
                let validator = this.$validator
                validator.localize('en',this.dict)
                this.dataIndex = this.cities.findIndex(data => data.uuid === this.$route.params.uuid)

                if(this.city.country == 'Indonesia'){
                    this.city.city_type = 'domestic'
                }else{
                    this.city.city_type = 'international'
                }

                validator.validateAll().then((result)=>{
                    if(result){
                        this.createCity({input:this.city}).then((result)=>{
                            this.$toasted.success(result)
                            this.$router.push({name:'indexCity'})
                        }).catch((error)=>{
                            console.log(error.response)
                        })
                    }
                })

            },
            countrySelected(group){
                console.log(group)
            },
            dropzoneSendEvent(file,xhr,formData){
                formData.append('directory','public/city/cover')
                formData.append('thumbDirectory','public/city/cover/thumb')
            },
            dropzoneSuccessSend(file,response){
                this.city.cover_image = response.result.data
            },
            dropzoneCoverImageMounted(){
                let file = {size:123,name:this.city.cover_image}
                let url = 'http://wessdil.com/storage/city/cover/thumb/'+this.city.cover_image
                this.$refs.dropzoneCoverImage.manuallyAddFile(file,url)
            },
        }
    }
</script>

<style scoped>

</style>