<template>
    <div>
        <page-header :page-section="'City List'" :page-title="'City'" :active-section="'City List'"
                     :breadcrumb-items="breadcrumbItems" :heading-items="headingItems"></page-header>
        <div class="page-container">
            <div class="page-content">
                <div class="content-wrapper">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-flat">
                                <div class="panel-body">
                                    <v-client-table v-if="cities" :data="cities" :name="stateName" :columns="columns"
                                                    :options="options">
                                        <div slot="actions" class="btn-group" slot-scope="props">
                                            <router-link :to="{name:'editCity',params:{uuid:props.row.uuid}}" type="button"
                                                         class="btn btn-warning btn-icon legitRipple">
                                                <i class="icon-pencil3"></i>
                                            </router-link>
                                            <button type="button" class="btn btn-icon btn-danger legitRipple"
                                                    @click="deleteCity(props.row.uuid,props.row.city)">
                                                <i class="icon-trash"></i>
                                            </button>
                                        </div>
                                    </v-client-table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <loading
                :show="isLoadingShow"
                :label="labelLoading">
        </loading>
    </div>
</template>

<script>
    import {mapActions,mapGetters} from 'vuex'
    export default {
        data(){
            return {
                breadcrumbItems:[{url:'dashboard',title:'Dashboard'}],
                headingItems:[{url:'createCity',title:'Add New',icon:'icon-plus-circle2'}],
                headersData:['No','City','Country','Actions'],
                columns:['no','city','country','actions'],
                options: {
                    headings: {
                        no: 'No',
                        city: 'City',
                        country:'Country',
                        actions:'Actions'
                    },
                    templates:{
                        no:function (h,row,index) {
                            return index
                        },
                    },
                    useVuex:true,
                    theme:'bootstrap3',
                    sortable: ['city','country'],
                    filterable: ['city','country']
                },
                stateName:'CitiesStore'
            }
        },
        mounted(){
            this.$store.dispatch('CitiesStore/browse',{url:'city'})
        },
        computed:{
            ...mapGetters('CitiesStore',{cities:'getCities'})
        },
        methods:{
            ...mapActions('CitiesStore',{del:'del'}),
            deleteCity(id,cityName){
                let index = this.cities.findIndex(data => data.uuid === id)

                this.$swal({
                    title: "Cofirmation",
                    text: "Are you sure want to delete city "+cityName,
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Ya!'
                }).then((result) => {
                    if(result.value){
                        this.del({id:id,index:index}).then((result)=>{
                            this.$toasted.success(result)
                        }).catch((error)=>{
                            error.response.data.errorMessage.forEach((message)=>{
                                this.$toasted.error(message)
                            })
                        })
                    }
                })
            }
        }
    }
</script>

<style scoped>

</style>