<template>
    <div>
        <section class="booking-form">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="panel panel-flat">
                            <div class="panel-body">
                                <div class="tabbable">
                                    <ul class="nav nav-tabs nav-tabs-component nav-justified">
                                        <li class="active">
                                            <a href="#highlighted-justified-tab1" data-toggle="tab" class="legitRipple">Tour
                                                <span class="legitRipple-ripple" style="left: 75.7143%; top: 41.3043%; transform: translate3d(-50%, -50%, 0px); transition-duration: 0.2s, 0.5s; width: 210.519%;"></span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#highlighted-justified-tab2" data-toggle="tab" class="legitRipple">Sewa Mobil
                                                <span class="legitRipple-ripple" style="left: 75.7143%; top: 41.3043%; transform: translate3d(-50%, -50%, 0px); transition-duration: 0.2s, 0.5s; width: 210.519%;"></span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#highlighted-justified-tab3" data-toggle="tab" class="legitRipple">Hotel
                                                <span class="legitRipple-ripple" style="left: 75.7143%; top: 41.3043%; transform: translate3d(-50%, -50%, 0px); transition-duration: 0.2s, 0.5s; width: 210.519%;"></span>
                                            </a>
                                        </li>
                                    </ul>

                                    <div class="tab-content">
                                        <div class="tab-pane active" id="highlighted-justified-tab1">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="destinasi">Destinasi</label>
                                                        <input type="text" class="form-control" id="destinasi">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="tgl-kedatangan">Tanggal Kedatangan</label>
                                                        <input type="text" class="form-control" id="tgl-kedatangan">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="traveler">Jumlah Traveler</label>
                                                        <input type="text" class="form-control" id="traveler">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label></label>
                                                        <button class="btn form-control">Submit</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane" id="highlighted-justified-tab2">
                                            <div class="row">
                                                <div class="col-md-8">
                                                    <div class="form-group">
                                                        <label for="tujuan">Tujuan</label>
                                                        <input type="text" class="form-control" id="tujuan">
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label for="jml-mobil">Jumlah Mobil</label>
                                                        <input type="text" class="form-control" id="jml-mobil">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label for="tgl-mulai">Tanggal Mulai</label>
                                                        <input type="text" class="form-control" id="tgl-mulai">
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label for="tgl-selesai">Tanggal Selesai</label>
                                                        <input type="text" class="form-control" id="tgl-selesai">
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label></label>
                                                        <button class="btn form-control">Submit</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane" id="highlighted-justified-tab3">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="form">Tujuan</label>
                                                        <input type="text" class="form-control" id="form">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="form2">Tamu</label>
                                                        <input type="text" class="form-control" id="form2">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label for="form3">Check In</label>
                                                        <input type="text" class="form-control" id="form3">
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label for="form4">Check Out</label>
                                                        <input type="text" class="form-control" id="form4">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label></label>
                                                        <button class="btn form-control">Cari Hotel</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
    export default {

    }
</script>

<style scoped>

</style>