<template>
    <div>
        <!--Konten Footer-->
        <section class="konten-footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-2 col-md-offset-1">
                        <img :src="baseUrl+'/img/logo.png'" style="margin-top: 10px; width: 110px; height: 40px;"><br><br>
                        <span>+62 876 2576 2340</span><br>
                        <span>Follow</span>
                    </div>
                    <div class="col-md-2">
                        <h5>Perusahaan</h5>
                        <span><a href="#">Tentang</a></span><br>
                        <span><a href="#">Karir</a></span><br>
                        <span><a href="#">Partner</a></span><br>
                        <span><a href="#">Merchant</a></span><br>
                        <span><a href="#">Gallery</a></span>
                    </div>
                    <div class="col-md-2">
                        <h5>Produk</h5>
                        <span><a href="#">Tourism</a></span><br>
                        <span><a href="#">Travel</a></span><br>
                        <span><a href="#">Xperiences</a></span><br>
                        <span><a href="#">Consumer</a></span><br>
                    </div>
                    <div class="col-md-2">
                        <h5>Dukungan</h5>
                        <span><a href="#">FAQ</a></span><br>
                        <span><a href="#">Kebijakan & Privasi</a></span><br>
                        <span><a href="#">Syarat & Ketentuan</a></span>
                    </div>
                    <div class="col-md-2">
                        <h5>Download Apps</h5>
                        <a href="#"><img src="https://wessdil.com/img/download/google-play.png" alt="" style="height: 32px;"></a>
                        <a href="#"><img src="https://wessdil.com/img/download/app-store.png" alt="" style="height: 32px;"></a>
                    </div>
                </div>
            </div>
        </section>
        <!--Akhir Konten Footer-->

        <!--Footer-->
        <footer>
            <div class="footer-akhir">
                <h6>Copyright 2019 wessdil.com All Right Reserved</h6>
            </div>
        </footer>
        <!--Akhir Footer-->
    </div>
</template>

<script>
    export default {
    }
</script>

<style scoped>
    @import "https://wessdil.com/css/style.css";
</style>