<template>
    <div>
        <!--Navbar Utama-->
        <div class="navbar-utama">
            <div class="container">
                <div class="navbar-header">
                    <router-link :to="{name:'home'}" class="navbar-brand">
                        <img src="https://wessdil.com/img/logo.png" alt="" style="margin-left: 70px;">
                    </router-link>
                    <ul class="nav navbar-nav pull-right visible-xs-block">

                    </ul>
                </div>

                <div class="navbar-collapse collapse" id="navbar-mobile">
                    <ul class="nav navbar-nav navbar-left" style="margin-top: 5px; margin-left: 0;">
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                TIKET
                            </a>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                HOTEL
                            </a>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                SHOP
                            </a>
                        </li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right" style="margin-right: -50px;">
                        <li class="dropdown language-switch">
                            <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                <img src="https://wessdil.com/img/flags/indonesia.svg" class="position-left" alt="" style="width: 25px;">ID<span class="caret"></span>
                            </a>

                            <ul class="dropdown-menu">
                                <li><a class="english"><img src="https://wessdil.com/img/flags/gb.png" alt=""> ENG</a></li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">IDR<span class="caret"></span>
                            </a>

                            <ul class="dropdown-menu">
                                <li><a>USD</a></li>
                            </ul>
                        </li>
                        <li class="account">
                            <div class="btn-group" style="margin-top: 15px;">
                                <button type="button" class="btn btn-primary legitRipple" data-toggle="modal" data-target="#myModal">Account</button>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--Akhir Navbar Utama-->
        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#tab1">Login</a></li>
                            <li><a data-toggle="tab" href="#tab2">Register</a></li>
                        </ul>

                        <div class="tab-content">
                            <div id="tab1" class="tab-pane fade in active">
                                <h3>Tab 1</h3>
                                <p>Content for tab 1.</p>
                            </div>
                            <div id="tab2" class="tab-pane fade">
                                <h3>Tab 2</h3>
                                <p>Content for tab 2.</p>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>

    </div>
</template>

<script>
    export default {
    }
</script>

<style scoped>
    @import "https://wessdil.com/css/style.css";

    @media only screen and (min-width: 768px) {
        .dropdown:hover .dropdown-menu {
            display: block;
        }
    }
</style>