<template>
    <div>
        <div class="col-md-3" v-for="(product,index) in products" :key="index">
            <router-link :to="{name:'tourdetail',params:{destinationslug:product.destination_slug,productslug:product.slug}}">
                <div class="panel panel-flat">
                    <div class="panel-head">
                        <img :src="baseUrl+'/'+product.cover">
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-8 judul">
                                <h6>{{product.title}}</h6>
                                <p>( 120 Reviews ) | 20k Booked</p>
                            </div>
                            <div class="col-md-4 rating">
                                <h6><i class="fa fa-star"></i> 4.7</h6>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-sm-8 harga">
                                <!--<p><s>Rp 230.000</s></p>-->
                                <h5>Rp {{product.price[0].price | numeral('0,0')}} / Pax</h5>
                            </div>
                            <div class="col-sm-4 rating">
                                <div class="diskon">
                                    <p>10% OFF</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </router-link>
        </div>
    </div>
</template>

<script>
    export default {
        props:{
            products:Array
        }
    }
</script>

<style scoped>

</style>