<template>
    <div>
        <!--<section class="konten-head">-->
            <!--<div class="jumbotron">-->
                <!--<div id="myCarousel" class="carousel slide" data-ride="carousel">-->
                    <!--&lt;!&ndash; Indicators &ndash;&gt;-->
                    <!--<ol class="carousel-indicators">-->
                        <!--<li data-target="#myCarousel" data-slide-to="0" class="active"></li>-->
                        <!--<li data-target="#myCarousel" data-slide-to="1"></li>-->
                        <!--<li data-target="#myCarousel" data-slide-to="2"></li>-->
                    <!--</ol>-->

                    <!--&lt;!&ndash; Wrapper for slides &ndash;&gt;-->
                    <!--<div class="carousel-inner">-->
                        <!--<div class="item active">-->
                            <!--<img src="../../../../../public/img/slider/online-support.png" alt="">-->
                        <!--</div>-->

                        <!--<div class="item">-->
                            <!--<img src="../../../../../public/img/slider/payment.png" alt="">-->
                        <!--</div>-->

                        <!--<div class="item">-->
                            <!--<img src="" alt="">-->
                        <!--</div>-->
                    <!--</div>-->

                    <!--&lt;!&ndash; Left and right controls &ndash;&gt;-->
                    <!--<a class="left carousel-control" href="#myCarousel" data-slide="prev">-->
                        <!--<span class="glyphicon glyphicon-chevron-left"></span>-->
                        <!--<span class="sr-only">Previous</span>-->
                    <!--</a>-->
                    <!--<a class="right carousel-control" href="#myCarousel" data-slide="next">-->
                        <!--<span class="glyphicon glyphicon-chevron-right"></span>-->
                        <!--<span class="sr-only">Next</span>-->
                    <!--</a>-->
                <!--</div>-->
            <!--</div>-->
        <!--</section>-->
    </div>
</template>

<script>
    export default {
    }
</script>

<style scoped>

</style>