<template>
    <div>
        <section  class="berlangganan">
            <div class="container">
                <div class="row">
                    <div class="col-md-5 col-md-offset-1">
                        <h5>Berlangganan newsletter spesial promo dan penawaran terbaik</h5>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <input type="email" class="form-control" style="background-color: white;">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <button type="button" class="btn btn-berlangganan btn-sm btn-rounded">Berlangganan</button>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
    export default {

    }
</script>

<style scoped>

</style>