<template>
    <div>
        <nav-bar></nav-bar>
        <router-view></router-view>
        <subscribe></subscribe>
        <footer-front></footer-front>
    </div>
</template>

<script>
    import NavBar from './components/frontend/NavBar'
    import Footer from './components/frontend/Footer'
    import Slider from './components/frontend/Sliders'
    import Subscribe from './components/frontend/Subscribe'
    export default {
        components:{
            'nav-bar':NavBar,
            'footer-front':Footer,
            'subscribe':Subscribe
        }
    }
</script>

<style>
</style>