<template>
    <div>
        <page-header :page-section="'Edit'" :page-title="'Tour'" :active-section="'Edit'"
                     :breadcrumb-items="breadcrumbItems" :heading-items="headingItems"></page-header>
        <div class="page-container">
            <div class="page-content">
                <div class="content-wrapper">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-flat">
                                <div class="panel-body">
                                    <form class="form-horizontal" @submit.prevent="validateForm()">
                                        <fieldset class="content-group">
                                            <legend class="text-bold">Edit Tour</legend>
                                            <div class="row">
                                                <div class="col-xs-12 col-md-9">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">Tour Title</label>
                                                        <div class="col-md-9">
                                                            <input type="text" class="form-control" v-model="tour.tour_title"
                                                                   placeholder="Enter tour title ex=One day tour to selekta malang" v-validate="'required'"
                                                                   name="tourTitle">
                                                            <label class="validation-error-label">{{ errors.first('tourTitle') }}</label>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">Package Category</label>
                                                        <div class="col-md-5">
                                                            <select class="form-control" name="tourPackageCategory" v-validate="'required'" v-model="tour.tour_package_category_uuid">
                                                                <option value="">Choose Package Category</option>
                                                                <option v-for="tourPackageCategory in tourPackageCategories"
                                                                        :value="tourPackageCategory.uuid">{{tourPackageCategory.package_category}}</option>
                                                            </select>
                                                            <label class="validation-error-label">{{ errors.first('tourPackageCategory') }}</label>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">Location</label>
                                                        <div class="col-md-4">
                                                            <select class="form-control" name="locationType" v-validate="'required'"
                                                                    v-model="tour.location_type">
                                                                <option value="">Choose Destination Type</option>
                                                                <option value="Domestic">Domestic</option>
                                                                <option value="Internationl">International</option>
                                                            </select>
                                                            <label class="validation-error-label">{{ errors.first('locationType') }}</label>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <input type="text" class="form-control" v-model="tour.location"
                                                                   placeholder="Enter destination city of tour" v-validate="'required'"
                                                                   name="location">
                                                            <label class="validation-error-label">{{ errors.first('location') }}</label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">Valid date until</label>
                                                        <div class="col-md-4">
                                                            <input type="text" class="form-control pickadate-selectors"
                                                                   placeholder="Enter valid date for tour" name="validUntil" v-validate="'required'"
                                                                   id="validUntil" v-model="tour.valid_until">
                                                            <label class="validation-error-label">{{ errors.first('validUntil') }}</label>
                                                        </div>
                                                    </div>
                                                    <fieldset class="content-group">
                                                        <legend class="text-bold">Itinerary</legend>
                                                        <editor api-key="ylbajoqaxen6zb21iuagarlrbbbs81668h53wccti9okccc9"
                                                                v-model="tour.itinerary"
                                                                :init="tinyMceInit" v-validate="'required'" name="itinerary"></editor>
                                                        <label class="validation-error-label">{{ errors.first('itinerary') }}</label>
                                                    </fieldset>

                                                    <fieldset class="content-group">
                                                        <legend class="text-bold">Term Of Service</legend>
                                                        <editor api-key="ylbajoqaxen6zb21iuagarlrbbbs81668h53wccti9okccc9"
                                                                v-model="tour.term_of_service"
                                                                :init="tinyMceInit" v-validate="'required'" name="termOfService"></editor>
                                                        <label class="validation-error-label">{{ errors.first('termOfService') }}</label>
                                                    </fieldset>
                                                </div>
                                                <div class="col-xs-12 col-md-3">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">Price</label>
                                                        <div class="col-md-9">
                                                            <input type="text" name="price" class="form-control" v-model="tour.price">
                                                        </div>
                                                    </div>
                                                    <fieldset class="content-group">
                                                        <legend class="text-bold">Upload Cover Image/Thumbnail Tour</legend>
                                                        <vue-dropzone ref="dropzoneCoverImage" id="dropzone"
                                                                      :headers="headersDrop" :options="dropzoneCoverImage"
                                                                      v-on:vdropzone-file-added="dropzoneCoverImageFileAdded"
                                                                      v-on:vdropzone-mounted="dropzoneCoverImageMounted"></vue-dropzone>
                                                    </fieldset>
                                                </div>
                                            </div>
                                        </fieldset>
                                        <div class="text-right">
                                            <button type="submit" class="btn btn-primary btn-icon">
                                                <i class="icon-floppy-disk position-left"></i> Simpan
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <loading
                :show="isLoadingShow"
                :label="labelLoading">
        </loading>
    </div>
</template>

<script>
    import {mapActions,mapGetters} from 'vuex'
    import Editor from '@tinymce/tinymce-vue';
    export default {
        data(){
            return {
                breadcrumbItems:[{url:'dashboard',title:'Dashboard'},{url:'indexTour',title:'Tour'}],
                headingItems:[{url:'indexTour',title:'Back',icon:'icon-backward2'}],
                dataInded:null,
                dict:{
                    custom:{
                        tourTitle:{
                            required:'Tour title cannot be blank'
                        },
                        tourPackageCategory:{
                            min_value:'Choose one of tour package category'
                        },
                        validUntil:{
                            required:'Valid date cannot be blank'
                        },
                        location:{
                            required:'Location cannot be blank'
                        },
                        locationType:{
                            required:'Choose on of location type'
                        },
                        itinerary:{
                            required:'Itinerary cannot be blank'
                        },
                        termOfService:{
                            required:'Term of service cannot be blank'
                        },
                        price:{
                            required:'Price cannot be blank'
                        }
                    }
                },
                dropzoneCoverImage: {
                    url: 'http://wessdil.com/api/tour/upload-cover-image',
                    thumbnailWidth: 150,
                    paramName: "file",
                    maxFilesize: 1,
                    addRemoveLinks:true,
                    maxFiles: 1,
                    acceptedFiles: ".jpeg,.jpg,.png,.gif",
                    dictDefaultMessage: 'Click here to upload',
                    headers:{
                        'Authorization':'Bearer '+this.$auth.token()
                    },
                    renameFile(file){
                        let fileType = file.type
                        let extension = fileType.toString().split('/')
                        let uniqe = new Date()
                        return 'cover-image'+uniqe.getTime()+'.'+extension[1]
                    }
                },
                tinyMceInit:{
                    plugins:'a11ychecker advcode casechange formatpainter linkchecker lists checklist media mediaembed pageembed permanentpen powerpaste tinymcespellchecker',
                    toolbar:'a11ycheck casechange checklist code formatpainter insertfile pageembed permanentpen numlist bullist align',
                    height:300,
                    max_height:300,
                    images_upload_handler: this.uploadImageTinyMceHandler,
                    tinydrive_token_provider: 'auth/refresh'
                }
            }
        },
        components:{
            'editor':Editor
        },
        mounted(){
            $('.pickadate-selectors').pickadate({
                selectYears: 10,
                selectMonths: true,
                format: 'yyyy-mm-dd',
                formatSubmit: 'yyyy-mm-dd',
                monthsFull: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
                onClose(){
                    app.tour.valid_until = this.get()
                }
            });
            $(".styled").uniform();
            this.$store.dispatch('TourPackageCategoriesStore/browse',{url:'tour-package-category'})
            if(this.tours == null){
                this.$store.dispatch('ToursStore/read',{id:this.$route.params.uuid,index:null,url:'tour/'+this.$route.params.uuid})
            }else{
                this.dataIndex = this.tours.findIndex(data => data.uuid === this.$route.params.uuid)
                this.$store.dispatch('ToursStore/read',{id:this.$route.params.id,index:this.dataIndex,url:'tour/'+this.$route.params.uuid})
            }
        },
        computed:{
            ...mapGetters('TourPackageCategoriesStore',{tourPackageCategories:'getTourPackageCategories'}),
            ...mapGetters('ToursStore',{tours:'getTours',tour:'getTour'}),
            headersDrop(){
                return {
                    'Authorization':'Bearer '+this.$auth.token()
                }
            }
        },
        methods:{
            ...mapActions('ToursStore',{editTour:'edit'}),
            validateForm(){
                let validator = this.$validator
                validator.localize('en',this.dict)

                validator.validateAll().then((result)=>{
                    if(result){
                        this.editTour({input:this.tour}).then((result)=>{
                            this.$toasted.success(result)
                            this.$router.push({name:'indexTour'})
                        }).catch((error)=>{
                            console.log(error.response)
                        })
                    }
                })
            },
            dropzoneCoverImageFileAdded(file){
                this.tour.cover_image = file.upload.filename
            },
            dropzoneCoverImageMounted(){
                let file = {size:123,name:this.tour.cover_image}
                let url = 'http://wessdil.com/storage/tour-thumb/'+this.tour.cover_image
                this.$refs.dropzoneCoverImage.manuallyAddFile(file,url)
            },
            uploadImageTinyMceHandler(blobInfo,success,failure){
                let formData;

                formData = new FormData();
                formData.append('file', blobInfo.blob(), blobInfo.filename());

                this.$http.post('tour/tiny-mce-upload-handler',formData).then((result)=>{

                }).catch((error)=>{
                    console.log(error.response)
                })
            }
        }
    }
</script>

<style scoped>

</style>