<template>
    <div>
        <page-header :page-section="'List'" :page-title="''" :active-section="'Tours'"
                     :breadcrumb-items="breadcrumbItems" :heading-items="headingItems"></page-header>
        <div class="page-container">
            <div class="page-content">
                <div class="content-wrapper">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-flat">
                                <div class="panel-body">
                                    <v-client-table v-if="tours" :data="tours" :name="stateName" :columns="columns"
                                                    :options="options">
                                        <div slot="actions" class="btn-group" slot-scope="props">
                                            <router-link :to="{name:'editTour',params:{uuid:props.row.uuid}}" type="button"
                                                         class="btn btn-warning btn-icon legitRipple">
                                                <i class="icon-pencil3"></i>
                                            </router-link>
                                            <button type="button" class="btn btn-icon btn-danger legitRipple"
                                                    @click="deleteTour(props.row.uuid,props.row.tour_title)">
                                                <i class="icon-trash"></i>
                                            </button>
                                        </div>
                                    </v-client-table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <loading
                :show="isLoadingShow"
                :label="labelLoading">
        </loading>
    </div>
</template>

<script>
    import {mapActions,mapGetters} from 'vuex'
    export default {
        data(){
            return {
                breadcrumbItems:[{url:'dashboard',title:'Dashboard'}],
                headingItems:[{url:'createTour',title:'Add New',icon:'icon-plus-circle2'}],
                headersData:['No','Tour Title','Location','Price','Actions'],
                columns:['no','tour_title','location','location_type','price','actions'],
                options: {
                    headings: {
                        no: 'No',
                        tourTitle: 'Tour Title',
                        location:'Location',
                        location_type: 'Location Type',
                        price:'Price',
                        actions:'Actions'
                    },
                    templates:{
                        no:function (h,row,index) {
                            return index
                        }
                    },
                    useVuex:true,
                    theme:'bootstrap3',
                    sortable: ['tour_title','location','location_type','price'],
                    filterable: ['tour_title','location','location_type','price']
                },
                stateName:'ToursStore'
            }
        },
        mounted(){
            this.$store.dispatch('ToursStore/browse',{url:'tour'})
        },
        computed:{
            ...mapGetters('ToursStore',{tours:'getTours'})
        },
        methods:{
            ...mapActions('ToursStore',{del:'del'}),
            deleteTour(id,tourTitle, location){
                let index = this.tours.findIndex(data => data.uuid === id)

                this.$swal({
                    title: "Confirmation",
                    text: "Are you sure want to delete tour "+tourTitle+" to "+location,
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Ya!'
                }).then((result) => {
                    if(result.value){
                        this.del({id:id,index:index}).then((result)=>{
                            this.$toasted.success(result)
                        }).catch((error)=>{
                            error.response.data.errorMessage.forEach((message)=>{
                                this.$toasted.error(message)
                            })
                        })
                    }
                })
            }
        }
    }
</script>

<style scoped>

</style>