<template>
    <div>
        <section class="favorit">
            <div class="container">
                <div class="row">
                    <div class="col-md-3" v-for="(product,index) in products" :key="index">
                        <div class="panel panel-flat">
                            <div class="panel-head">
                                <img :src="baseUrl+'/'+product.cover">
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-8 judul">
                                        <h6>{{product.title}}</h6>
                                        <p>( 120 Reviews ) | 20k Booked</p>
                                    </div>
                                    <div class="col-md-4 rating">
                                        <h6><i class="fa fa-star"></i> 4.7</h6>
                                        <div class="diskon">
                                            <p>10% OFF</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5 harga">
                                        <!--<p><s>Rp 230.000</s></p>-->
                                        <span class="text-bold">Rp {{product.price[0].price | numeral('0,0')}} / Pax</span>
                                    </div>
                                    <div class="col-md-3">
                                        <button class="btn btn-book hvr-shadow">Book</button>
                                    </div>
                                    <div class="col-md-4">
                                        <button class="btn btn-view hvr-shadow">View More</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
    import {mapGetters} from 'vuex'
    export default {
        props:{
            destinationUuid:String
        },
        created(){
            this.$store.dispatch('ProductStore/browse',{url:'public/product/'+this.$props.destinationUuid})
        },
        computed:{
            ...mapGetters('ProductStore',{products:'getProducts'})
        }
    }
</script>

<style scoped>

</style>