<template>
    <div>
        <section class="favorit">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h4>Most Favorit</h4>
                    </div>
                </div>
                <div class="row">
                    <product-card :products="products"></product-card>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
    import {mapGetters} from 'vuex'
    import ProductCard from '../../../components/frontend/productcard'
    export default {
        components:{
            'product-card':ProductCard
        },
        props:{
            destinationUuid:String
        },
        created(){
            this.$store.dispatch('ProductStore/browse',{url:'public/product/'+this.$props.destinationUuid})
        },
        computed:{
            ...mapGetters('ProductStore',{products:'getProducts'})
        }
    }
</script>

<style scoped>

</style>