<template>
    <div>
        <section class="favorit">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h4>Most Xperienced</h4>
                    </div>
                </div>
                <div class="row">
                    <productcard :products="products"></productcard>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
    import Productcard from "../../../components/frontend/productcard";
    export default {
        components: {Productcard},
        props:{
            products:Array
        }
    }
</script>

<style scoped>

</style>