<template>
    <div>
        <div class="col-md-3 text">
            <h6>International</h6>
            <p>Various magnificant destinations that you've never been before ... seek your memorable moments here with wessdil.com</p>
        </div>
        <div class="autoplay">
            <div class="col-md-3" v-for="(destination,index) in getInternationalDestinations" :key="index">
                <div class="panel panel-flat">
                    <div class="panel-head">
                        <img :src="baseUrl+'/'+destination.cover_image">
                        <router-link :to="{name:'destination',params:{slug:destination.slug}}">
                            <div class="overlay">
                                <span class="nama">{{destination.name}}</span>
                            </div>
                        </router-link>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props:{
            destinations:Array
        },
        computed:{
            getInternationalDestinations(){
                let newData = this.$props.destinations.filter((data)=>{
                    return data.type == 'International'
                })
                return newData
            },
            getNumSlideToShow(){
                let items = this.getInternationalDestinations
                if(items.length === 1 ){
                    return 1
                }else if(items.length === 2){
                    return 2
                }else{
                    return 3
                }
            }
        },
        updated(){
            $('.autoplay').slick({
                slidesToShow: 3,
                slidesToScroll: 1,
                autoplay: true,
                autoplaySpeed: 1500,
            });
        }
    }
</script>

<style scoped>

</style>