<template>
    <div>
        <div class="col-md-3 text">
            <h6>Domestic</h6>
            <p>Explore more and deeper of Wonderful Indonesia and encourage yourself to seek your adventure with wessdil here</p>
        </div>
        <div class="autoplay2">
            <div class="col-md-3" v-for="(destination,index) in getDomesticDestinations" :key="index">
                <div class="panel panel-flat">
                    <div class="panel-head">
                        <img :src="baseUrl+'/'+destination.cover_image">
                        <router-link :to="{name:'destination',params:{slug:destination.slug}}">
                            <div class="overlay">
                                <span class="nama">{{destination.name}}</span>
                            </div>
                        </router-link>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props:{
            destinations:Array
        },
        computed:{
            getDomesticDestinations(){
                let newData = this.$props.destinations.filter((data)=>{
                    return data.type === 'Domestic'
                })
                return newData
            }
        },
        updated(){
            $('.autoplay2').slick({
                slidesToShow: 3,
                slidesToScroll: 1,
                autoplay: true,
                autoplaySpeed: 1500,
            });
        }
    }
</script>

<style scoped>

</style>