<template>
    <div>
        <!--Konten-->
        <section class="konten">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <h4 class="text-head">My Cart</h4>
                        <div class="panel cart">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="panel cart-header">
                                            <div class="panel-body">
                                                <div class="row">
                                                    <div class="col-md-8">Produk</div>
                                                    <div class="col-md-2">Type</div>
                                                    <div class="col-md-2">Price</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 cart-body">
                                        <div class="row">
                                            <div class="col-md-8">
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <div class="image">
                                                            <img src="https://wessdil.com/img/hotel/hotel1.jpeg">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-8">
                                                        <h5>Hotel Majapahit</h5>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-2 type">Tour</div>
                                            <div class="col-md-2 price">Rp 1.500.000</div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 cart-body">
                                        <div class="row">
                                            <div class="col-md-8">
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <div class="image">
                                                            <img src="https://wessdil.com/img/hotel/hotel3.jpeg">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-8">
                                                        <h5>Hotel Grand Whizz</h5>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-2 type">Tour</div>
                                            <div class="col-md-2 price">Rp 1.700.000</div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 cart-body">
                                        <div class="row">
                                            <div class="col-md-8">
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <div class="image">
                                                            <img src="https://wessdil.com/img/hotel/hotel5.jpeg">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-8">
                                                        <h5>Hotel Arteta</h5>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-2 type">One Day Tour</div>
                                            <div class="col-md-2 price">Rp 2.500.000</div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 cart-body">
                                        <div class="row">
                                            <div class="col-md-8">
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <div class="image">
                                                            <img src="https://wessdil.com/img/hotel/hotel7.jpeg">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-8">
                                                        <h5>Hotel Ayola Sunrise</h5>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-2 type">One Day Tour</div>
                                            <div class="col-md-2 price">Rp 4.500.000</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="panel cart-footer">
                                            <div class="panel-body">
                                                <div class="row">
                                                    <div class="col-md-6">Subtotal : Rp 4.000.000</div>
                                                    <div class="col-md-6 text-right">
                                                        <button class="btn">Checkout</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Akhir Konten-->
    </div>
</template>

<script>
    export default {
        name: "cart"
    }
</script>

<style scoped>
    @import "https://wessdil.com/css/cart.css";
</style>