<template>
    <div>
        <!--Konten-->
        <section class="konten">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-md-offset-1">
                        <ul class="nav navigation">
                            <li class=""><a href="" class="legitRipple">Profile</a></li>
                            <li class=""><a href="#" class="legitRipple">My Order</a></li>
                            <li class=""><a href="#" class="legitRipple">My Refund</a></li>
                            <li class="actived"><a href="#" class="legitRipple">Pengaturan</a></li>
                        </ul>
                    </div>
                    <div class="col-md-7 profile">
                        <div class="panel">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <h5>Change Password</h5>
                                        <div class="panel profile-header">
                                            <div class="panel-body">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label for="form">Old Password</label>
                                                            <input type="password" class="form-control" id="form">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label for="form2">New Password</label>
                                                            <input type="password" class="form-control" id="form2">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <button class="btn form-control">Confirm New Password</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <h5>Bank Account</h5>
                                    <div class="col-md-6">
                                        <div class="panel profile-header">
                                            <div class="panel-body">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <button class="btn form-control">+ Add Bank Account</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Akhir Konten-->
    </div>
</template>

<script>
    export default {
        name: "ChangePassword"
    }
</script>

<style scoped>
    @import "https://wessdil.com/css/change-password.css";
</style>