<template>
    <div>
        <!--konten-->
        <section class="konten">
            <div class="container">
                <div class="col-md">
                    <div class="panel comp" style="margin-top: 80px;">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <img src="img/logo.png" style="display: block; margin-left: auto; margin-right: auto; width: 200px;">
                                    <h5>Head Office : <br><span>Jl. Caraka Bhuwana Selatan 8 Blok  U – </span></h5><br><br>
                                    <h5>Operational Office : <br><span>Jl. Ceger Raya No. 79 Pondok Aren –Tangerang Selatan 15225 <br>p : +6221 2297 1724   m/wa : +62 812 98485400 <br>e: deal@wessdil.co </span></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="konten" >
            <div class="container">
                <div class="col-md">
                    <div class="panel comp">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <h3 style="text-align: center;"><i><b>Profile</b></i></h3>
                                    <h5><b>We are...</b></h5>
                                    <p>Wessdil.com is a member of PT TAPAK JEJAK INDONESIA, An innovative online marketplace, established to accommodate and meet your daily needs operated by true reliable, professional and experiences team with a 24/7 personal service to assist everything you need provided by wessdil.com, from Worldwide Travel products, Worldwide Tourism Products, Daily Products, Ecommerce, and Partnership programs, and many other ...</p>
                                    <p>Wessdil.com is transforming to be your bridge and direct you to a one-stop-shopping concept where you can choose any products in one platform only. We are also supported by many payments channels that you are most familiar, from Bank Transfers, Credit Card Payments, and Cashless Payments Methods</p>
                                    <p>Wessdil.com can not stand alone without users and customers, partners, affiliates and products, you may know other marketplaces, but there is only wessdill.com who is able to bring you the differences</p>
                                    <h5><b>The Vision</b></h5>
                                    <p>A one stop online platform leveraged by not only our partners, affiliates, but the essential, is our market. To easy you choose what best to meet your travel needs, daily needs, and even your business needs. We may not the first, but, yes, we make differences ….</p>
                                    <h5>What we do</h5>
                                    <p>A 24/7 Personal Assistance to ensure us as A One Stop Online Platform for multi products to meet your needs.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="konten">
            <div class="container">
                <div class="col-md">
                    <div class="panel comp">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <h3 style="text-align: center;"><i><b>Our Services</b></i></h3>
                                    <h5><b>We profide...</b></h5>
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <h6><b>Travel Commodities</b></h6>
                                                <ul>
                                                    <li>Airline Tickets (Domestic and International)</li>
                                                    <li>Hotel Reservation (Domestic and International)</li>
                                                    <li>Train Tickets (KAI)</li>
                                                    <li>PELNI Tickets</li>
                                                    <li>Travel Documents</li>
                                                    <li>Bus Tickets (Domestic)</li>
                                                    <li>Bus and Car Rentals</li>
                                                </ul>
                                            </div>
                                            <div class="col-md-6">
                                                <h6><b>Travel Commodities</b></h6>
                                                <ul>
                                                    <li>Extranet features</li>
                                                    <li>Instant Payment Confirmation (Cashless Payment Channel)</li>
                                                    <li>Wessdil Special Programs – Agencies and Memberships</li>
                                                    <li>API Integrations</li>
                                                    <li>Online and Offline Merchants Applications</li>
                                                    <li>Billers Application</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <h6><b>Tourism and Events Products</b></h6>
                                                <ul>
                                                    <li>One day Sight-seeing</li>
                                                    <li>Tour Packages</li>
                                                    <li>Religion Packages</li>
                                                    <li>Educational Packages</li>
                                                    <li>MICE</li>
                                                    <li>Team Buildings</li>
                                                    <li>Special Events</li>
                                                </ul>
                                            </div>
                                            <div class="col-md-6">
                                                <h6><b>Just4U programs</b></h6>
                                                <ul>
                                                    <li>Wedding Organizers</li>
                                                    <li>Event Organizers and Partnership</li>
                                                    <li>Education</li>
                                                    <li>Seminars Partnership</li>
                                                    <li>Photography</li>
                                                    <li>Entertainment</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <h6><b>Day-to-day needs</b></h6>
                                                <ul>
                                                    <li>PPOB and TOP UP</li>
                                                    <li>E-Commerce</li>
                                                </ul>
                                            </div>
                                            <div class="col-md-6">
                                                <h6><b>Special Program</b></h6>
                                                <ul>
                                                    <li>Wessdil Flash Deal</li>
                                                    <li>Wessdil Special Promo</li>
                                                    <li>Wessdil Tactical Deal</li>
                                                    <li>Wessdil Rush Deal</li>
                                                    <li>Wessdil Points</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="konten" >
            <div class="container">
                <div class="col-md">
                    <div class="panel comp">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <h3 style="text-align: center;"><i><b>Our Legality</b></i></h3>
                                    <h5><b>PT. Tapak Jejak Indonesia</b></h5>
                                    <table class="table table-borderless">
                                        <tbody>
                                        <tr>
                                            <td class="col-md-2">Nama Dagang</td>
                                            <td>:  Wessdil</td>
                                        </tr>
                                        <tr>
                                            <td class="col-md-2">Head Office</td>
                                            <td>:  Jalan Caraka Bhuwana Selatan 8 Blok U 9, Pondok Aren – Tangerang Selatan  15222 </td>
                                        </tr>
                                        <tr>
                                            <td class="col-md-2">Operational Office</td>
                                            <td>:  Jalan Ceger Raya No. 79, Pondok Aren – Tangerang Selatan 15225</td>
                                        </tr>
                                        <tr>
                                            <td class="col-md-2">Akta Pendirian</td>
                                            <td>:  No. 68, 28 Agustus 2018</td>
                                        </tr>
                                        <tr>
                                            <td class="col-md-2">Notaris</td>
                                            <td>:  H. Alvin Nugraha, SH, M.KN, LLM</td>
                                        </tr>
                                        <tr>
                                            <td class="col-md-2">SK No</td>
                                            <td>:  AHU-0041337 . AH.01.01. Tahun 2018</td>
                                        </tr>
                                        <tr>
                                            <td class="col-md-2">SKDU</td>
                                            <td>:  503/320 –Kel.Jrt/IX/2018</td>
                                        </tr>
                                        <tr>
                                            <td class="col-md-2">NIB</td>
                                            <td>:  8120111050995 </td>
                                        </tr>
                                        <tr>
                                            <td class="col-md-2">NPWP</td>
                                            <td>:  85.935.460.7-453.000 </td>
                                        </tr>
                                        <tr>
                                            <td class="col-md-2">Bank Account</td>
                                            <td>:  BANK MANDIRI KCP Jakarta Petukangan </td>
                                        </tr>
                                        <tr>
                                            <td class="col-md-2">Account No.</td>
                                            <td>:  101-00-1000915-5 </td>
                                        </tr>
                                        <tr>
                                            <td class="col-md-2">Phone No.</td>
                                            <td>:  +6221 2297 1724 </td>
                                        </tr>
                                        <tr>
                                            <td class="col-md-2">Wa </td>
                                            <td>:  +62812 98485400 </td>
                                        </tr>
                                        <tr>
                                            <td class="col-md-2">E-mail </td>
                                            <td>:  deal@wessdil.com </td>
                                        </tr>
                                        <tr>
                                            <td class="col-md-2">Website </td>
                                            <td>: <a href="https://wessdil.com">www.wessdil.com</a></td>
                                        </tr>
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="konten">
            <div class="container">
                <div class="col-md">
                    <div class="panel comp">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <h3 style="text-align: center;"><i><b>They know us</b></i></h3>
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <ul>
                                                    <li>Tritanu Hubs</li>
                                                    <li>PS Tira</li>
                                                    <li>Star Energy</li>
                                                    <li>PT. WWRC Indonesia</li>
                                                    <li>PT. Bintan Resort Cakrawala</li>
                                                    <li>Bintan Resort International</li>
                                                    <li>CNOOC Pte Ltd</li>
                                                    <li>PT. Jasnikom Gemanusa</li>
                                                    <li>PT. Sisindokom Lintasbuana</li>
                                                    <li>PT. Accenture </li>
                                                    <li>PT. IBM Indonesia</li>
                                                    <li>PT. Prisma Global Solusi</li>
                                                    <li>Sinarmas Group</li>
                                                    <li>Dinas Perindustrian dan Perdagangan Tangerang Selatan</li>
                                                    <li>Dinas Pariwisata Tangerang Selatan</li>
                                                    <li>DPMPTSP Tangerang Selatan</li>
                                                </ul>
                                            </div>
                                            <div class="col-md-6">
                                                <ul>
                                                    <li>SMP Islam Al Azhar Kelapa Gading</li>
                                                    <li>Universitas Krisnadwipayana</li>
                                                    <li>Universitas Pancasila</li>
                                                    <li>PT. Wira Pamungkas Pariwara</li>
                                                    <li>PT. ZOE</li>
                                                    <li>Kementerian Pekerjaan Umum</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
    export default {
        name: "companyprofile"
    }
</script>

<style scoped>
    @import "https://wessdil.com/css/company-profile.css";
</style>