<template>
    <div>
        <!--Konten Head-->
        <section class="konten-head">
            <div class="jumbotron" v-if="destination">
                <img :src="baseUrl+'/'+destination.cover_image">
                <div class="overlay">
                    <h1 class="nama">{{destination.name}}</h1>
                </div>
            </div>
        </section>
        <!--Akhir Head-->

        <!--About-->
        <section class="about" v-if="destination">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <h4>About {{destination.name}}</h4>
                        <p>{{destination.description}}</p>
                    </div>
                    <div class="col-md-3 col-md-offset-1">
                        <h4>Gallery</h4>
                        <div class="single-item panel panel-flat" >
                            <div class="panel-head">
                                <img src="https://wessdil.com/img/best/jogja.jpg">
                                <a href="#">
                                    <div class="overlay">
                                        <span class="nama">Paris</span>
                                    </div>
                                </a>
                            </div>
                            <div class="panel-head">
                                <img src="https://wessdil.com/img/best/bali.png">
                                <a href="#">
                                    <div class="overlay">
                                        <span class="nama">Paris</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Akhir About-->

        <!--Best for You-->
        <most-favourite :destination-uuid="$route.params.slug"></most-favourite>
        <!--Akhir Best for You-->

        <!--Range-->
        <section class="range">
            <div class="container">
                <div class="row">
                    <div class="col-md-12" v-if="destination">
                        <h4>Adventure in {{destination.name}}</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10 col-md-offset-1 konten">
                        <div class="row">
                            <div class="col-md-1">
                                <h6>Price Range :</h6>
                            </div>
                            <div class="col-md-2">
                            <span class="irs js-irs-1">
                                <span class="irs">
                                    <span class="irs-line" tabindex="0">
                                        <span class="irs-line-left"></span>
                                        <span class="irs-line-mid"></span>
                                        <span class="irs-line-right"></span>
                                    </span>
                                    <span class="irs-min" style="visibility: visible;">Rp 5.000</span>
                                    <span class="irs-max" style="visibility: visible;">Rp 100.000</span>
                                    <span class="irs-from" style="visibility: hidden;">0</span>
                                    <span class="irs-to" style="visibility: hidden;">0</span>
                                    <span class="irs-single" style="left: 57.1329%;">Rp 60.000</span>
                                </span>
                                <span class="irs-grid"></span>
                                <span class="irs-bar" style="left: 1.97806%; width: 60.1875%;"></span>
                                <span class="irs-bar-edge"></span>
                                <span class="irs-shadow shadow-single" style="display: none;"></span>
                                <span class="irs-slider single" style="left: 60.1875%;"></span>
                            </span>
                            </div>
                            <div class="col-md-1">
                                <h6>Rating :</h6>
                            </div>
                            <div class="col-md-2">
                            <span class="irs js-irs-1">
                                <span class="irs">
                                    <span class="irs-line" tabindex="0">
                                        <span class="irs-line-left"></span>
                                        <span class="irs-line-mid"></span>
                                        <span class="irs-line-right"></span>
                                    </span>
                                    <span class="irs-min" style="visibility: visible;">0.1</span>
                                    <span class="irs-max" style="visibility: visible;">5.0</span>
                                    <span class="irs-from" style="visibility: hidden;">0</span>
                                    <span class="irs-to" style="visibility: hidden;">0</span>
                                    <span class="irs-single" style="left: 57.1329%;">4.7</span>
                                </span>
                                <span class="irs-grid"></span>
                                <span class="irs-bar" style="left: 1.97806%; width: 60.1875%;"></span>
                                <span class="irs-bar-edge"></span>
                                <span class="irs-shadow shadow-single" style="display: none;"></span>
                                <span class="irs-slider single" style="left: 60.1875%;"></span>
                            </span>
                            </div>
                            <div class="col-md-1">
                                <h6>Favorit :</h6>
                            </div>
                            <div class="col-md-2">
                            <span class="irs js-irs-1">
                                <span class="irs">
                                    <span class="irs-line" tabindex="0">
                                        <span class="irs-line-left"></span>
                                        <span class="irs-line-mid"></span>
                                        <span class="irs-line-right"></span>
                                    </span>
                                    <span class="irs-min" style="visibility: visible;">Rp 5.000</span>
                                    <span class="irs-max" style="visibility: visible;">Rp 100.000</span>
                                    <span class="irs-from" style="visibility: hidden;">0</span>
                                    <span class="irs-to" style="visibility: hidden;">0</span>
                                    <span class="irs-single" style="left: 57.1329%;">Rp 60.000</span>
                                </span>
                                <span class="irs-grid"></span>
                                <span class="irs-bar" style="left: 1.97806%; width: 60.1875%;"></span>
                                <span class="irs-bar-edge"></span>
                                <span class="irs-shadow shadow-single" style="display: none;"></span>
                                <span class="irs-slider single" style="left: 60.1875%;"></span>
                            </span>
                            </div>
                            <div class="col-md-2 col-md-offset-1">
                                <button class="btn">Search</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Akhir Range-->

        <!--Best for You-->
        <section class="favorit">
            <div class="container">
                <div class="row">
                   <productcard v-if="products" :products="products"></productcard>
                </div>
            </div>
        </section>
        <!--Akhir Best for You-->

    </div>
</template>

<script>
    import {mapGetters} from 'vuex'
    import MostFavourite from './partials/mostfavourite'
    import Productcard from "../../components/frontend/productcard";
    export default {
        components:{
            Productcard,
            'most-favourite':MostFavourite
        },
        created(){
            this.$store.dispatch('DestinationStore/readSlug',{url:'public/destination/'+this.$route.params.slug})
            this.$store.dispatch('ProductStore/browse',{url:'public/product/'+this.$route.params.slug})
        },
        computed:{
            ...mapGetters('DestinationStore',{destination:'getDestination'}),
            ...mapGetters('ProductStore',{products:'getProducts'})
        },
        updated (){
            $('.single-item').slick({
                slidesToShow: 1,
                slidesToScroll: 1,
                autoplay: true,
                autoplaySpeed: 1500,
            });
        }
    }
</script>

<style scoped>
    @import "https://wessdil.com/css/destination.css";
    @import "https://wessdil.com/css/slick/slick.css";
    @import "https://wessdil.com/css/slick/slick-theme.css";

</style>