<template>
    <div>
        <!--Konten-->
        <section class="konten">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-1">
                        <div class="panel faq" style="margin-top: 70px;">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h5>FAQ - <span>wessdil.com</span></h5>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="panel-group panel-group-control panel-group-control-right content-group-lg" id="accordion-control-right">
                                            <div class="panel panel-white">
                                                <div class="panel-heading">
                                                    <h6 class="panel-title">
                                                        <a data-toggle="collapse" data-parent="#accordion-control-right" href="#accordion-control-right-group1" aria-expanded="true" class="">1. Mengapa Harus di Wessdil.com</a>
                                                    </h6>
                                                </div>
                                                <div id="accordion-control-right-group1" class="panel-collapse collapse in" aria-expanded="true" style="">
                                                    <div class="panel-body">
                                                        Wessdil.com adalah salah satu platform Multi Produk - "one-stop integrator online
                                                        marketplace" yang terintegrasi dengan multi payment channel yang menyediakan
                                                        dan menyelenggarakan sistem dan fasilitas pemesanan dan pembelian berbagai produk
                                                        secara online. Produk yang kami tawarkan lebih bervariasi, tidak hanya untuk memenuhi
                                                        kebutuhan perjalanan tetapi juga waktu luang Anda, dan kebutuhan keseharian anda.
                                                        Wessdil.com memungkingkan anda untuk mencari informasi produk yang Anda inginkan,
                                                        melakukan pemesanan, pembelian, sekaligus melakukan pembayaran secara online dan aman
                                                        melalui berbagai sistem dan fasilitas pembayaran yang telah kami sediakan untuk Anda.
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="panel panel-white">
                                                <div class="panel-heading">
                                                    <h6 class="panel-title">
                                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion-control-right" href="#accordion-control-right-group2" aria-expanded="false">2. Produk-produk apa saja yang dijual di Wessdil.com?</a>
                                                    </h6>
                                                </div>
                                                <div id="accordion-control-right-group2" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                                                    <div class="panel-body">
                                                        Тon cupidatat skateboard dolor brunch. Тesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda.
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="panel panel-white">
                                                <div class="panel-heading">
                                                    <h6 class="panel-title">
                                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion-control-right" href="#accordion-control-right-group3" aria-expanded="false">3. Bisakah melakukan pemesanan tanpa memasukkan alamat email?</a>
                                                    </h6>
                                                </div>
                                                <div id="accordion-control-right-group3" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                                                    <div class="panel-body">
                                                        3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it.
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="panel panel-white">
                                                <div class="panel-heading">
                                                    <h6 class="panel-title">
                                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion-control-right" href="#accordion-control-right-group4" aria-expanded="false">4. Metode pembayaran apa saja yang disediakan oleh Wessdil.com?</a>
                                                    </h6>
                                                </div>
                                                <div id="accordion-control-right-group4" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                                                    <div class="panel-body">
                                                        3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it.
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="panel panel-white">
                                                <div class="panel-heading">
                                                    <h6 class="panel-title">
                                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion-control-right" href="#accordion-control-right-group5" aria-expanded="false">5. Setelah melakukan pembayaran, bagaimana mendapatkan tiket/voucher dari Wessdil.com?</a>
                                                    </h6>
                                                </div>
                                                <div id="accordion-control-right-group5" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                                                    <div class="panel-body">
                                                        3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it.
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="panel panel-white">
                                                <div class="panel-heading">
                                                    <h6 class="panel-title">
                                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion-control-right" href="#accordion-control-right-group6" aria-expanded="false">6. Apakah masih diperlukan untuk melakukan konfirmasi atas pembayaran yang dilakukan?</a>
                                                    </h6>
                                                </div>
                                                <div id="accordion-control-right-group6" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                                                    <div class="panel-body">
                                                        3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it.
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="panel panel-white">
                                                <div class="panel-heading">
                                                    <h6 class="panel-title">
                                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion-control-right" href="#accordion-control-right-group7" aria-expanded="false">7. Jika ada pertanyaan lain diluar dari yang di cantumkan disini, apa yang harus dilakukan?</a>
                                                    </h6>
                                                </div>
                                                <div id="accordion-control-right-group7" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                                                    <div class="panel-body">
                                                        3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <ul class="nav navigation" style="margin-top: 70px;">
                            <li class="activated"><router-link :to="{name:'faq'}">FAQ</router-link></li>
                            <li class=""><router-link :to="{name:'privacypolicy'}">Kebijakan & Privasi</router-link></li>
                            <li class=""><a href="#" class="legitRipple">Syarat & Ketentuan</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!--Akhir Konten-->
    </div>
</template>

<script>
    export default {
    }
</script>

<style scoped>
    @import "https://wessdil.com/css/faq.css";
</style>