<template>
    <div>
        <!--Konten-->
        <section class="konten">
            <div class="container">
                <div class="row">
                    <div class="col-md-7 detail-pembeli">
                        <div class="panel panel-flat">
                            <h5>Detail Pembeli</h5>
                            <div class="panel-body">
                                <div class="tabbable">
                                    <div class="tab-content">
                                        <div class="row">
                                            <div class="col-md-12 col-sm-12">
                                                <div class="form-group">
                                                    <label for="form">Nama Pembeli</label>
                                                    <input type="text" class="form-control" id="form">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="form3">Email Pembeli</label>
                                                    <input type="text" class="form-control" id="form3">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="form4">Nomor Telepon</label>
                                                    <input type="text" class="form-control" id="form4">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 col-sm-12">
                                                <div class="form-group">
                                                    <label for="form">Pilih Provinsi</label>
                                                    <input type="text" class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-12">
                                                <div class="form-group">
                                                    <label for="alamat">Alamat Lengkap</label>
                                                    <textarea class="form-control" rows="3" id="alamat"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 ringkasan-belanja">
                        <div class="panel panel-flat">
                            <h5>Ringkasan Belanja</h5>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-6"><p>Total Harga Barang</p></div>
                                    <div class="col-md-6 text-right"><p>Rp. 200.000</p></div>
                                    <div class="col-md-6"><p>Biaya Kirim</p></div>
                                    <div class="col-md-6 text-right"><p>Rp. 50.000</p></div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-md-6"><p>Total Belanja</p></div>
                                    <div class="col-md-6 text-right"><p>Rp. 250.000</p></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <button class="btn">Pilih Metode Pembayaran</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-7 detail-belanja">
                        <div class="panel panel-flat">
                            <h5>Detail Belanja</h5>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <button class="btn">Nama Toko</button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2 image"></div>
                                    <div class="col-md-4">
                                        <h5 class="nama-barang">Kemeja Batik</h5>
                                        <span>Ukuran : L</span>
                                    </div>
                                    <div class="col-md-5">
                                        <p>Rp. 200.000</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="kurir">Kurir</label>
                                            <input type="text" class="form-control" id="kurir" placeholder="Pilih Jasa Pengiriman">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="catatan">Catatan</label>
                                            <textarea class="form-control" rows="5" id="catatan" placeholder="Contoh : Warna, Jenis, Ukuran"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Akhir Konten-->
    </div>
</template>

<script>
    export default {
    }
</script>

<style scoped>
    @import "https://wessdil.com/css/style.css";
    @import "https://wessdil.com/css/form-pembelian.css";
</style>