<template>
    <div>
        <!--Konten Head-->
        <section class="konten-head">
            <div class="jumbotron">
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <img src="../../../../../public/img/slider/slider1.png" alt="">
                        </div>

                        <div class="item">
                            <img src="https://wessdil.com/img/slider/payment.png" alt="">
                        </div>

                        <div class="item">
                            <img src="" alt="">
                        </div>
                    </div>

                    <!-- Left and right controls -->
                    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#myCarousel" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                        <span class="sr-only">Next</span>
                    </a>

                    <img :src="baseUrl+'/img/rounded.png'" style="width: 100%; position: absolute; bottom: 0;">
                </div>
            </div>
        </section>
        <!--Akhir Head-->

        <!--Searching-->
        <section class="searching">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="panel panel-flat" style="margin-top: -180px; border-radius: 8px;">
                            <div class="panel-body" style="text-align: center; padding: 10px !important;">
                                <h4 style="font-weight: bold;">Xperience your trip</h4>
                                <p>Search your destination here</p>
                                <div class="form-group has-feedback"
                                     style="background-color: #eaeaea; border-radius: 6px;">
                                    <input type="text" class="form-control" style="padding-left: 15px;">
                                    <div class="form-control-feedback" style="padding-right: 30px;">
                                        <i class="icon-search4 text-size-base"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Akhir Searching-->

        <!--Most Favorit-->
        <most-experience :products="products"></most-experience>
        <!--Akhir Most Favorit-->

        <!--Recomended-->
        <our-recomendation :products="products"></our-recomendation>
        <!--Akhir Recomended-->

        <!--Top Destination-->
        <section class="destination">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h4>Top Destination</h4>
                    </div>
                </div>
                <div class="row">
                    <domestic-destination v-if="destinations" :destinations="destinations"></domestic-destination>
                </div>
                <div class="row">
                    <international-destination v-if="destinations" :destinations="destinations"></international-destination>
                </div>
            </div>
        </section>
        <!--Akhir Top Destination-->
    </div>
</template>

<script>
    import {mapGetters} from 'vuex'
    import InternationalDestination from './partials/sliderinterdestination'
    import DomesticDestination from './partials/sliderdomesticdestination'
    import MostExperience from './partials/mostexperience'
    import OurRecomendation from './partials/ourrecomendation'

    export default {
        components:{
            'international-destination':InternationalDestination,
            'domestic-destination':DomesticDestination,
            'most-experience':MostExperience,
            'our-recomendation':OurRecomendation
        },
        computed:{
            ...mapGetters('DestinationStore',{destinations:'getDestinations'}),
            ...mapGetters('ProductStore',{products:'getProducts'})
        },
        created(){
            this.$store.dispatch('DestinationStore/browse',{url:'public/destination'})
            this.$store.dispatch('ProductStore/browse',{url:'public/product'})
        },
        mounted() {
            $('.carousel').carousel({
                interval: 3000
            })
        }
    }
    // $('.project').hover3d({
    //     selector: ".project__card"
    // })
</script>

<style scoped>
    @import "https://wessdil.com/css/style.css";
    @import "https://wessdil.com/css/home.css";
    @import "https://wessdil.com/css/slick/slick.css";
    @import "https://wessdil.com/css/slick/slick-theme.css";

    .favorit .panel .panel-body {
        height: 140px;
        padding-bottom: 8px;
        padding-top: 10px;
        padding-left: 1px;
        padding-right: 1px;
    }
</style>