<template>
    <div>
        <!--Detail Hotel-->
        <section class="detail-hotel">
            <div class="detail col-md-8 col-md-offset-2">
                <h2>Nama Hotel</h2>
                <span>Alamat Hotel</span>

                <div class="row">
                    <div class="detail-image col-md-9">
                    </div>
                </div>
                <div class="row">
                    <div class="recomended-image col-md-2"></div>
                    <div class="recomended-image2 col-md-2"></div>
                    <div class="recomended-image2 col-md-2"></div>
                    <div class="recomended-image2 col-md-2"></div>
                    <div class="col-md-3">
                        <router-link :to="{name:'hotelinput'}">
                            <button class="btn btn-danger">Pesan Sekarang</button>
                        </router-link>
                    </div>
                </div>
            </div>
        </section>
        <!--Akhir Detail Hotel-->
        <!--Book Kamar-->
        <section class="book-kamar">
            <div class="kamar col-md-8 col-md-offset-2">
                <div class="row">
                    <div class="kamar-image col-md-2">

                    </div>
                    <div class="col-md-2">
                        <h4>Deluxe Room</h4>
                        <span class="fasilitas-atas">2 Guest</span><br>
                        <span class="fasilitas-atas">1 Double Bed</span>
                        <br>
                        <span class="fasilitas-bawah">Free Breakfast</span><br>
                        <span class="fasilitas-bawah">Free Wifi</span>
                    </div>
                    <div class="col-md-2 col-md-offset-5">
                        <button class="btn btn-danger">Book</button>
                        <span class="room">1 Room(s) Avabile</span>
                    </div>
                </div>
                <div class="row">
                    <div class="kamar-image col-md-2">

                    </div>
                    <div class="col-md-2">
                        <h4>Deluxe Room</h4>
                        <span class="fasilitas-atas">2 Guest</span><br>
                        <span class="fasilitas-atas">1 Double Bed</span>
                        <br>
                        <span class="fasilitas-bawah">Free Breakfast</span><br>
                        <span class="fasilitas-bawah">Free Wifi</span>
                    </div>
                    <div class="col-md-2 col-md-offset-5">
                        <button class="btn btn-danger">Book</button>
                        <span class="room">1 Room(s) Avabile</span>
                    </div>
                </div>
                <div class="row">
                    <div class="kamar-image col-md-2">

                    </div>
                    <div class="col-md-2">
                        <h4>Deluxe Room</h4>
                        <span class="fasilitas-atas">2 Guest</span><br>
                        <span class="fasilitas-atas">1 Double Bed</span>
                        <br>
                        <span class="fasilitas-bawah">Free Breakfast</span><br>
                        <span class="fasilitas-bawah">Free Wifi</span>
                    </div>
                    <div class="col-md-2 col-md-offset-5">
                        <button class="btn btn-danger">Book</button>
                        <span class="room">1 Room(s) Avabile</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 semua-kamar">
                        <h6>Tampilkan semua kamar</h6>
                        <p>( 7 total kamar )</p>
                    </div>
                </div>
            </div>
        </section>
        <!--Akhir Book Kamar-->
        <!--Deskripsi-->
        <section class="deskripsi">
            <div class="isi-deskripsi col-md-12">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="tabbable">
                            <ul class="nav nav-tabs nav-tabs-component nav-justified">
                                <li class="active">
                                    <a href="#" data-toggle="tab" class="legitRipple">
                                        Deskripsi</a></li>
                                <li>
                                    <a href="#" data-toggle="tab" class="legitRipple">
                                        Fasilitas Hotel</a>
                                </li>
                                <li>
                                    <a href="#" data-toggle="tab" class="legitRipple">
                                        Kebijakan Hotel</a>
                                </li>
                            </ul>

                            <div class="tab-content">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Akhir Deskripsi-->
    </div>
</template>

<script>
    export default {
    }
</script>

<style scoped>
    @import "https://wessdil.com/css/style.css";
    @import "https://wessdil.com/css/hotel-detail.css";
</style>