<template>
    <div>
        <!--Konten-->
        <section class="konten">
            <div class="container">
                <div class="row">
                    <div class="col-md-7 data-pemesan">
                        <h4>Data Pemesanan</h4>
                        <div class="panel panel-flat">
                            <div class="panel-body">
                                <div class="tabbable">
                                    <div class="tab-content">
                                        <div class="row">
                                            <div class="col-md-12 col-sm-12">
                                                <div class="form-group">
                                                    <label for="form">Nama Lengkap</label>
                                                    <input type="text" class="form-control" id="form">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="form3">Nomor Telepon</label>
                                                    <input type="text" class="form-control" id="form3">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="form4">Email</label>
                                                    <input type="text" class="form-control" id="form4">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 col-sm-12">
                                                <div class="form-group">
                                                    <label for="form">Nama Lengkap Tamu</label>
                                                    <input type="text" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 rincian-pesanan">
                        <h4>Rincian Pesanan</h4>
                        <div class="panel panel-flat">
                            <h5>Detail Hotel</h5>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-3">
                                        <img src="asset/img/hotel1.jpeg">
                                    </div>
                                    <div class="col-md-6">
                                        <h5 class="nama-hotel">Grand Whizz</h5>
                                        <a href="#"><i class="fa fa-star"></i></a>
                                        <a href="#"><i class="fa fa-star"></i></a>
                                        <a href="#"><i class="fa fa-star"></i></a>
                                        <a href="#"><i class="fa fa-star"></i></a>
                                        <a href="#"><i class="fa fa-star"></i></a>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-md-6"><p>Durasi</p></div>
                                    <div class="col-md-6 text-right"><p>1 Malam</p></div>
                                    <div class="col-md-6"><p>Check In</p></div>
                                    <div class="col-md-6 text-right"><p>Kam, 21 Mar 2019</p></div>
                                    <div class="col-md-6"><p>Check Out</p></div>
                                    <div class="col-md-6 text-right"><p>Jum, 22 Mar 2019</p></div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-md-6"><p>Tipe Kamar</p></div>
                                    <div class="col-md-6 text-right"><p>Delux</p></div>
                                    <div class="col-md-6"><p>Tipe Tempat Tidur</p></div>
                                    <div class="col-md-6 text-right"><p>2 Single</p></div>
                                    <div class="col-md-6"><p>Jumlah Kamar</p></div>
                                    <div class="col-md-6 text-right"><p>1 Kamar</p></div>
                                    <div class="col-md-6"><p>Tamu per Kamar</p></div>
                                    <div class="col-md-6 text-right"><p>2 tamu</p></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-7 rincian-harga">
                        <h4>Rincian Harga</h4>
                        <div class="panel panel-flat">
                            <h5>Nama Hotel</h5>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <p>(1x) Deluxe Twin Room Only (1 Malam)</p>
                                    </div>
                                    <div class="col-md-6">
                                        <p class="text-right">Rp. 560.000</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3 col-md-offset-9">
                                        <button class="btn">Lanjutkan</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Akhir Konten-->
    </div>
</template>

<script>
    export default {
    }
</script>

<style scoped>
    @import "https://wessdil.com/css/style.css";
    @import "https://wessdil.com/css/hotel-input.css";
</style>