<template>
    <div>
        <section class="konten-head">
            <div class="jumbotron">
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <img src="https://wessdil.com/img/slider/online-support.png" alt="">
                        </div>

                        <div class="item">
                            <img src="https://wessdil.com/img/slider/payment.png" alt="">
                        </div>

                        <div class="item">
                            <img src="" alt="">
                        </div>
                    </div>

                    <!-- Left and right controls -->
                    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#myCarousel" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </section>
        <!--Booking Hotel-->
        <section class="booking-hotel">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="panel panel-flat" style="margin-top: -70px !important;">
                            <div class="panel-body">
                                <div class="tabbable">
                                    <ul class="nav nav-tabs nav-tabs-component nav-justified">
                                        <li class="active">
                                            <a href="#" data-toggle="tab" class="legitRipple">
                                                Hotel<span class="legitRipple-ripple" style="left: 75.7143%; top: 41.3043%; transform: translate3d(-50%, -50%, 0px); transition-duration: 0.2s, 0.5s; width: 210.519%;"></span></a></li>
                                        <li>
                                        </li>
                                        <li>

                                        </li>
                                    </ul>

                                    <div class="tab-content">
                                        <div class="row">
                                            <div class="col-md-6 col-sm-12">
                                                <div class="form-group">
                                                    <label for="form">Tujuan</label>
                                                    <input type="text" class="form-control" id="form">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="form2">Tamu</label>
                                                    <input type="text" class="form-control" id="form2">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label for="form3">Check In</label>
                                                    <input type="text" class="form-control" id="form3">
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label for="form4">Check Out</label>
                                                    <input type="text" class="form-control" id="form4">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label></label>
                                                    <button class="btn form-control hvr-grow-shadow">Cari Hotel</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Akhir Booking Hotel-->

        <!--Rekomendasi Hotel-->

        <section style="padding-bottom: 30px">
            <div class="container">
                <h4 style="text-align: center; font-weight: bold">Rekomendasi Hotel</h4>
                <div class="row">
                    <div class="col-xs-6 col-md-3 col-best">
                        <div class="project">
                            <div class="project__card">
                                <a href="" class="project__image">
                                    <img src="https://wessdil.com/img/hotel/hotel1.jpeg">
                                </a>
                                <div class="project__detail">
                                    <h2 class="project__title"><router-link :to="{name:'hoteldetail'}" href="#">Artotel</router-link></h2>
                                    <small class="project__category"><a href="#">Thamrin - Jakarta</a></small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-3 col-best">
                        <div class="project">
                            <div class="project__card">
                                <a href="" class="project__image">
                                    <img src="https://wessdil.com/img/hotel/hotel2.jpeg">
                                </a>
                                <div class="project__detail">
                                    <h2 class="project__title"><a href="#">Grand Whizz</a></h2>
                                    <small class="project__category"><a href="#">Trawas - Mojokerto</a></small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-3 col-best">
                        <div class="project">
                            <div class="project__card">
                                <a href="" class="project__image">
                                    <img src="https://wessdil.com/img/hotel/hotel3.jpeg">
                                </a>
                                <div class="project__detail">
                                    <h2 class="project__title"><a href="#">The Singhasari</a></h2>
                                    <small class="project__category"><a href="#">Batu - Malang</a></small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-3 col-best">
                        <div class="project">
                            <div class="project__card">
                                <a href="" class="project__image">
                                    <img src="https://wessdil.com/img/hotel/hotel4.jpeg">
                                </a>
                                <div class="project__detail">
                                    <h2 class="project__title"><a href="#">Baobab Safari</a></h2>
                                    <small class="project__category"><a href="#">Prigen Indonesia</a></small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6 col-md-3 col-best">
                        <div class="project">
                            <div class="project__card">
                                <a href="" class="project__image">
                                    <img src="https://wessdil.com/img/hotel/hotel5.jpeg">
                                </a>
                                <div class="project__detail">
                                    <h2 class="project__title"><a href="#">Ketapang Indah</a></h2>
                                    <small class="project__category"><a href="#">Banyuwangi - Indonesia</a></small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-3 col-best">
                        <div class="project">
                            <div class="project__card">
                                <a href="" class="project__image">
                                    <img src="https://wessdil.com/img/hotel/hotel6.jpeg">
                                </a>
                                <div class="project__detail">
                                    <h2 class="project__title"><a href="#">Bangsring Breeze</a></h2>
                                    <small class="project__category"><a href="#">Situbondo - Banyuwangi</a></small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-3 col-best">
                        <div class="project">
                            <div class="project__card">
                                <a href="" class="project__image">
                                    <img src="https://wessdil.com/img/hotel/hotel7.jpeg">
                                </a>
                                <div class="project__detail">
                                    <h2 class="project__title"><a href="#">Samara Resort</a></h2>
                                    <small class="project__category"><a href="#">Batu - Malang</a></small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-3 col-best">
                        <div class="project">
                            <div class="project__card">
                                <a href="" class="project__image">
                                    <img src="https://wessdil.com/img/hotel/hotel8.jpeg">
                                </a>
                                <div class="project__detail">
                                    <h2 class="project__title"><a href="#">Finna Golf</a></h2>
                                    <small class="project__category"><a href="#">Pasuruan - Indonesia</a></small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Akhir Rekomendasi Hotel-->

        <!--Hotel Terpopuler-->
        <section class="hotel-populer">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h4 style="text-align: center; font-weight: bold">Rekomendasi Hotel</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 col-md-offset-2">
                        <h5><a href="#" class="hvr-underline-from-left"> Surabaya</a></h5>
                        <span>483 Hotel</span>
                        <h5><a href="#" class="hvr-underline-from-left"> Malang</a></h5>
                        <span>483 Hotel</span>
                        <h5><a href="#" class="hvr-underline-from-left"> Batu</a></h5>
                        <span>483 Hotel</span>
                        <h5><a href="#" class="hvr-underline-from-left"> Jakarta</a></h5>
                        <span>483 Hotel</span>
                    </div>
                    <div class="col-md-3">
                        <h5><a href="#" class="hvr-underline-from-left"> Yogyakarta</a></h5>
                        <span>183 Hotel</span>
                        <h5><a href="#" class="hvr-underline-from-left"> Bandung</a></h5>
                        <span>483 Hotel</span>
                        <h5><a href="#" class="hvr-underline-from-left"> Aceh</a></h5>
                        <span>483 Hotel</span>
                        <h5><a href="#" class="hvr-underline-from-left"> Banyuwangi</a></h5>
                        <span>483 Hotel</span>
                    </div>
                    <div class="col-md-3">
                        <h5><a href="#" class="hvr-underline-from-left"> Denpasar</a></h5>
                        <span>123 Hotel</span>
                        <h5><a href="#" class="hvr-underline-from-left"> Jepara</a></h5>
                        <span>483 Hotel</span>
                        <h5><a href="#" class="hvr-underline-from-left"> Semarang</a></h5>
                        <span>483 Hotel</span>
                        <h5><a href="#" class="hvr-underline-from-left"> NTB</a></h5>
                        <span>483 Hotel</span>
                    </div>
                </div>
            </div>
        </section>
        <!--Akhir Hotel Terpopuler-->

        <!--Hotel Partner-->
        <section class="hotel-partner">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h4 style="text-align: center; font-weight: bold">Hotel Partner</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-md-offset-1">
                        <img src="https://wessdil.com/img/hotel/logo-hotel.png">
                    </div>
                    <div class="col-md-5">
                        <p>Domestic & International Hotel Partners <br>
                            We are partnering with hotel chains across <br>
                            the globe to ensure a comfortable stay <br>
                            wherever you travel.
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <!--Akhir Hotel Partner-->
    </div>
</template>

<script>
    export default {
        mounted(){
            $(".project").hover3d({
                selector: ".project__card"
            });
        }
    };
</script>

<style scoped>
    @import "https://wessdil.com/css/style.css";
    @import "https://wessdil.com/css/hotel.css";
</style>
