<template>
    <div>
        <!--Konten-->
        <section class="konten">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-md-offset-1">
                        <ul class="nav navigation">
                            <li class=""><a href="#" class="legitRipple">Profile</a></li>
                            <li class="actived"><a href="#" class="legitRipple">My Order</a></li>
                            <li class=""><a href="#" class="legitRipple">My Refund</a></li>
                            <li class=""><a href="#" class="legitRipple">Pengaturan</a></li>
                        </ul>
                    </div>
                    <div class="col-md-7 order">
                        <div class="panel">
                            <div class="panel-body">
                                <h5>My Order</h5>
                                <div class="row mt-20">
                                    <div class="col-md-3 khusus">
                                        <div class="image">

                                        </div>
                                    </div>
                                    <div class="col-md-7 produk">
                                        <h6>Nama Produk</h6>
                                        <span>Rp 1.500.000</span>
                                    </div>
                                    <div class="col-md-2 detail">
                                        <h6>20 May 2019</h6>
                                        <span>Available</span>
                                        <button class="btn">Detail</button>
                                    </div>
                                </div>
                                <div class="row mt-20">
                                    <div class="col-md-3 khusus">
                                        <div class="image">

                                        </div>
                                    </div>
                                    <div class="col-md-7 produk">
                                        <h6>Nama Produk</h6>
                                        <span>Rp 1.500.000</span>
                                    </div>
                                    <div class="col-md-2 detail">
                                        <h6>28 May 2029</h6>
                                        <span>Not Available</span>
                                        <button class="btn">Detail</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Akhir Konten-->
    </div>
</template>

<script>
    export default {
        name: "order"
    }
</script>

<style scoped>
    @import "https://wessdil.com/css/order.css";
</style>