<template>
    <div>
        <!--Konten-->
        <section class="konten">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 pembayaran">
                        <div class="panel panel-flat">
                            <div class="panel-body">
                                <div class="tabbable nav-tabs-vertical nav-tabs-left">
                                    <ul class="nav nav-tabs nav-tabs-highlight">
                                        <li class="judul"><a href="#" class="text-center">-= METODE PEMBAYARAN =-</a></li>
                                        <li class="active"><a href="#left-tab1" data-toggle="tab" class="legitRipple" aria-expanded="true">Doku Wallet</a></li>
                                        <li class=""><a href="#left-tab2" data-toggle="tab" class="legitRipple" aria-expanded="false">Transfer</a></li>
                                        <li class=""><a href="#left-tab3" data-toggle="tab" class="legitRipple" aria-expanded="false">Virtual Account</a></li>
                                        <li class=""><a href="#left-tab4" data-toggle="tab" class="legitRipple" aria-expanded="false">Credit Card</a></li>
                                        <li class=""><a href="#left-tab5" data-toggle="tab" class="legitRipple" aria-expanded="false">Alfamart</a></li>
                                    </ul>

                                    <div class="tab-content">
                                        <div class="tab-pane has-padding active" id="left-tab1">
                                            <div class="row">
                                                <div class="col-md-8">
                                                    <h5>Doku Wallet</h5>
                                                </div>
                                                <div class="col-md-4">
                                                    <img src="https://wessdil.com/img/payment/dokuwallet.jpg">
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12 transfer">
                                                    <div class="radio">
                                                        <label>
                                                            <div class="choice border-primary-600 text-primary-800"><span class="checked"><input type="radio" name="radio-styled-color" class="control-primary" checked="checked"></span></div>
                                                            Doku Wallet
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="tab-pane has-padding" id="left-tab2">
                                            <div class="row">
                                                <div class="col-md-8">
                                                    <h5>Transfer</h5>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12 transfer">
                                                    <h6>Select a Destination Account</h6>
                                                    <div class="radio">
                                                        <label>
                                                            <div class="choice border-primary-600 text-primary-800"><span class="checked"><input type="radio" name="radio-styled-color" class="control-primary" checked="checked"></span></div>
                                                            BCA
                                                        </label>
                                                    </div>

                                                    <div class="radio">
                                                        <label>
                                                            <div class="choice border-primary-600 text-primary-800"><span class=""><input type="radio" name="radio-styled-color" class="control-danger"></span></div>
                                                            Mandiri
                                                        </label>
                                                    </div>

                                                    <div class="radio">
                                                        <label>
                                                            <div class="choice border-primary-600 text-primary-800"><span class=""><input type="radio" name="radio-styled-color" class="control-success"></span></div>
                                                            BRI
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="tab-pane has-padding" id="left-tab3">
                                            <div class="row">
                                                <div class="col-md-8">
                                                    <h5>Virtual Account</h5>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="tab-pane has-padding" id="left-tab4">
                                            <div class="row">
                                                <div class="col-md-8">
                                                    <h5>Credit Card</h5>
                                                </div>
                                                <div class="col-md-4">
                                                    <img src="https://wessdil.com/img/payment/mastercard.png" class="mastercard">
                                                    <img src="https://wessdil.com/img/payment/visa.svg" class="visa">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="tab-pane has-padding" id="left-tab5">
                                            <div class="row">
                                                <div class="col-md-8">
                                                    <h5>Alfamart</h5>
                                                </div>
                                                <div class="col-md-4">
                                                    <img src="https://wessdil.com/img/payment/alfamart.png" class="alfamart">
                                                    <img src="https://wessdil.com/img/payment/alfamidi.jpg" class="alfamidi">
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 detail-booking">
                        <div class="panel panel-flat">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-6 judul"><p>Booking Id</p></div>
                                    <div class="col-md-12"><p>234612</p></div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-md-6 judul"><p>Your Trip</p></div>
                                    <div class="col-md-12"><p>10 Mar 2019 - 12 Mar 2019</p></div>
                                    <div class="col-md-12"><p>- Surabaya One Day Tour</p></div>
                                    <div class="col-md-12"><p>- Hotel Majapahit Surabaya</p></div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-md-6 judul"><p>Traveller (s)</p></div>
                                    <div class="col-md-8"><p>Mr. John Doe</p></div>
                                    <div class="col-md-4 text-right"><p>Adult</p></div>
                                    <div class="col-md-8"><p>Mr. Alex</p></div>
                                    <div class="col-md-4 text-right"><p>Adult</p></div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-md-6 judul"><p>Detail Harga</p></div>
                                    <div class="col-md-8"><p>Tour</p></div>
                                    <div class="col-md-4 text-right"><p>Rp 3.500.000</p></div>
                                    <div class="col-md-8"><p>Hotel</p></div>
                                    <div class="col-md-4 text-right"><p>Rp 1.000.000</p></div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-md-8"><p>Total</p></div>
                                    <div class="col-md-4 text-right"><p>Rp 4.500.000</p></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 col-md-offset-3">
                                        <button class="btn">Bayar dengan Transfer</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Akhir Konten-->
    </div>
</template>

<script>
    export default {
        name: "payment"
    }
</script>

<style scoped>
    @import "https://wessdil.com/css/payment.css";
</style>