<template>
    <div>
        <!--Konten-->
        <section class="konten">
            <div class="jumbotron">
                <div class="container">
                    <div class="col-md-10 col-md-offset-1">
                        <h5 class="mt-5">You're Almost Done!</h5>
                    </div>
                </div>
            </div>
            <div class="container" v-if="product">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-7 col-sm-offset-1 contract-detail">
                                <h4>Contact Details</h4>
                                <div class="panel panel-flat">
                                    <div class="panel-body">
                                        <div class="tabbable">
                                            <div class="tab-content">
                                                <div class="row">
                                                    <div class="col-md-12 col-sm-12">
                                                        <div class="form-group">
                                                            <label for="form">Name</label>
                                                            <input type="text" class="form-control" id="form">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label for="form3">No. HP</label>
                                                            <input type="text" class="form-control" id="form3">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label for="form4">Email</label>
                                                            <input type="text" class="form-control" id="form4">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 detail mt-5">
                                <singleproduct :product="product"></singleproduct>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-7 col-sm-offset-1">
                                <h4>Traveller List</h4>
                            </div>
                            <div class="col-md-7 col-md-offset-1 traveller-detail">
                                <div class="panel panel-flat" v-for="(adult,indexAdult) in parseInt($route.query.adult)" :key="'adult'+indexAdult">
                                    <div class="panel-body">
                                        <h5>Traveler Adult {{(indexAdult+1)}}</h5>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="form5">Traveler Type</label>
                                                    <input type="text" class="form-control" id="form5" ref="travelerAdultType">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label for="form7">Name</label>
                                                    <input type="text" class="form-control" id="form7"
                                                           ref="travelerAdultName"
                                                           name="travelerName"
                                                           placeholder="Enter full name based on passport or national id">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-flat" v-for="(child,indexChild) in parseInt($route.query.child)" :key="'child'+indexChild">
                                    <div class="panel-body">
                                        <h5>Traveler Child {{(indexChild+1)}}</h5>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="form5">Traveler Type</label>
                                                    <input type="text" class="form-control" id="form5" :value="'Child'" ref="travelerChildType">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label for="form7">Name</label>
                                                    <input type="text" class="form-control" id="form7"
                                                           ref="travelerChildName"
                                                           name="travelerName"
                                                           placeholder="Enter full name based on passport or national id">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <!--<div class="content-group">-->
                                    <!--<h4>Price Details</h4>-->
                                    <!--<ul class="list-group">-->
                                        <!--<li class="list-group-header"><i class="icon-menu7"></i> Group header</li>-->

                                        <!--<li class="list-group-item">-->
                                            <!--<i class="icon-comment-discussion"></i> And hello exotic staunch-->
                                        <!--</li>-->

                                        <!--<li class="list-group-item active">-->
                                            <!--<i class="icon-mention"></i> That and well ecstatically-->
                                        <!--</li>-->

                                        <!--<li class="list-group-divider"></li>-->

                                        <!--<li class="list-group-item">-->
                                            <!--Sheared coasted so concurrent <i class="icon-gear pull-right"></i>-->
                                        <!--</li>-->

                                        <!--<li class="list-group-item disabled">-->
                                            <!--Into darn intrepid belated <i class="icon-graph pull-right"></i>-->
                                        <!--</li>-->
                                    <!--</ul>-->
                                <!--</div>-->
                                <div class="panel panel-flat">
                                    <div class="content-group">
                                        <ul class="list-group">
                                            <li class="list-group-header"><i class="icon-price-tag"></i> Price Details</li>

                                            <li class="list-group-item" v-if="$route.query.adult > 0">
                                                <h6 class="list-group-item-heading"><i class="icon-people position-left"></i>
                                                    {{$route.query.adult}} Adult
                                                    <span class="pull-right">Rp. {{ getTotalAdult | numeral('0,0')}}</span>
                                                </h6>
                                            </li>

                                            <li class="list-group-item" v-if="$route.query.child > 0">
                                                <h6 class="list-group-item-heading"><i class="fa fa-child position-left"></i>
                                                    {{$route.query.child}} Child
                                                    <span class="pull-right">Rp. {{ getTotalChild | numeral('0,0')}}</span>
                                                </h6>
                                            </li>
                                            <a href="#" @click="selectPaymentMethods" class="list-group-item active">Select Payment Methods</a>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--<div class="row">-->
                    <!--<div class="col-md-7 col-md-offset-1 price-detail">-->
                        <!--<h4>Price Details</h4>-->
                        <!--<div class="panel panel-flat">-->
                            <!--<div class="panel-body">-->
                                <!--<div class="row">-->
                                    <!--<div class="col-md-6">-->
                                        <!--<p>Price You Pay</p>-->
                                        <!--<h5>Rp 1.500.000</h5>-->
                                    <!--</div>-->
                                    <!--<div class="col-md-6 text-right">-->
                                        <!--<button class="btn">Payment</button>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            </div>
        </section>
        <!--Akhir Konten-->
    </div>
</template>

<script>
    import {mapGetters} from 'vuex'
    import Singleproduct from "../../components/frontend/singleproduct";
    export default {
        components: {Singleproduct},
        data(){
            return {
                ppn:0.01,
                dict: {
                    custom: {
                        travelerName: {
                            required: 'Fill all traveler list name'
                        }
                    }
                },
                travelersData:[]
            }
        },
        created(){
            this.$store.dispatch('ProductStore/readSlug',{url:'public/product/detail/'+this.$route.query.product})
        },
        computed:{
            ...mapGetters('ProductStore',{product:'getProduct'}),
            getTotalChild(){
                if(this.product){
                    return (this.$route.query.child * this.product.price[0].price)
                }
            },
            getTotalAdult(){
                if(this.product){
                    return (this.$route.query.adult * this.product.price[0].price)
                }
            },
            getPpnPrice(){
                if(this.product){
                    let total = this.getTotalAdult+ this.getTotalChild
                    return (this.ppn * total)
                }
            },
            getTotalPaid(){
                if(this.product){
                    let total = this.getTotalAdult + this.getTotalChild
                    let ppnPrice = this.ppn * total
                    return  (ppnPrice + total)
                }
            }
        },
        methods:{
            selectPaymentMethods(){
                let travelerData= {}
            }
        }
    }
</script>

<style scoped>
    @import "https://wessdil.com/css/pemesanan-tour.css";
</style>