<template>
    <div>
        <!--Konten-->
        <section class="konten">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-md-offset-1">
                        <ul class="nav navigation">
                            <li class="actived"><a href="#" class="legitRipple">Profile</a></li>
                            <li class=""><a href="#" class="legitRipple">My Order</a></li>
                            <li class=""><a href="#" class="legitRipple">My Refund</a></li>
                            <li class=""><a href="#" class="legitRipple">Pengaturan</a></li>
                        </ul>
                    </div>
                    <div class="col-md-7 profile">
                        <div class="panel">
                            <div class="panel-body">
                                <h5>Details Account</h5>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="panel profile-header">
                                            <div class="panel-body">
                                                <div class="row">
                                                    <div class="col-md-5">Email <br>
                                                        <span>kangadit.dev@gmail.com</span>
                                                    </div>
                                                    <div class="col-md-4">Nomor Ponsel <br>
                                                        <span>+6913 321 098</span>
                                                    </div>
                                                    <div class="col-md-3 setting"><a href="#">Account Setting</a></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="panel profile-body">
                                            <div class="row">
                                                <div class="col-md-10 col-md-offset-1">
                                                    <div class="form-group">
                                                        <label for="form">First Name</label>
                                                        <input type="text" class="form-control" id="form">
                                                    </div>
                                                </div>
                                                <div class="col-md-10 col-md-offset-1">
                                                    <div class="form-group">
                                                        <label for="form2">Last Name</label>
                                                        <input type="text" class="form-control" id="form2">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-5 col-md-offset-1">
                                                    <div class="form-group">
                                                        <label for="form3">Title</label>
                                                        <input type="text" class="form-control" id="form3">
                                                    </div>
                                                </div>
                                                <div class="col-md-5">
                                                    <div class="form-group">
                                                        <label></label>
                                                        <button class="btn form-control">Simpan</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Akhir Konten-->
    </div>
</template>

<script>
    export default {
        name: "profile"
    }
</script>

<style scoped>
    @import "https://wessdil.com/css/profile.css";
</style>