<template>
    <div>
        <!--slider-->
        <section class="konten-head">
            <div class="jumbotron">
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <img src="https://wessdil.com/img/slider/online-support.png" alt="">
                        </div>

                        <div class="item">
                            <img src="https://wessdil.com/img/slider/payment.png" alt="">
                        </div>

                        <div class="item">
                            <img src="" alt="">
                        </div>
                    </div>

                    <!-- Left and right controls -->
                    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#myCarousel" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </section>
        <!--slider akhir-->
        <!--form booking mobil-->
        <section class="booking-form">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="panel panel-flat" style="margin-top: -70px !important;">
                            <div class="panel-body">
                                <div class="tabbable">
                                    <ul class="nav nav-tabs nav-tabs-component nav-justified">
                                        <li class="active">
                                            <a href="#" data-toggle="tab" class="legitRipple">
                                                Sewa Mobil<span class="legitRipple-ripple" style="left: 75.7143%; top: 41.3043%; transform: translate3d(-50%, -50%, 0px); transition-duration: 0.2s, 0.5s; width: 210.519%;"></span>
                                            </a>
                                        </li>
                                        <li>
                                        </li>
                                        <li>
                                        </li>
                                    </ul>

                                    <div class="content" id="">
                                        <div class="row">
                                            <div class="col-md-8">
                                                <div class="form-group">
                                                    <label for="tujuan">Tujuan</label>
                                                    <input type="text" class="form-control" id="tujuan">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="jml-mobil">Jumlah Mobil</label>
                                                    <input type="text" class="form-control" id="jml-mobil">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="tgl-mulai">Tanggal Mulai</label>
                                                    <input type="text" class="form-control" id="tgl-mulai">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="tgl-selesai">Tanggal Selesai</label>
                                                    <input type="text" class="form-control" id="tgl-selesai">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label></label>
                                                    <button class="btn form-control">Cari Mobil</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--akhir form booking mobil-->
        <!--rental mobil populer-->
        <section class="populer">
            <div class="container">
                <h4>Rental Mobil Populer</h4>
                <div class="row">
                    <div class="col-md-4">
                        <a href="">
                            <div class="project">
                                <div class="project__card">
                                    <a href="" class="project__image">
                                        <img src="https://wessdil.com/img/best/jogja.jpg">
                                    </a>
                                    <div class="project__detail">
                                    </div>
                                </div>
                            </div>
                            <h5 class=""><a href="#">Jogja</a></h5>
                            <small class=""><a href="#">mulai dari 200K</a></small>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="">
                            <div class="project">
                                <div class="project__card">
                                    <a href="" class="project__image">
                                        <img src="https://wessdil.com/img/best/bali.png">
                                    </a>
                                    <div class="project__detail">
                                    </div>
                                </div>
                            </div>
                            <h5 class=""><a href="#">Bali</a></h5>
                            <small class=""><a href="#">mulai dari 200K</a></small>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="">
                            <div class="project">
                                <div class="project__card">
                                    <a href="" class="project__image">
                                        <img src="https://wessdil.com/img/best/semarang.jpg">
                                    </a>
                                    <div class="project__detail">
                                    </div>
                                </div>
                            </div>
                            <h5 class=""><a href="#">Semarang</a></h5>
                            <small class=""><a href="#">mulai dari 200K</a></small>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <!--akhir rental mobil populer-->
        <!--daftar mobil-->
        <section class="daftar-mobil">
            <div class="container">
                <h4>Daftar Mobil</h4>
                <div class="row">
                    <div class="col-md-3">
                        <div class="thumbnail">
                            <div class="thumb">
                                <img src="https://wessdil.com/img/rentcar/daftar-mobil/avanza.jpg" alt="">
                            </div>
                            <div class="caption">
                                <h6 style="margin-bottom: 1px;">Avanza</h6>
                                <small><a href="#">Mulai Dari 200K</a></small>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="thumbnail">
                            <div class="thumb">
                                <img src="https://wessdil.com/img/rentcar/daftar-mobil/avanza.jpg" alt="">
                            </div>
                            <div class="caption">
                                <h6 style="margin-bottom: 1px;">Avanza</h6>
                                <small><a href="#">Mulai Dari 200K</a></small>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="thumbnail">
                            <div class="thumb">
                                <img src="https://wessdil.com/img/rentcar/daftar-mobil/avanza.jpg" alt="">
                            </div>
                            <div class="caption">
                                <h6 style="margin-bottom: 1px;">Avanza</h6>
                                <small><a href="#">Mulai Dari 200K</a></small>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="thumbnail">
                            <div class="thumb">
                                <img src="https://wessdil.com/img/rentcar/daftar-mobil/avanza.jpg" alt="">
                            </div>
                            <div class="caption">
                                <h6 style="margin-bottom: 1px;">Avanza</h6>
                                <small><a href="#">Mulai Dari 200K</a></small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="thumbnail">
                            <div class="thumb">
                                <img src="https://wessdil.com/img/rentcar/daftar-mobil/avanza.jpg" alt="">
                            </div>
                            <div class="caption">
                                <h6 style="margin-bottom: 1px;">Avanza</h6>
                                <small><a href="#">Mulai Dari 200K</a></small>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="thumbnail">
                            <div class="thumb">
                                <img src="https://wessdil.com/img/rentcar/daftar-mobil/avanza.jpg" alt="">
                            </div>
                            <div class="caption">
                                <h6 style="margin-bottom: 1px;">Avanza</h6>
                                <small><a href="#">Mulai Dari 200K</a></small>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="thumbnail">
                            <div class="thumb">
                                <img src="https://wessdil.com/img/rentcar/daftar-mobil/avanza.jpg" alt="">
                            </div>
                            <div class="caption">
                                <h6 style="margin-bottom: 1px;">Avanza</h6>
                                <small><a href="#">Mulai Dari 200K</a></small>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="thumbnail">
                            <div class="thumb">
                                <img src="https://wessdil.com/img/rentcar/daftar-mobil/avanza.jpg" alt="">
                            </div>
                            <div class="caption">
                                <h6 style="margin-bottom: 1px;">Avanza</h6>
                                <small><a href="#">Mulai Dari 200K</a></small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--akhir daftar mobil-->
        <!--partner-->
        <section class="partner">
            <div class="container">
                <h4>Partner Vendor</h4>
                <div class="row">

                </div>
            </div>
        </section>
        <!--akhir partner-->
    </div>
</template>

<script>
    export default {
    }
</script>

<style scoped>
    @import "https://wessdil.com/css/style.css";
    @import "https://wessdil.com/css/rentcar.css";
</style>