<template>
    <div>
        <!--Konten-->
        <section class="konten">
            <div class="container">
                <div class="row judul">
                    <h4>Trending</h4>
                </div>
                <div class="row">
                    <a href="#">
                        <div class="col-md-3">
                            <div class="panel">
                                <div class="panel-body"></div>
                                <div class="panel-footer">
                                    <h5>Nama Produk</h5>
                                    <p>20.000</p>
                                    <a href="#"><i class="icon-star-full2"></i></a>
                                    <a href="#"><i class="icon-star-full2"></i></a>
                                    <a href="#"><i class="icon-star-full2"></i></a>
                                    <a href="#"><i class="icon-star-full2"></i></a>
                                    <a href="#"><i class="icon-star-full2"></i></a>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="col-md-3">
                            <div class="panel">
                                <div class="panel-body"></div>
                                <div class="panel-footer">
                                    <h5>Nama Produk</h5>
                                    <p>20.000</p>
                                    <a href="#"><i class="icon-star-full2"></i></a>
                                    <a href="#"><i class="icon-star-full2"></i></a>
                                    <a href="#"><i class="icon-star-full2"></i></a>
                                    <a href="#"><i class="icon-star-full2"></i></a>
                                    <a href="#"><i class="icon-star-full2"></i></a>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="col-md-3">
                            <div class="panel">
                                <div class="panel-body"></div>
                                <div class="panel-footer">
                                    <h5>Nama Produk</h5>
                                    <p>20.000</p>
                                    <a href="#"><i class="icon-star-full2"></i></a>
                                    <a href="#"><i class="icon-star-full2"></i></a>
                                    <a href="#"><i class="icon-star-full2"></i></a>
                                    <a href="#"><i class="icon-star-full2"></i></a>
                                    <a href="#"><i class="icon-star-full2"></i></a>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="col-md-3">
                            <div class="panel">
                                <div class="panel-body"></div>
                                <div class="panel-footer">
                                    <h5>Nama Produk</h5>
                                    <p>20.000</p>
                                    <a href="#"><i class="icon-star-full2"></i></a>
                                    <a href="#"><i class="icon-star-full2"></i></a>
                                    <a href="#"><i class="icon-star-full2"></i></a>
                                    <a href="#"><i class="icon-star-full2"></i></a>
                                    <a href="#"><i class="icon-star-full2"></i></a>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="row">
                    <a href="#">
                        <div class="col-md-3">
                            <div class="panel">
                                <div class="panel-body"></div>
                                <div class="panel-footer">
                                    <h5>Nama Produk</h5>
                                    <p>20.000</p>
                                    <a href="#"><i class="icon-star-full2"></i></a>
                                    <a href="#"><i class="icon-star-full2"></i></a>
                                    <a href="#"><i class="icon-star-full2"></i></a>
                                    <a href="#"><i class="icon-star-full2"></i></a>
                                    <a href="#"><i class="icon-star-full2"></i></a>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="col-md-3">
                            <div class="panel">
                                <div class="panel-body"></div>
                                <div class="panel-footer">
                                    <h5>Nama Produk</h5>
                                    <p>20.000</p>
                                    <a href="#"><i class="icon-star-full2"></i></a>
                                    <a href="#"><i class="icon-star-full2"></i></a>
                                    <a href="#"><i class="icon-star-full2"></i></a>
                                    <a href="#"><i class="icon-star-full2"></i></a>
                                    <a href="#"><i class="icon-star-full2"></i></a>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="col-md-3">
                            <div class="panel">
                                <div class="panel-body"></div>
                                <div class="panel-footer">
                                    <h5>Nama Produk</h5>
                                    <p>20.000</p>
                                    <a href="#"><i class="icon-star-full2"></i></a>
                                    <a href="#"><i class="icon-star-full2"></i></a>
                                    <a href="#"><i class="icon-star-full2"></i></a>
                                    <a href="#"><i class="icon-star-full2"></i></a>
                                    <a href="#"><i class="icon-star-full2"></i></a>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="col-md-3">
                            <div class="panel">
                                <div class="panel-body"></div>
                                <div class="panel-footer">
                                    <h5>Nama Produk</h5>
                                    <p>20.000</p>
                                    <a href="#"><i class="icon-star-full2"></i></a>
                                    <a href="#"><i class="icon-star-full2"></i></a>
                                    <a href="#"><i class="icon-star-full2"></i></a>
                                    <a href="#"><i class="icon-star-full2"></i></a>
                                    <a href="#"><i class="icon-star-full2"></i></a>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="row">
                    <div class="col-md-2 col-md-offset-5 tombol">
                        <button class="btn hvr-shadow">Lihat Semua</button>
                    </div>
                </div>
                <div class="row judul">
                    <h4>Trending</h4>
                </div>
                <div class="row">
                    <a href="#">
                        <div class="col-md-3">
                            <div class="panel">
                                <div class="panel-body"></div>
                                <div class="panel-footer">
                                    <h5>Nama Produk</h5>
                                    <p>20.000</p>
                                    <a href="#"><i class="icon-star-full2"></i></a>
                                    <a href="#"><i class="icon-star-full2"></i></a>
                                    <a href="#"><i class="icon-star-full2"></i></a>
                                    <a href="#"><i class="icon-star-full2"></i></a>
                                    <a href="#"><i class="icon-star-full2"></i></a>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="col-md-3">
                            <div class="panel">
                                <div class="panel-body"></div>
                                <div class="panel-footer">
                                    <h5>Nama Produk</h5>
                                    <p>20.000</p>
                                    <a href="#"><i class="icon-star-full2"></i></a>
                                    <a href="#"><i class="icon-star-full2"></i></a>
                                    <a href="#"><i class="icon-star-full2"></i></a>
                                    <a href="#"><i class="icon-star-full2"></i></a>
                                    <a href="#"><i class="icon-star-full2"></i></a>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="col-md-3">
                            <div class="panel">
                                <div class="panel-body"></div>
                                <div class="panel-footer">
                                    <h5>Nama Produk</h5>
                                    <p>20.000</p>
                                    <a href="#"><i class="icon-star-full2"></i></a>
                                    <a href="#"><i class="icon-star-full2"></i></a>
                                    <a href="#"><i class="icon-star-full2"></i></a>
                                    <a href="#"><i class="icon-star-full2"></i></a>
                                    <a href="#"><i class="icon-star-full2"></i></a>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="col-md-3">
                            <div class="panel">
                                <div class="panel-body"></div>
                                <div class="panel-footer">
                                    <h5>Nama Produk</h5>
                                    <p>20.000</p>
                                    <a href="#"><i class="icon-star-full2"></i></a>
                                    <a href="#"><i class="icon-star-full2"></i></a>
                                    <a href="#"><i class="icon-star-full2"></i></a>
                                    <a href="#"><i class="icon-star-full2"></i></a>
                                    <a href="#"><i class="icon-star-full2"></i></a>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="row">
                    <a href="#">
                        <div class="col-md-3">
                            <div class="panel">
                                <div class="panel-body"></div>
                                <div class="panel-footer">
                                    <h5>Nama Produk</h5>
                                    <p>20.000</p>
                                    <a href="#"><i class="icon-star-full2"></i></a>
                                    <a href="#"><i class="icon-star-full2"></i></a>
                                    <a href="#"><i class="icon-star-full2"></i></a>
                                    <a href="#"><i class="icon-star-full2"></i></a>
                                    <a href="#"><i class="icon-star-full2"></i></a>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="col-md-3">
                            <div class="panel">
                                <div class="panel-body"></div>
                                <div class="panel-footer">
                                    <h5>Nama Produk</h5>
                                    <p>20.000</p>
                                    <a href="#"><i class="icon-star-full2"></i></a>
                                    <a href="#"><i class="icon-star-full2"></i></a>
                                    <a href="#"><i class="icon-star-full2"></i></a>
                                    <a href="#"><i class="icon-star-full2"></i></a>
                                    <a href="#"><i class="icon-star-full2"></i></a>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="col-md-3">
                            <div class="panel">
                                <div class="panel-body"></div>
                                <div class="panel-footer">
                                    <h5>Nama Produk</h5>
                                    <p>20.000</p>
                                    <a href="#"><i class="icon-star-full2"></i></a>
                                    <a href="#"><i class="icon-star-full2"></i></a>
                                    <a href="#"><i class="icon-star-full2"></i></a>
                                    <a href="#"><i class="icon-star-full2"></i></a>
                                    <a href="#"><i class="icon-star-full2"></i></a>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="col-md-3">
                            <div class="panel">
                                <div class="panel-body"></div>
                                <div class="panel-footer">
                                    <h5>Nama Produk</h5>
                                    <p>20.000</p>
                                    <a href="#"><i class="icon-star-full2"></i></a>
                                    <a href="#"><i class="icon-star-full2"></i></a>
                                    <a href="#"><i class="icon-star-full2"></i></a>
                                    <a href="#"><i class="icon-star-full2"></i></a>
                                    <a href="#"><i class="icon-star-full2"></i></a>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="row">
                    <div class="col-md-2 col-md-offset-5 tombol">
                        <button class="btn hvr-shadow">Lihat Semua</button>
                    </div>
                </div>
            </div>
        </section>
        <!--Akhir Konten-->
    </div>
</template>

<script>
    export default {
    }
</script>

<style scoped>
    @import "https://wessdil.com/css/style.css";
    @import "https://wessdil.com/css/shop.css";
</style>