<template>
    <div>
        <!--Konten-->
        <section class="konten">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-1">
                        <div class="panel faq">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h5>Terms and Conditions - <span>wessdil.com</span></h5>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="panel-group panel-group-control panel-group-control-right content-group-lg">
                                            <p>WESSDIL.COM sangat menghormati hal-hal yang berkenaan dengan perlindungan privasi Anda. Oleh karena itu, Kami menyusun kebijakan privasi ini (“Kebijakan Privasi”) untuk menjelaskan kepada Anda bagaimana Kami (PT Tapak Jejak Indonesia), mengumpulkan dan menggunakan Data Pribadi Anda. Kami hanya mengumpulkan data yang penting bagi Kami dan Kami hanya akan menyimpan data Anda selama dibutuhkan untuk tujuan-tujuan sebagaimana dijabarkan dalam Kebijakan Privasi ini.</p>
                                            <br>
                                            <div>
                                                <h6>Keamanan Data</h6><br>
                                                <p>Kami memastikan bahwa data Anda yang dikumpulkan dan/atau terkumpul oleh Kami akan disimpan dengan aman. Kami akan menyimpan data Anda selama diperlukan untuk memenuhi tujuan yang dijelaskan dalam Kebijakan Privasi ini.</p>
                                                <br>
                                            </div>
                                            <div>
                                                <h5>DATA PRIBADI</h5><br>
                                                <p>“Data Pribadi” adalah setiap data, informasi, dan/atau keterangan dalam bentuk apapun yang dapat mengidentifikasikan diri Anda, yang dari waktu ke waktu Anda sampaikan kepada Kami atau yang Anda cantumkan atau sampaikan dalam, pada, dan/atau melalui Aplikasi yang menyangkut informasi mengenai pribadi Anda, yang mencakup, antara lain; nama lengkap, nomor kartu identitas anda, tanggal lahir, alamat surat elektronik (e-mail), nomor telepon genggam (handphone), termasuk namun tidak terbatas pada; IP address, informasi lokasi, data perangkat Anda, (termasuk namun tidak terbatas pada; nomor IMEI, nama aplikasi yang  telah dilekatkan pada perangkat Anda); data yang menyangkut informasi mengenai kegiatan transaksi Anda pada Aplikasi WESSDIL.COM; dan data lainnya yang tergolong sebagai data pribadi.</p>
                                                <br><br>
                                                <div>
                                                    <h6>Pengumpulan Data Pribadi</h6><br>
                                                    <p>Penyediaan Data Pribadi Anda bersifat sukarela. Namun, jika Anda tidak memberikan Kami Data Pribadi Anda, Kami tidak akan dapat memproses Data Pribadi Anda untuk tujuan yang diuraikan di bawah ini, dan dapat menyebabkan Kami tidak dapat memberikan layanan-layanan atau produk-produk kepada, atau memproses pembayaran-pembayaran dari Anda.</p>
                                                    <p>Kami akan mengumpulkan Data Pribadi Anda pada saat Anda membuat Akun atau pada saat lainnya sebagaimana Kami mintakan kepada Anda apabila dibutuhkan dari waktu ke waktu. Pemberian Data Pribadi Anda bersifat sukarela. Namun, Kami sangat memerlukan Data Pribadi Anda agar dapat melaksanakan tujuan-tujuan penggunaan sebagaimana dimaksud dalam poin di bawah ini.</p>
                                                    <p>Kami akan mengumpulkan Data Pribadi Anda setiap kali Anda menggunakan, melakukan akses terhadap Akun Anda pada Aplikasi WESSDIL.COM, melakukan transaksi, baik dengan WESSDIL.COM Cash atau WESSDIL.COM Points, melalui Aplikasi WESSDIL.COM.</p>
                                                </div>
                                                <div>
                                                    <h6>Penggunaan Data Pribadi</h6>
                                                    <p>Kami akan menggunakan Data Pribadi Anda untuk:</p>
                                                    <p>mengidenfitikasi penggunaan Anda atas Aplikasi WESSDIL.COM dan layanan-layanan Kami;</p>
                                                    <p>memproses transaksi yang Anda mintakan;</p>
                                                    <p>memproses dan mengelola WESSDIL.COM Cash dan WESSDIL.COM Points Anda;</p>
                                                    <p>mencegah, mendeteksi, dan mengatasi terjadinya tindakan kejahatan yang mungkin terjadi dalam penggunaan Aplikasi WESSDIL.COM termasuk namun tidak terbatas pada penipuan (fraud), penggelapan, pencurian, money laundering;</p>
                                                    <p>mengembangkan, menambah dan menyediakan produk untuk memenuhi kebutuhan Anda;</p>
                                                    <p>urusan administrasi Akun Anda;</p>
                                                    <p>pelaksanaan riset mengenai data demografis pengguna Aplikasi WESSDIL.COM;</p>
                                                    <p>mengembangkan, meningkatkan, dan menyediakan layanan-layanan Kami, Aplikasi WESSDIL.COM, dan fitur-fitur di dalamnya WESSDIL.COM;</p>
                                                    <p>pengiriman informasi yang Kami anggap berguna untuk Anda termasuk informasi tentang layanan dari Kami (newsletter) setelah Anda memberikan persetujuan kepada Kami bahwa Anda tidak keberatan dihubungi mengenai layanan Kami;</p>
                                                    <p>tujuan administratif internal, seperti; audit, analisis data, rekaman-rekaman dalam data base;</p>
                                                    <p>berkomunikasi dengan Anda sehubungan dengan segala hal mengenai Aplikasi WESSDIL.COM, layanan-layanan Kami, dan/atau fitur-fitur daripadanya;</p>
                                                    <p>menjaga keselamatan, keamanan, dan keberlangsungan Aplikasi WESSDIL.COM, layanan-layanan Kami, dan/atau fitur-fitur daripadanya.</p>
                                                    <br><p>Sehubungan dengan pengumpulan dan penggunaan Data sebagaimana diuraikan dalam poin-poin di atas dengan ini Anda menyatakan telah memberikan persetujuan, izin, dan wewenang kepada Kami (PT Tapak Jejak Indonesia) untuk mengumpulkan dan menggunakan Data untuk tujuan-tujuan sebagaimana dimaksud dalam poin-poin di atas.</p>
                                                </div>
                                                <div>
                                                    <h6>Pencabutan Persetujuan</h6>
                                                    <p>Sehubungan dengan huruf d pada poin tentang “Penggunaan Data Secara Keseluruhan” di atas. Anda berhak untuk meminta Kami untuk berhenti menggunakan Data Pribadi Anda untuk tujuan tersebut. Apabila Anda bermaksud untuk meminta Kami menghentikan penggunaan Data Pribadi Anda untuk tujuan tersebut Anda dapat meng-klik pilihan “unsubscribe” yang ada dalam email atau pesan yang terkait, agar Anda tidak lagi menerima pesan-pesan semacam itu di masa mendatang.</p>
                                                    <p>Jika anda ingin mencabut persetujuan yang Kami telah dapatkan dari Anda sehubungan dengan seluruh tujuan-tujuan penggunaan Data Anda sebagaimana diuraikan dalam poin-poin pada Kebijakan Privasi ini, mohon memberitahukan kepada Kami melalui WESSDIL.COM Customer Service di --</p>
                                                </div>
                                                <div>
                                                    <h6>Pengungkapan kepada Pihak Ketiga</h6>
                                                    <p>Untuk tujuan pengembangan, peningkatan, perlindungan, ataupun perawatan Aplikasi WESSDIL.COM dan layanan-layanan Kami lainnya, Kami terkadang diharuskan untuk mengungkapkan Data kepada pihak ketiga. Anda dengan ini menyatakan telah memberikan persetujuan, izin, dan wewenang kepada Kami (PT Tapak Jejak Indonesia) untuk mengungkapkan dan memberikan akses atas Data kepada pihak ketiga untuk tujuan-tujuan sebagaimana dimaksud dalam paragraf ini. Untuk menghindari keraguan, pihak ketiga sebagaimana dimaksud dalam paragraf ini dapat merupakan, termasuk namun tidak terbatas pada:  </p>
                                                    <div style="padding-left: 20px;">
                                                        <p>perusahaan induk, afiliasi, dan anak perusahaan Kami;</p>
                                                        <p>mitra Kami, termasuk pihak-pihak dengan siapa Kami bekerja sama untuk acara-acara, program-program dan kegiatan-kegiatan tertentu;</p>
                                                        <p>perusahaan-perusahaan riset pemasaran, manajemen acara, sponsor, dan periklanan;</p>
                                                        <p>penyedia layanan, termasuk penyedia layanan teknologi informasi (IT) untuk pekerjaan infrastruktur, perangkat lunak, dan pembangunan; dan
                                                            penasihat profesional, auditor eksternal, penasihat hukum, keuangan, konsultan, dan lain-lain.
                                                        </p><br>
                                                    </div>
                                                    <p>Sehubungan dengan pengungkapan Data Pribadi kepada pihak ketiga untuk tujuan sebagaimana dimaksud dalam paragraf di atas Kami dengan ini menjamin bahwa Kami akan menjaga keamanan dan kerahasiaan dari Data Pribadi milik Anda yang Kami ungkapkan kepada pihak ketiga tersebut. Selain itu, Kami hanya akan mengungkapkan Data Pribadi yang relevan untuk diungkapkan kepada pihak ketiga tersebut sesuai dengan tujuan pengungkapannya dan Kami tidak akan mengungkapkan Data Pribadi milik Anda tanpa adanya suatu perjanjian kerahasiaan antara Kami dengan pihak ketiga yang menerima Data Pribadi tersebut.</p>
                                                    <br>
                                                    <p>Disamping itu, untuk tujuan lainnya, dalam hal-hal tertentu Kami dapat saja diwajibkan untuk mengungkapkan Data Pribadi Anda kepada institusi, instansi, lembaga, badan, ataupun pemerintah yang berwenang berdasarkan suatu peraturan perundang-undangan yang berlaku, surat perintah, surat keputusan, ataupun surat putusan, yang mana dalam hal demikian maka Anda dengan ini menyatakan bahwa Anda telah memberikan persetujuan, izin, dan wewenang kepada Kami (PT Visionet Interansional) untuk mengungkapkan data kepada pihak-pihak tersebut.</p>
                                                    <br>
                                                    <p>Data Pribadi Anda juga dapat diungkapkan kepada pihak ketiga apabila terdapat transaksi perusahaan, seperti; pembentukan perusahaan patungan, penjualan anak perusahaan atau divisi, penggabungan, konsolidasi, pengambilalihan, penjualan aset, ataupun likuidasi.</p>
                                                </div>
                                                <div>
                                                    <h6>Permintaan Akses dan Koreksi Data Pribadi</h6>
                                                    <p>Tunduk pada peraturan perundang-undangan yang berlaku, Anda dapat meminta akses dan/atau meminta koreksi Data Pribadi Anda, dengan menghubungi:</p>
                                                    <div style="padding-left: 30px;">
                                                        <p>WESSDIL.COM Customer Service di --</p>
                                                    </div>
                                                    <p>Kami berhak menolak permintaan Anda untuk mengakses dan/atau membuat koreksi terhadap Data Pribadi Anda karena alasan yang dibenarkan berdasarkan peraturan perundang-undangan yang berlaku.</p>
                                                </div>
                                                <div>
                                                    <h6>Tautan ke Situs Pihak Ketiga</h6>
                                                    <p>Aplikasi WESSDIL.COM dan situs Kami dapat saja berisi tautan ke situs pihak ketiga. Kami tidak bertanggung jawab atas pengumpulan, penggunaan, pemeliharaan, pembagian, atau pengungkapan Data Pribadi Anda oleh pihak ketiga tersebut. Jika anda memberikan informasi langsung ke situs tersebut, kebijakan privasi dan ketentuan layanan di situs tersebut akan berlaku, dan Kami tidak bertanggung jawab atas kegiatan pengolahan informasi atau kebijakan privasi dari situs tersebut.</p>
                                                    <br>
                                                </div>
                                                <div>
                                                    <h6>Data Pribadi dari Anak di bawah Umur dan Individu Lainnya</h6>
                                                    <p>Sebagai orang tua atau wali yang sah, mohon untuk tidak mengizinkan anak di bawah umur (di bawah 18 (delapan belas) tahun) yang berada dalam pengawasan Anda untuk memberikan data pribadi-nya kepada Kami. Jika data pribadi tersebut diberikan kepada Kami, Anda dengan ini menyetujui pemrosesan data pribadi anak di bawah umur tersebut dan secara pribadi menerima dan setuju untuk terikat oleh Kebijakan Privasi ini dan bertanggung jawab atas tindakannya.</p>
                                                    <p>Dalam keadaan tertentu, Anda mungkin memberikan data pribadi yang berkaitan dengan orang lain (seperti pasangan, anggota keluarga, atau teman Anda) dan dalam keadaan tersebut, Anda berarti mewakili dan menjamin bahwa Anda telah memiliki wewenang dan persetujuan dari pemilik data pribadi tersebut untuk memberikan data pribadi mereka kepada Kami untuk digunakan sesuai dengan tujuan-tujuan diuraikan dalam Kebijakan Privasi ini.</p>
                                                    <br>
                                                </div>
                                                <div>
                                                    <h6>Keakuratan Data Pribadi</h6>
                                                    <p>Kami membutuhkan Data Pribadi Anda, salah satunya adalah untuk dapat melakukan pemrosesan transaksi. Oleh karena itu, Data Pribadi yang Anda berikan kepada Kami haruslah seakurat mungkin dan tidak menyesatkan. Selain itu, Anda harus memperbaharui dan memberitahukan kepada Kami apabila ada perubahan terhadap Data Pribadi Anda. Anda dengan ini membebaskan Kami dari setiap tuntutan, gugatan, ganti rugi, dan/atau klaim sehubungan dengan kegagalan pemrosesan transaksi pada Aplikasi WESSDIL.COM yang disebabkan oleh ketidakakuratan Data Pribadi Anda yang Anda berikan kepada Kami.</p>
                                                    <br>
                                                </div>
                                                <div>
                                                    <h6>Akses Tidak Sah</h6>
                                                    <p>Kami bertanggung jawab terhadap Data Pribadi yang Kami kumpulkan dari Anda namun perlu diketahui Anda juga bertanggung jawab untuk menjaga kerahasiaan Data Pribadi Anda dengan tidak akan membiarkan pihak ketiga untuk dapat mengakses Data Pribadi Anda tanpa persetujuan dan sepengetahuan Anda. Sehubungan dengan hal ini, Kami tidak bertanggung jawab atas penyalahgunaan password dan/atau PIN Anda yang Anda buat dan gunakan untuk mengakses Data Pribadi Anda dimanapun Anda menyimpan Data Pribadi Anda, termasuk password dan/atau PIN untuk mengakses atau login Aplikasi WESSDIL.COM Anda. Anda wajib memberitahukan kepada Kami apabila Anda yakin bahwa password dan/atau PIN Aplikasi WESSDIL.COM Anda disalahgunakan oleh pihak ketiga.</p>
                                                    <br>
                                                </div>
                                                <div>
                                                    <h6>Persetujuan Terhadap Kebijakan Privasi</h6>
                                                    <p>Dengan berkomunikasi dengan Kami, menggunakan Aplikasi WESSDIL.COM dan layanan-layanan Kami, ataupun menggunakan fitur-fitur dalam Aplikasi WESSDIL.COM berarti Anda mengakui bahwa Anda telah membaca dan memahami Kebijakan Privasi ini dan menyetujui seluruh ketentuan yang terdapat dalam setiap poin pada Kebijakan Privasi ini.</p>
                                                    <br>
                                                    <p>Kami (PT Tapak Jejak Indonesia) berhak untuk setiap saat mengubah, memperbarui, dan/atau menambahkan sebagian ataupun seluruh ketentuan dalam Kebijakan Privasi ini. Dengan terus berkomunikasi dengan Kami, menggunakan Aplikasi WESSDIL.COM dan layanan-layanan Kami, ataupun menggunakan fitur-fitur dalam Aplikasi WESSDIL.COM berarti menandakan penerimaan Anda atas perubahan, pembaharuan, dan/atau penambahan yang Kami lakukan terhadap Kebijakan Privasi ini.</p>
                                                    <br>
                                                    <p>Jika Anda melanjutkan untuk menggunakan Aplikasi WESSDIL.COM setelah membaca Kebijakan Privasi ini (termasuk pada perubahannya), Anda dianggap telah menyetujui Kebijakan Privasi ini dan dapat menggunakan Aplikasi WESSDIL.COM.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <ul class="nav navigation">
                            <li class=""><a href="#" class="legitRipple">FAQ</a></li>
                            <li class=""><a href="#" class="legitRipple">Kebijakan & Privasi</a></li>
                            <li class="actived"><a href="#" class="legitRipple">Syarat & Ketentuan</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!--Akhir Konten-->
    </div>
</template>

<script>
    export default {
        name: "TermsAndConditions"
    }
</script>

<style scoped>

</style>