<template>
    <div>
        <section class="konten-head">
            <div class="jumbotron">
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <img src="https://wessdil.com/img/slider/online-support.png" alt="">
                        </div>

                        <div class="item">
                            <img src="https://wessdil.com/img/slider/payment.png" alt="">
                        </div>

                        <div class="item">
                            <img src="" alt="">
                        </div>
                    </div>

                    <!-- Left and right controls -->
                    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#myCarousel" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </section>
        <!--Booking Tour-->
        <section class="booking-form">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="panel panel-flat" style="margin-top: -70px !important;">
                            <div class="panel-body">
                                <div class="tabbable">
                                    <ul class="nav nav-tabs nav-tabs-component nav-justified">
                                        <li class="active">
                                            <a href="#" data-toggle="tab" class="legitRipple">
                                                Tour<span class="legitRipple-ripple" style="left: 75.7143%; top: 41.3043%; transform: translate3d(-50%, -50%, 0px); transition-duration: 0.2s, 0.5s; width: 210.519%;"></span>
                                            </a>
                                        </li>
                                        <li>
                                        </li>
                                        <li>
                                        </li>
                                    </ul>

                                    <div class="content" id="">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="destinasi"><span class="icon-location4"></span>Destinasi</label>
                                                    <input type="text" class="form-control" id="destinasi" placeholder="Surabaya">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="tgl-kedatangan"><span class="icon-calendar2"></span>Tanggal Kedatangan</label>
                                                    <input type="text" class="form-control" id="tgl-kedatangan" placeholder="10-05-2019">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="traveler"><span class="icon-man-woman"></span>Jumlah Traveler</label>
                                                    <input type="text" class="form-control" id="traveler" placeholder="2 Dewasa, 1 Anak">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label></label>
                                                    <button class="btn form-control">Cari Tour</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Akhir Booking Tour-->
        <!--Paket Tour-->
        <section class="paket-tour">
            <div class="container">
                <h4 style="font-weight: bold;">Paket Tour</h4>
                <div class="row">
                    <div class="col-md-3">
                        <div class="project">
                            <div class="project__card">
                                <a href="" class="project__image">
                                    <img src="https://wessdil.com/img/best/jakarta.jpg">
                                </a>
                                <div class="project__detail">
                                    <h2 class="project__title"><a href="#">Jakarta</a></h2>
                                    <small class="project__category"><a href="#">1 Day Tour</a></small>
                                </div>
                            </div>
                            <button class="btn">Pilih</button>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="project">
                            <div class="project__card">
                                <a href="" class="project__image">
                                    <img src="https://wessdil.com/img/best/jogja.jpg">
                                </a>
                                <div class="project__detail">
                                    <h2 class="project__title"><a href="#">Jogjakarta</a></h2>
                                    <small class="project__category"><a href="#">1 Day Tour</a></small>
                                </div>
                            </div>
                            <button class="btn">Pilih</button>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="project">
                            <div class="project__card">
                                <a href="" class="project__image">
                                    <img src="https://wessdil.com/img/best/semarang.jpg">
                                </a>
                                <div class="project__detail">
                                    <h2 class="project__title"><a href="#">Semarang</a></h2>
                                    <small class="project__category"><a href="#">1 Day Tour</a></small>
                                </div>
                            </div>
                            <button class="btn">Pilih</button>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="project">
                            <div class="project__card">
                                <a href="" class="project__image">
                                    <img src="https://wessdil.com/img/best/bali.png">
                                </a>
                                <div class="project__detail">
                                    <h2 class="project__title"><a href="#">Bali</a></h2>
                                    <small class="project__category"><a href="#">1 Day Tour</a></small>
                                </div>
                            </div>
                            <button class="btn">Pilih</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Akhir Paket Tour-->
        <!--Plih Hotel-->
        <section class="pilih-hotel">
            <div class="container">
                <h4 style="font-weight: bold;">Pilih Hotel</h4>
                <div class="row">
                    <div class="col-md-3">
                        <div class="project">
                            <div class="project__card">
                                <a href="" class="project__image">
                                    <img src="https://wessdil.com/img/hotel/hotel1.jpeg">
                                </a>
                                <div class="project__detail">
                                </div>
                            </div>
                            <h5>Artotel</h5>
                            <span>
                                <i class="icon-star-full2 star"></i>
                                <i class="icon-star-full2 star"></i>
                                <i class="icon-star-full2 star"></i>
                                <i class="icon-star-full2 star"></i>
                                <i class="icon-star-full2 star"></i>
                            </span><br>
                            <button class="btn btn-rounded">Pilih</button>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="project">
                            <div class="project__card">
                                <a href="" class="project__image">
                                    <img src="https://wessdil.com/img/hotel/hotel2.jpeg">
                                </a>
                                <div class="project__detail">
                                </div>
                            </div>
                            <h5>Artotel</h5>
                            <span>
                                <i class="icon-star-full2 star"></i>
                                <i class="icon-star-full2 star"></i>
                                <i class="icon-star-full2 star"></i>
                                <i class="icon-star-full2 star"></i>
                                <i class="icon-star-empty3 star"></i>
                            </span><br>
                            <button class="btn btn-rounded">Pilih</button>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="project">
                            <div class="project__card">
                                <a href="" class="project__image">
                                    <img src="https://wessdil.com/img/hotel/hotel3.jpeg">
                                </a>
                                <div class="project__detail">
                                </div>
                            </div>
                            <h5>Artotel</h5>
                            <span>
                                <i class="icon-star-full2 star"></i>
                                <i class="icon-star-full2 star"></i>
                                <i class="icon-star-full2 star"></i>
                                <i class="icon-star-full2 star"></i>
                                <i class="icon-star-empty3 star"></i>
                            </span><br>
                            <button class="btn btn-rounded">Pilih</button>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="project">
                            <div class="project__card">
                                <a href="" class="project__image">
                                    <img src="https://wessdil.com/img/hotel/hotel4.jpeg">
                                </a>
                                <div class="project__detail">
                                </div>
                            </div>
                            <h5>Artotel</h5>
                            <span>
                                <i class="icon-star-full2 star"></i>
                                <i class="icon-star-full2 star"></i>
                                <i class="icon-star-full2 star"></i>
                                <i class="icon-star-full2 star"></i>
                                <i class="icon-star-empty3 star"></i>
                            </span><br>
                            <button class="btn btn-rounded">Pilih</button>
                        </div>
                    </div>
                </div>
                <button class="btn btn-sm btn-rounded">Skip</button>
            </div>
        </section>
        <!--Akhir Pilih Hotel-->
    </div>
</template>

<script>
    export default {
        mounted(){
            $(".project").hover3d({
                selector: ".project__card"
            });
        }
    };
</script>

<style scoped>
    @import "https://wessdil.com/css/style.css";
    @import "https://wessdil.com/css/tour.css";
</style>