<template>
    <div v-if="product">
        <!--head-->
        <section class="foto-tour">
            <div class="jumbotron">
                <img v-if="product" :src="baseUrl+'/'+product.cover">
            </div>
        </section>
        <!--akhir head-->
        <!--judul-->
        <section class="judul-tour">
            <div class="container affix-top sticky-title">
                <ul class="breadcrumb breadcrumb-caret position-right">
                    <li>
                        <router-link :to="{name:'home'}">Home</router-link>
                    </li>
                    <li>
                        <router-link :to="{name:'destination',params:{slug:product.destination_slug}}">{{product.destination}}</router-link>
                    </li>
                    <li class="active">
                        <a href="#">{{product.title}}</a>
                    </li>
                </ul>
                <div class="row">
                    <div class="col-md-10">
                        <h2>{{product.title}}</h2>
                        <h4>Rp {{product.price[0].price | numeral('0,0')}} / Pax Minimum {{product.price[0].pax}}</h4>
                        <!--<span><s>Rp 250.000</s></span>-->
                        <hr>
                    </div>
                    <div class="col-md-2">
                        <button data-toggle="modal" data-target="#modalCheckAvailability" class="btn btn-rounded text-center">Book</button>
                        <br>
                        <a href="#"><i class="icon-star-full2">4.7</i> 20K Issued</a>
                    </div>
                </div>
                <div class="row">
                    <ul class="nav nav-tabs nav-tabs-bottom bottom-divided">
                        <li role="presentation" class="active"><a href="#description" class="legitRipple">Description</a></li>
                        <li role="presentation"><a href="#itinerary" class="legitRipple">Itinerary</a></li>
                        <li role="presentation"><a href="#include" class="legitRipple">Include</a></li>
                        <li role="presentation"><a href="#exclude" class="legitRipple">Exclude</a></li>
                        <li role="presentation"><a href="#reviews" class="legitRipple">Reviews</a></li>
                    </ul>
                </div>
            </div>
        </section>
        <!--Akhir Judul-->
        <!--konten-->
        <section class="konten">
            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        <div class="panel panel-flat panel-konten" >
                            <div class="panel-heading" id="description">
                                <h4>Description</h4>
                            </div>
                            <div class="panel-body">
                                <p>{{product.description}}</p>
                            </div>
                            <div class="panel-heading" id="itinerary">
                                <h4>Itenerary</h4>
                                <hr>
                            </div>
                            <div class="panel-body" >
                                <!--<div class="table-responsive">-->
                                    <!--<table class="table text-nowrap">-->
                                        <!--<tbody v-for="(itinerary,index) in product.itinerary">-->
                                        <!--<tr class="active border-double">-->
                                            <!--<td colspan="5">Day {{(index+1)}}</td>-->
                                        <!--</tr>-->
                                        <!--<tr v-for="(description,descriptionIndex) in product.itinerary[index].description" :key="descriptionIndex">-->
                                            <!--<td>-->
                                                <!--<p>-->
                                                    <!--{{description}}-->
                                                <!--</p>-->
                                            <!--</td>-->
                                        <!--</tr>-->
                                        <!--</tbody>-->
                                    <!--</table>-->
                                <!--</div>-->
                                <div v-for="(itinerary,index) in product.itinerary">
                                    <h5>Day {{(index+1)}}</h5>
                                    <ul class="list-group">
                                        <li class="list-group-item" v-for="(description,indexDescription) in product.itinerary[index].description">
                                            {{description}}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!--Exclude / Include-->
                            <!--<div class="panel panel-flat" style="background-color: #eaeaea;">-->
                                <!--&lt;!&ndash;exclude&ndash;&gt;-->
                                <!--<div class="panel-heading" style="background-color: #eaeaea; padding-bottom: 0;">-->
                                    <!--<h5>Exclude</h5>-->
                                    <!--<hr style="">-->
                                <!--</div>-->
                                <!--<div class="panel-body">-->

                                <!--</div>-->
                                <!--&lt;!&ndash;Include&ndash;&gt;-->
                                <!--<div class="panel-heading" style="background-color: #eaeaea; padding-bottom: 0;">-->
                                    <!--<h5>Include</h5>-->
                                    <!--<hr>-->
                                <!--</div>-->
                                <!--<div class="panel-body">-->

                                <!--</div>-->
                            <!--</div>-->
                            <!--&lt;!&ndash;Akhir Exclude / Include&ndash;&gt;-->
                            <!--suitable-->
                            <div class="panel-heading" id="include">
                                <h4> Include</h4>
                                <hr>
                            </div>
                            <div class="panel-body" >
                                <ul class="list-group">
                                    <li class="list-group-item" v-for="(include,index) in product.include" :key="index">
                                        <span class="fa fa-list-alt"></span> {{include}}
                                    </li>
                                </ul>
                            </div>
                            <!--akhir suitable-->
                            <!--Things Must Be Carried-->
                            <div class="panel-heading" id="exclude">
                                <h4>Exclude</h4>
                                <hr>
                            </div>
                            <div class="panel-body">
                                <ul class="list-group">
                                    <li class="list-group-item" v-for="(exclude,index) in product.exclude" :key="index">
                                        {{exclude}}
                                    </li>
                                </ul>
                            </div>
                            <!--akhir Things Must Be Carried-->
                            <!--Additional Information-->
                            <!--akhir Additional Information-->
                        </div>
                        <div class="panel panel-flat panel-konten" id="reviews">
                            <div class="panel-heading">
                                <h5>Reviews</h5>
                                <hr>
                            </div>
                            <!--<ul class="media-list panel-body" style="padding-right: 30px;">-->
                                <!--<li class="media">-->
                                    <!--<div class="media-left">-->
                                        <!--<img src="https://wessdil.com/img/user.png" alt="" class="img-circle img-md">-->
                                    <!--</div>-->
                                    <!--<div class="media-body">-->
                                        <!--<a href="" class="media-heading">-->
                                            <!--<span class="text-semibold">Nama User</span>-->
                                            <!--<span class="media-annotation pull-right">-->
                                                <!--<i class="icon-star-full2"></i>-->
                                            <!--</span>-->
                                        <!--</a>-->
                                        <!--<span class="text-muted">-->
                                            <!--Lorem ipsum dolor sit amet, consectetur adipiscing elit,-->
                                            <!--sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.-->
                                            <!--Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi-->
                                            <!--ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit-->
                                            <!--in voluptate velit esse cillum dolore eu fugiat nulla pariatur.-->
                                            <!--Excepteur sint occaecat cupidatat non proident,-->
                                            <!--sunt in culpa qui officia deserunt mollit anim id est laborum.-->
                                        <!--</span>-->
                                    <!--</div>-->
                                <!--</li>-->
                            <!--</ul>-->
                            <!--<ul class="media-list panel-body" style="padding-right: 30px;">-->
                                <!--<li class="media">-->
                                    <!--<div class="media-left">-->
                                        <!--<img src="https://wessdil.com/img/user.png" alt="" class="img-circle img-md">-->
                                    <!--</div>-->
                                    <!--<div class="media-body">-->
                                        <!--<a href="" class="media-heading">-->
                                            <!--<span class="text-semibold">Nama User</span>-->
                                            <!--<span class="media-annotation pull-right">-->
                                                <!--<i class="icon-star-full2"></i>-->
                                            <!--</span>-->
                                        <!--</a>-->
                                        <!--<span class="text-muted">-->
                                            <!--Lorem ipsum dolor sit amet, consectetur adipiscing elit,-->
                                            <!--sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.-->
                                            <!--Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi-->
                                            <!--ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit-->
                                            <!--in voluptate velit esse cillum dolore eu fugiat nulla pariatur.-->
                                            <!--Excepteur sint occaecat cupidatat non proident,-->
                                            <!--sunt in culpa qui officia deserunt mollit anim id est laborum.-->
                                        <!--</span>-->
                                    <!--</div>-->
                                <!--</li>-->
                            <!--</ul>-->
                        </div>
                    </div>
                    <!--<div class="col-md-3">-->
                        <!--<div class="panel panel-flat panel-konten">-->
                            <!--&lt;!&ndash;hotel&ndash;&gt;-->
                            <!--<h5>Best Place for Stay</h5>-->
                            <!--<hr>-->
                            <!--<div class="panel panel-flat card-best">-->
                                <!--<div class="panel-head best-img">-->
                                    <!--<img src="https://wessdil.com/img/hotel/hotel1.jpeg" alt="">-->
                                    <!--<div class="overlay">-->
                                        <!--<span class="nama">Hotel Artotel</span>-->
                                        <!--<i class="icon-star-full2 rating-hotel">4.7</i>-->
                                        <!--<span class="harga">Rp 200.000</span>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="panel panel-flat card-best">-->
                                <!--<div class="panel-head best-img">-->
                                    <!--<img src="https://wessdil.com/img/hotel/hotel2.jpeg" alt="">-->
                                    <!--<div class="overlay">-->
                                        <!--<span class="nama">Hotel Artotel</span>-->
                                        <!--<i class="icon-star-full2 rating-hotel">4.7</i>-->
                                        <!--<span class="harga">Rp 200.000</span>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="panel panel-flat card-best">-->
                                <!--<div class="panel-head best-img">-->
                                    <!--<img src="https://wessdil.com/img/hotel/hotel3.jpeg" alt="">-->
                                    <!--<div class="overlay">-->
                                        <!--<span class="nama">Hotel Artotel</span>-->
                                        <!--<i class="icon-star-full2 rating-hotel">4.7</i>-->
                                        <!--<span class="harga">Rp 200.000</span>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--&lt;!&ndash;restaurant&ndash;&gt;-->
                            <!--<h5>Best Restaurant</h5>-->
                            <!--<hr>-->
                            <!--<div class="panel panel-flat card-best">-->
                                <!--<div class="panel-head best-img">-->
                                    <!--<img src="https://wessdil.com/img/best/jogja.jpg" alt="">-->
                                    <!--<div class="overlay">-->
                                        <!--<span class="nama-restaurant">Nama Restaurant</span>-->
                                        <!--<span class="nama-menu">Nama Menu</span>-->
                                        <!--<i class="icon-star-full2 rating-restaurant">4.7</i>-->
                                        <!--<span class="harga-restaurant">Rp 200.000</span>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="panel panel-flat card-best">-->
                                <!--<div class="panel-head best-img">-->
                                    <!--<img src="https://wessdil.com/img/best/jogja.jpg" alt="">-->
                                    <!--<div class="overlay">-->
                                        <!--<span class="nama-restaurant">Nama Restaurant</span>-->
                                        <!--<span class="nama-menu">Nama Menu</span>-->
                                        <!--<i class="icon-star-full2 rating-restaurant">4.7</i>-->
                                        <!--<span class="harga-restaurant">Rp 200.000</span>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="panel panel-flat card-best">-->
                                <!--<div class="panel-head best-img">-->
                                    <!--<img src="https://wessdil.com/img/best/jogja.jpg" alt="">-->
                                    <!--<div class="overlay">-->
                                        <!--<span class="nama-restaurant">Nama Restaurant</span>-->
                                        <!--<span class="nama-menu">Nama Menu</span>-->
                                        <!--<i class="icon-star-full2 rating-restaurant">4.7</i>-->
                                        <!--<span class="harga-restaurant">Rp 200.000</span>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                </div>
            </div>
        </section>
<!--modal-->
        <div id="modalCheckAvailability" class="modal fade" tabindex="-1">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h5 class="modal-title">check availability</h5>
                    </div>

                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>Adult</label>
                                    <input type="text" v-if="product" v-model="pax.adult" class="input-lg touchspin-adult">
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>Child</label>
                                    <input type="text" v-if="product" v-model="pax.child" class="input-lg touchspin-child">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <vue-ctk-date-time-picker
                                        :disabled-dates="getDisableDate"
                                        :no-button-now="true"
                                        :format="'DD-MM-YYYY'"
                                        :inline="true"
                                        :onlyDate="true"
                                        v-model="arrivalDate">

                                </vue-ctk-date-time-picker>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-link" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary" @click="bookBtn">Book</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- end modal -->
        <!--akhir konten-->
    </div>
</template>

<script>
    import {mapGetters} from 'vuex'
    import VueCtkDateTimePicker from 'vue-ctk-date-time-picker';
    import NumberInputSpinner from 'vue-number-input-spinner'
    import 'vue-ctk-date-time-picker/dist/vue-ctk-date-time-picker.css';
    export default {
        data(){
            return {
                arrivalDate:'',
                pax:{adult:0,child:0},
                disableDates:['2019-08-09','2019-08-10']
            }
        },
        components:{
            'VueCtkDateTimePicker':VueCtkDateTimePicker,
            NumberInputSpinner,

        },
        created(){
            this.$store.dispatch('ProductStore/readSlug',{url:'public/product/detail/'+this.$route.params.productslug})
        },
        updated(){
            let app = this
            $(".touchspin-adult").TouchSpin({
                postfix: '<i class="icon-people"></i>'
            }).on('change',function (value) {
                app.pax.adult = $(this).val()
            })

            $(".touchspin-child").TouchSpin({
                postfix: '<i class="icon-people"></i>'
            }).on('change',function (value) {
                app.pax.child = $(this).val()
            })
        },
        computed:{
            ...mapGetters('ProductStore',{product:'getProduct'}),
            getDisableDate(){
                let datenow = this.getDateNowFormated().toString()
                console.log(datenow)
                let disableDates = []
                disableDates.push(datenow)
                return disableDates
            }
        },
        methods:{
            bookBtn(){
                let pax = parseInt(this.pax.child) + parseInt(this.pax.adult)
                console.log(pax)
                if(pax < this.product.price[0].pax){
                    this.$toasted.info('Minimum pax must be '+ this.product.price[0].pax)
                }else{
                    $('#modalCheckAvailability').modal('toggle')
                    this.$router.push({name:'book',query:{product:this.product.slug,arrival:this.arrivalDate,adult:this.pax.adult,child:this.pax.child}})
                }
            }
        }
    }
</script>

<style scoped>
    @import "https://wessdil.com/css/style.css";
    @import "https://wessdil.com/css/tour-detail.css";
</style>